<div class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event)"
        [accept]="this.allowedFileTypeStr" />
    <i class="bi bi-file-earmark-arrow-up-fill fs-4 clr-primary"></i>
    <p class="fw-bold mt-2 mb-1">Upload consolidated PDF</p>
    <label for="fileDropRef"><small class="text-secondary">Drag and drop the file here.</small></label>
</div>
<!-- {{getRawValue|json}} -->
@if (currentFile) {
<div class="files-list">
    <div class="single-file">
        <div class="file-icon" style="width: 50px">
            <div class="align-self-center">
                <i class="bi bi-file-earmark-pdf-fill fs-4 me-1 text-danger"></i>
            </div>
        </div>
        <div class="info">
            <h4 class="name">
                {{ currentFile.name }}
            </h4>
            <p class="size">
                {{ formatBytes(currentFile.size) }}
            </p>
            <!-- <app-progress [progress]="progress"></app-progress> -->
            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>

        </div>

        <div class="delete align-self-center" (click)="deleteFile()">
            <mat-icon class="text-danger fs-3 me-1">delete_forever</mat-icon>
        </div>
    </div>
</div>
} @else if (getRawValue.file.name) {
<div class="files-list">
    <div class="single-file">
        <div class="file-icon" style="width: 50px">
            <div class="align-self-center upload-doc-icon">
                <img src="./assets/images/pdf.png" alt="...">
            </div>
        </div>
        <div class="info">
            <h4 class="name">
                {{ getRawValue.file.name }}
            </h4>
        </div>
        <div class="delete" (click)="deleteFile()">
            <mat-icon>delete_forever</mat-icon>
        </div>
    </div>
</div>
}