* {
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--clr-primary);
}

.dotted-card {
  background-color: rgba(61, 31, 2, 1);
  border: 1px dashed var(--clr-primary);
  border-radius: 10px;
}
