@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

::ng-deep .tooltip-custom-1 {
  transform: translateY(-4000px);
}

::ng-deep .tooltip-custom {
  background: white;
  border: 1px solid black;
  color: black;
  position: absolute;
}

.stateMap {
  border-radius: inherit;
  bottom: 0px;
  background: initial;
  z-index: 8;
  display: inline-block;
  width: 98%;
  height: 85%;
  max-height: 100%;
  transition: all 0.8s;
  padding-top: 2%;

  @media screen and (max-width: 768px) {
    width: 99vw;
  }
}

.stateMapContainer {
  padding: 0px;
  position: relative;
  min-height: 530px;

  @media (max-width: 600px) {
    min-height: 550px;
  }

  border-radius: 5px;
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  background: white;
}

div.miniMap {
  position: absolute !important;
  background: transparent;
  transform-origin: 0 100%;
  transform: scale(0.2) !important;
  bottom: 10% !important;
  left: 1% !important;
  z-index: 999;
  display: none;
}

::ng-deep.miniMapOverlay {
  background: transparent;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  z-index: 9999;
}

#districtMapContainer {
  padding: 0px;
  width: 98%;
  position: absolute;
  top: 0%;
  border-radius: inherit;
  border-left: inherit;

  @media (max-width: 768px) {
    margin-top: 0%;
    height: 100%;
  }
}

.skeletonWrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ulbSelectDropdown {
  z-index: 9;
  position: absolute;
  right: -3.5%;
  top: 11%;
  width: 50%;
  background: transparent;
  max-width: 259.199px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.regionalDetails {
  min-width: 197px;
  width: 92%;
  background: white;
  border: 0.1px solid rgb(134, 134, 134);
  border-radius: 5px;
  position: absolute;
  right: 65%;
  padding: 1% 1%;
  box-shadow: 1px 4px 5px 3px #e4e0e0;
  transition: 1s all;
  z-index: 1;
}

.regionalDetails2 {
  width: fit-content;
  display: flex;
  margin-top: 2%;
  transform: scale(0.8);
}

.ulbDetails {
  transform: scale(0.8);
  margin-top: -10%;

  & > span {
    display: block;
  }
}

.selectedEntity {
  position: absolute;
  z-index: 999;
  padding-left: 2%;
  text-decoration: underline;
  font-weight: 500;
  display: inherit;
  margin-top: 3.8rem;
  width: 100%;
  top: 0;
  left: 0;

  @media screen and (max-width: 768px) {
    margin-top: 0.5rem;
  }
}

.bold {
  font-weight: 600;
}

#details > p {
  background: white;
}

.overlay {
  display: block;
  position: absolute;
  width: 200px;
  height: 600px;
  bottom: 50px;
  right: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

.progress {
  width: 100px;
  height: 100px;
  background: none;
  position: relative;
  display: flex;
  font-size: 0.6em;
  align-items: center;
  justify-content: center;
  transform: scale(0.5);
}

.progress::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: relative;
  top: 0;
  left: 0;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ffc500;
}

::ng-deep.unfilled circle {
  stroke: rgba(180, 180, 180, 0.247) !important;
}

.colorText {
  color: #8bd2f0;
}

::ng-deep .leaflet-zoom-animated svg g {
  transform: translateX(-5%) !important;
}

::ng-deep div#cdk-overlay-0.cdk-overlay-pane {
  min-width: 200.1px !important;
}

::ng-deep .analytics-map {
  .leaflet-bottom {
    transform: scale(0.55);
    width: 100%;
    font-size: 0.7vw;
  }

  .leaflet-control {
    .indicator-items {
      display: flex;
      gap: 20px;

      div {
        display: flex;
        align-items: center;
        font-size: 12px;
        text-wrap: nowrap;
      }
    }

    width: fit-content;
    transform: scale(1.6) translateY(-50%);
    position: absolute;
    bottom: 0px;
    background: transparent;

    @media screen and (max-width: 1024px) and (min-width: 560px) {
      font-size: $font-size-base * 0.75;
    }

    @media screen and (max-width: 551px) {
      font-size: $font-size-base * 0.625;
      width: 100%;
      margin: 0 0;
      left: -30px;
      padding: 0;
      margin-left: 0 !important;
    }

    @media screen and (min-width: 410px) and (max-width: 415px) {
      width: 65%;
      left: -40px;
    }

    @media screen and (max-width: 405px) and (min-width: 320px) {
      font-size: $font-size-base * 0.75;
      width: 51%;
    }

    @media screen and (max-width: 319px) {
      display: none;
    }
  }
}

::ng-deep {
  .leaflet-control-attribution {
    display: none;
  }

  .cuppa-dropdown {
    position: relative;
    margin-top: -2px;
  }

  .map-click-guide {
    position: absolute;
    bottom: 3vh;
  }

  .national-map-click-guide {
    margin-left: 13%;
    width: fit-content;
    margin-top: 2%;
    bottom: 1px;
    font-size: 1vw;

    @media screen and (max-width: 1024px) and (min-width: 560px) {
      font-size: $font-size-base * 0.75;
    }

    @media screen and (max-width: 551px) {
      font-size: $font-size-base * 0.75;
      margin: auto;
    }
  }

  .state-map-click-guide {
    text-align: center;
    left: 18%;
    margin: 2% auto;
    position: absolute;
    bottom: 1px;
    font-size: 0.8vw;

    @media screen and (max-width: 768px) {
      font-size: 2.8vw;
    }
  }

  .map-click-guide {
    right: 5vw;
  }
}

.customDropdown {
  min-height: 70.84px;
}

@media screen and (max-width: 768px) {
  ::ng-deep .mat-option-text {
    white-space: nowrap;
  }
}

:ng-deep {
  .leaflet-control-container {
    .leaflet-top.leaflet-left {
      left: 10% !important;
      top: 5% !important;
    }
  }
}

::ng-deep .leaflet-pane > svg path.leaflet-interactive {
  stroke: black !important;
  stroke-width: 1px;
  outline: none;
}

::ng-deep #districtMapId .leaflet-pane > svg path.leaflet-interactive {
  filter: drop-shadow(0px 1px 0px #1e3571) drop-shadow(0px 2px 0px #1e3571)
    drop-shadow(0px 3px 0px #1e3571) drop-shadow(0px 4px 0px #1e3571)
    drop-shadow(0px 5px 0px #1e3571) drop-shadow(0px 6px 0px #1e3571)
    drop-shadow(0px 7px 0px #1e3571);
  stroke-width: 0 !important;
}

::ng-deep .selected-list {
  border-radius: 8px !important;
  background-color: #e9ecf7;
}

::ng-deep .c-remove,
::ng-deep .clear-all {
  display: none;
}

@media screen and (max-width: 520px) {
  .inp-grp {
    margin-top: 0.8rem;
  }
}

.heading {
  font: normal normal 600 26px/28px 'Archivo';
  letter-spacing: 0px;
  color: #0f1f40;
}

.form-select {
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  font: normal normal 600 13px/14px 'Archivo';
  letter-spacing: 0px;
  color: #000000;
  padding: 0.75rem 2.25rem 0.75rem 0.75rem;
}

.nav {
  justify-content: center;
  flex-wrap: nowrap;
}

.nav-item {
  background: #f7f8ff 0% 0% no-repeat padding-box;
  border: 1px solid #d9dce6;
  text-align: center;
}

.nav-item:first-child {
  background: #f7f8ff 0% 0% no-repeat padding-box;
  border: 1px solid #d9dce6;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nav-item:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

li > a.active,
li > a.active:active {
  background-color: #e67e15 !important;
  color: #fff;
}

.popActive {
  background-color: #e67e15 !important;
  color: #fff;
}

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: inherit;
}

.nav > li > a {
  padding: 0.8rem 2.5rem;
}

.table {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e4e4e4;
  border-radius: 5px 5px 0px 0px;
}

.table > :not(:first-child) {
  border-top: none;
}

thead > tr > th {
  border-right: 1px solid #e4e4e4;
  background: #f7f9ff 0% 0% no-repeat padding-box;
  font: normal normal 600 14px/14px 'Archivo';
  letter-spacing: 0px;
  color: #0f1f40;
}

.table > tbody > tr:first-child {
  border-right: 1px solid #e4e4e4;
  // border-bottom: 1px solid #e4e4e4;
  background: #ffffff;
  font: normal normal 600 14px/14px 'Archivo';
  letter-spacing: 0px;
  color: #0f1f40;
}

.table > tbody > tr > td {
  border: none;
  border-right: 1px solid #e4e4e4;
  font: normal normal 500 14px/15px 'Archivo';
  letter-spacing: 0px;
  color: #0f1f40;
}

th,
td {
  padding: 15px 20px !important;
}

@media screen and (max-width: 428px) {
  .table-con > .table > thead > tr > th:first-child,
  .table-con > .table > tbody > tr > td:first-child {
    position: sticky;
    left: 0;
    z-index: 99;
    background-color: #f7f9ff;
  }
}

.inp-grp {
  display: inline-flex;
}

.expo-drp-in {
  border-radius: 8px !important;
  font: normal normal 600 14px/15px 'Archivo';
  letter-spacing: 0px;
  color: #000000;
}

.map-reset {
  font: normal normal bold 14px/15px 'Archivo';
  letter-spacing: 0px;
  color: #e67e15;
}

@media screen and (max-width: 428px) {
  .form-select {
    margin-top: 1rem;
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  .dataAvailability {
    margin-top: 8%;
  }

  .downloadData {
    margin-top: 7%;
  }
}

.searchButton {
  border: none;
  padding: 6px;
  width: auto;
  font-size: 1em;
  border-radius: 5px;
  background-color: #e67e15;
  border: 1px solid #e67e15;
  color: #ffffff;
  cursor: pointer;
}

.bottomDownloadButton {
  border: 1px solid #f2991f;
  color: #f2991f;
  border-radius: 6px;
  background-color: white;
  margin-left: 10px;
}

.circular-div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
}

.markerText {
  margin-left: 10px;
  font-size: 14px !important;
  width: max-content;
}

.miniMap {
  visibility: hidden;
}

@media (max-width: 767.98px) {
  .stateMap {
    width: 100% !important;
  }
}
