<div class="bg-white">
  <header class="border-bottom">
    <div class="container d-none d-md-flex justify-content-between align-items-center py-1 px-0">
      <div>
        <img
          src="./assets/images/emblem-of-india.svg"
          width="11"
          alt="Emblem of India"
          class="me-2"
        />
        <span class="text-10px">MINISTRY OF HOUSING AND URBAN AFFAIRS | GOVERNMENT OF INDIA</span>
      </div>
      <div>
        <a
          (click)="scrollToMainContent()"
          href="javascript:void(0)"
          class="text-12px me-2 text-decoration-none text-cfPrimary"
        >
          Skip To Main Content
        </a>
        @for (size of textSize; track $index) {
          <button
            type="button"
            class="text-{{ size }} cursor-pointer btn btn-outline-dark"
            [ngClass]="currentTextSize === size ? 'active' : ''"
            (click)="setFontSize(size)"
          >
            A
          </button>
        }
      </div>
    </div>
  </header>

  <app-navbar></app-navbar>
</div>
