// section {
//     text-align: center;
// }

// .card {
//     background-color: #f5f6ff;
//     border: 1px solid #9ca4ed;
// }

// .form-check {
//     margin-top: 25px;

//     .form-check-label {
//         font-size: 26px;
//         margin-left: 10px;
//     }

//     .form-check-input {
//         transform: scale(1.5);
//         margin-top: 12px;
//     }
// }

// .expo-drp-in {
//     border-radius: 8px !important;
//     font: normal normal 600 14px/15px "Archivo";
//     letter-spacing: 0px;
//     color: #000000;
// }

.map-loader {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-bg {
  background-image: url('/assets/fiscal-rankings/map-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 100px 0;
}

.bg-img {
  background-image: url('/assets/fiscal-rankings/participedUlb.png');
  // background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
// .custom-btn-group {
//     $primary-color: #E67E15;

//     .btn-outline-primary {
//         color: $primary-color;
//         border-color: $primary-color;

//         &:hover {
//             color: #fff;
//             background-color: $primary-color;
//             border-color: $primary-color;
//         }

//         &.active,
//         &:focus {
//             outline: none;
//             color: #fff;
//             background-color: $primary-color;
//             border-color: $primary-color;
//         }
//     }

//     .btn-check:checked+.btn-outline-primary {
//         color: #fff;
//         background-color: $primary-color;
//         border-color: $primary-color;
//     }
// }

// .pd-top {
//     padding-top: 2rem;
// }

// .min-h-60 {
//     min-height: 650px;
// }

* {
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
}

p {
  margin: 0;
  padding: 0;
}

::ng-deep .selected-list {
  border: 1px solid lightgray;
  background-color: white !important;
  padding: 0.12rem;
}

.card-clr {
  background-color: rgba(248, 250, 255, 1);
}

.btn-check:checked + .font-white{
  color: white;
}