<app-loader *ngIf="isLoadingResults"></app-loader>
<div class="container bg-img">
  <app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>

  <section class="d-flex justify-content-end">
    <input
      type="text"
      class="form-control px-4 py-3 w-25"
      placeholder="Search for any ULB..."
      (click)="openSearch()"
    />
  </section>

  <section class="text-center">
    <h3 class="mt-4 fw-bold">Ranking of ULBs</h3>
    <p class="mt-3">
      Discover Ranking and Score of ULBs across different population categories and parameters
    </p>
  </section>

  <section class="map-bg mt-4">
    <div class="row m-0 min-h-60">
      <div class="col-md-5 p-3">
        <ng-container *ngIf="!isLoadingResults; else mapLoader">
          <!-- <app-india-map *ngIf="selectedMap === 'topUlbs'" [markers]="markers"> </app-india-map> -->
          <!-- <app-india-map [colorCoding]="colorCoding" [identifier]="'top-ranking'" [colorDetails]="colorDetails"
            label="Number of rank holding ULBs in each state" [markers]="markers">
          </app-india-map> -->
          <app-statewise-map [markers]="markers"></app-statewise-map>
        </ng-container>
        <ng-template #mapLoader>
          <app-pre-loader></app-pre-loader>
          <!-- <div class="map-loader">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <p class="text-center">Loading map</p>
          </div> -->
        </ng-template>
      </div>

      <form class="col-md-7" [formGroup]="filter">
        <div class="card-clr p-4 mt-4 border border-secondary-subtle rounded">
          <div class="d-flex align-items-center justify-content-between">
            <p class="fw-bold">Explore Ranking across State and Population Category</p>
            <!-- Show the button only to:  MoHUA, Admin, ULBs, States.  -->
            @if (isLoggedIn && ['ADMIN', 'MoHUA', 'ULB', 'STATE'].includes(userRole)) {
              <!-- <p>{{userRole}} | {{isLoggedIn}}</p> -->
              <button
                type="button"
                class="btn btn-outline-cfPrimary"
                matTooltip="Download Rankings"
                (click)="downloadRankings()"
              >
                <i class="bi bi-download"></i>
              </button>
            }
          </div>

          <div class="d-flex justify-content-between gap-4 mt-4">
            <div class="d-flex w-100 justify-content-between flex-column">
              <h6>State Name</h6>
              <angular2-multiselect
                class="fw-bold"
                [data]="stateList"
                formControlName="stateData"
                [settings]="dropdownSettings"
              >
              </angular2-multiselect>
            </div>
            <div class="d-flex w-100 justify-content-between flex-column">
              <h6>Population Category</h6>
              <select class="form-select p-2 fw-bold" formControlName="populationBucket">
                <option value="">All Categories</option>
                <option *ngFor="let item of populationCategories" [value]="item._id">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div
          class="btn-group my-4 d-flex justify-content-center"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <ng-container *ngFor="let type of types">
            <input
              type="radio"
              class="btn-check"
              formControlName="category"
              [id]="type?.key"
              [value]="type?.key"
            />
            <label
              class="btn btn-sm btn-outline-cfPrimary font-white text-truncate"
              matTooltip="{{ type?.label }}"
              [for]="type?.key"
            >
              {{ type?.label }}
            </label>
          </ng-container>
        </div>

        <div class="my-4">
          <app-mat-common-table
            *ngIf="table?.response"
            [response]="table.response"
            [isPagination]="true"
            (pageChange)="pageChange($event)"
          ></app-mat-common-table>
        </div>
      </form>
    </div>
  </section>
</div>
