* {
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
}

p {
  margin: 0;
  padding: 0;
}

.map-loader {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-bg {
  background-image: url('../../../../assets/fiscal-rankings/map-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 100px 0;
}

.bg-img {
  background-image: url('../../../../assets/fiscal-rankings/participedUlb.png');
  // background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.card-clr {
  background-color: rgba(248, 250, 255, 1);
}

.btn-check:checked + .font-white {
  color: white;
}

::ng-deep input,
::ng-deep mat-select,
::ng-deep mat-option {
	margin: 0;
	padding: 0;
	font-family: var(--ff-base) !important;
	font-size: 1rem !important;
	font-weight: var(--fw-medium) !important;
}

