<div class="filter-d mt-3 mb-3">
  <div class="row mt-4 responsiveFilterClass">
    <div class="col-lg-12 col-sm-12 col-md-12 fl-form">
      <div class="row">
        <div class="col-sm-12 f-h">
          <div class="card-body filter">
            <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2">
                <select class="form-select" aria-label="Default select" [(ngModel)]="categoryId"
                  (change)="loadSubCategories(); loadData();">
                  <option [value]="null">Category</option>
                  <option [value]="category?._id" *ngFor="let category of categories">{{ category?.name }}</option>
                </select>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <select class="form-select" aria-label="Default select" [(ngModel)]="subCategoryId"
                  (change)="loadData()">
                  <option [value]="null">Sub category</option>
                  <option [value]="subCategory?._id" *ngFor="let subCategory of subCategories">{{ subCategory?.name }}
                  </option>
                </select>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                <button type="button" class="clearBtn" (click)="clearFilters()">
                  <span> Clear All </span>
                  <span style="padding-left: 6px; width: 12px">
                    <img src="../../../../assets/new_dashBord_ftr_hdr/cancel.svg" alt="" />
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 info-text mb-3">
    <p>
      The data in this part is intended to offer an explanation of terms/ideas connected with issue and posting of
      Municipal Debt Securities. The data is sourced through a collaboration with Securities and Exchange Board of India
    </p>
  </div>
</div>


<div class="row" *ngIf="cardData.length > 0">
  <a href="{{ item?.file.url | toStorageUrl }}" target="_blank" class="col-sm-12 col-md-4 col-lg-3" *ngFor="let item of cardData"
    style="margin: 1rem 0">
    <div class="card-body pdf">
      <div style="position: relative">
        <pdf-viewer [src]="item?.file?.url | toStorageUrl" [render-text]="false" [show-all]="false"
          style="display: block; height: 250px" [page]="1" [zoom-scale]="'page-fit'" [original-size]="false">
        </pdf-viewer>
      </div>
      <div class="file-name">{{ item?.file?.name }}</div>
    </div>
  </a>
</div>

<div class="row" *ngIf="cardData.length == 0">
  <div class="col-sm-12 mb-3">
    <img class="rounded mx-auto d-block" src="assets/images/sad.svg" />
    <p class="text-center">
      No repository found
    </p>
  </div>
</div>