<section class="light-bg py-3">
  <div class="container">
    <!-- Go to state dashbard -->
    <a href="xyz" class="custom-font-size-7"> Go To {{ selectedStateNameSignal() }} Dashboard </a>

    <!-- Grid data + Map  -->
    <div class="row my-3">
      <!-- Left section -->
      <div class="col-sm-12 col-md-6">
        <h1 class="fw-bold my-3 fs-2">{{ selectedCityNameSignal() }}</h1>
        <p class="my-3">
          This urban local body has been classified as a Municipal Corporation in the
          {{ popCat }} population category
        </p>
        <!-- Grid -->
        @if (isLoading1) {
          <app-pre-loader></app-pre-loader>
          <app-pre-loader></app-pre-loader>
        } @else {
          <app-grid-view [gridData]="exploreData"></app-grid-view>
        }
      </div>

      <!-- Right Section -->
      <div class="col-sm-12 col-md-6 my-3">
        <!-- State and ULB search -->
        <div class="d-flex justify-content-between justify-content-md-end gap-2 flex-grow-1">
          <app-state-search
            [selectState]="onStateSelected"
            [stateName]="selectedStateNameSignal()"
            [isStateReadonly]="true"
          ></app-state-search>
          @if (selectedStateNameSignal()) {
            <app-city-search
              [selectCity]="onUlbSelected"
              [cityName]="selectedCityNameSignal()"
              [stateId]="selectedStateIdSignal()"
            ></app-city-search>
          }
        </div>

        <!-- State Map -->
        <div class="position-relative row" style="min-height: 350px">
          <app-map
            #map
            [stateCode]="stateCode"
            [ulbId]="ulbId"
            (ulbIdChange)="selectedCityIdChange($event)"
          ></app-map>
        </div>
      </div>
      <!-- {{ stateCode }} {{ ulbId }} -->
    </div>

    <!-- Money Cards -->
    <app-info-cards></app-info-cards>

    <!-- Last modified date -->
    <p class="text-secondary text-end mt-3 mb-0" style="font-size: 0.75rem">
      Last updated on: {{ lastModifiedAt | date: 'short' }}; Source: Financial statements for the
      year 2021-22
    </p>
  </div>
</section>
