* {
    font-family: var(--ff-base);
    font-weight: var(--fw-medium);
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mat-tab-disabled-ripple-color: rgba(0, 0, 0, 0.38);
    --mat-tab-pagination-icon-color: black;
    --mat-tab-inactive-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-active-label-text-color: var(--clr-secondary);
    --mat-tab-active-ripple-color: var(--clr-secondary);
    --mat-tab-inactive-ripple-color: var(--clr-secondary);
    --mat-tab-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-active-focus-label-text-color: var(--clr-secondary);
    --mat-tab-active-hover-label-text-color: var(--clr-secondary);
    --mat-tab-active-focus-indicator-color: var(--clr-secondary);
    --mat-tab-active-hover-indicator-color: var(--clr-secondary);
    --mat-tab-active-indicator-color: var(--clr-secondary);
}

/* chart.css */
.chart-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

canvas {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: auto;
}