<section class="bg-light-primary py-3">
  <div class="container">
    <!-- Show message if ULB is denotified. -->
    @if (this.isActive === false) {
      <div class="alert alert-danger fw-bold text-center" role="alert">
        This ULB has been denotified.
      </div>
    }

    <!-- Go to state dashbard -->
    <a href="xyz" class="custom-font-size-7"> Go To {{ selectedStateNameSignal() }} Dashboard </a>

    <!-- Grid data + Map  -->
    <div class="row my-3">
      <!-- Left section -->
      <div class="col-sm-12 col-md-6">
        <h1 class="fw-bold my-3 fs-2">{{ selectedCityNameSignal() }}</h1>
        <p class="my-3">
          This urban local body has been classified as a Municipal Corporation in the
          {{ popCat }} population category
        </p>
        <!-- Grid -->
        @if (isLoading1) {
          <app-pre-loader></app-pre-loader>
          <app-pre-loader></app-pre-loader>
        } @else {
          <app-grid-view [gridData]="exploreData"></app-grid-view>
        }
      </div>

      <!-- Right Section -->
      <div class="col-sm-12 col-md-6 my-3">
        <!-- State and ULB search -->
        <div class="d-flex justify-content-between justify-content-md-end gap-2 flex-grow-1">
          <app-state-search
            [selectState]="onStateSelected"
            [stateName]="selectedStateNameSignal()"
            [isStateReadonly]="true"
          ></app-state-search>
          @if (selectedStateNameSignal()) {
            <app-city-search
              [selectCity]="onUlbSelected"
              [cityName]="selectedCityNameSignal()"
              [stateId]="selectedStateIdSignal()"
            ></app-city-search>
          }
        </div>

        <!-- State Map -->
        <div class="position-relative row" style="min-height: 350px">
          @if (stateCodeSignal() && ulbIdSignal()) {
            <app-map
              #map
              [stateCode]="stateCodeSignal()"
              [ulbId]="ulbIdSignal()"
              (ulbIdChange)="selectedCityIdChange($event)"
            ></app-map>
          }
        </div>
      </div>
      <!-- {{ stateCode() }} {{ ulbId }} -->
    </div>

    <!-- Money Cards -->
    @if (this.isLoading2) {
      <app-pre-loader></app-pre-loader>
    } @else {
      <app-info-cards [items]="moneyInfoSignal()"></app-info-cards>
    }

    <!-- Last modified date -->
    <p
      class="text-secondary text-end mt-3 mb-0 d-flex justify-content-end align-items-center gap-1 flex-wrap"
      style="font-size: 0.75rem"
    >
      Last updated on: {{ lastModifiedAt | date: 'mediumDate' }}; Source:
      {{ audit_status }} financial statements for the year
      <select
        class="form-select form-select-sm w-auto d-inline-block"
        [value]="selectedLedgerYear()"
        (change)="onMoneyInfoYearChange($event)"
        id="years"
      >
        @for (year of ledgerYears(); track $index) {
          <option [value]="year" [selected]="year === selectedLedgerYear()">{{ year }}</option>
        }
      </select>
    </p>
  </div>
</section>

<section class="container matTabGroup">
  <h3 class="fw-bold p-2 my-4 text-center">Dashboard</h3>

  <mat-tab-group (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Financial Indicators" [disabled]="isLedgerDisabled">
      @if (loadedTabs[0]) {
        <app-financial-indicator [yearsSignal]="ledgerYears()"></app-financial-indicator>
      }
    </mat-tab>
    <mat-tab label="Balance Sheet & Income Statement" [disabled]="isLedgerDisabled">
      @if (loadedTabs[1]) {
        <app-balancesheet-incomestatement
          [yearsSignal]="ledgerYears()"
          [ulbIdSignal]="ulbIdSignal()"
        ></app-balancesheet-incomestatement>
      }
    </mat-tab>
    <mat-tab label="Service Level BenchMark" [disabled]="isSlbDisabled">
      @if (loadedTabs[2]) {
        <app-slb [years]="slbYears()" [ulbId]="ulbIdSignal()"></app-slb>
      }
    </mat-tab>
    <mat-tab label="Borrowing & Credit Rating" [disabled]="isBorrowingDisabled && isCreditDisabled">
      @if (loadedTabs[3]) {
        <app-borrowing-credit-rating
          [borrowingYears]="borrowingYears()"
        ></app-borrowing-credit-rating>
      }
    </mat-tab>
  </mat-tab-group>
</section>

<!-- <app-charts [chartConfig]="chartData"></app-charts> -->
<!-- <div class="container d-flex gap-2">
  <div class="flex-grow-1 px-3 border border-2 border-success">
    <app-charts [chartConfig]="chartData"></app-charts>
  </div>
  <div class="border border-2 border-info d-none d-md-block" style="width: 200px">Test</div>
</div> -->
