.form-check {
    margin-top: 25px;
    .form-check-label {
        font-size: 26px;
        margin-left: 10px;
    }
    .form-check-input {
        transform: scale(1.5);
        margin-top: 12px;
    }
}
