<div class="container-fluid" style="background-color: #f1f8ff">
    <!--till indicators and map with filter  -->
    <div class="row pad">
        <!-- got to state /national dashboard -->
        <div class="col-sm-12" [ngClass]="{ 'col-md-7': data.showMap, 'col-12': !data.showMap }">
            <div class="row" style="align-items: baseline">
                <a *ngIf="data.linkName" class="link mb-6" style="cursor: pointer" href="{{ data.link }}">Go To {{
                    data.linkName
                    }}</a>
                <!-- state name and description line -->
                <div class="col-9 col-md-8 head">
                    <span class="header mt-2 mb-1">{{ data.name }}</span>
                    <br />
                </div>
                <div class="col-3 col-md-4 customSelectTag" *ngIf="data?.name === 'National Financial Dashboard'">
                    <select class="form-select w-75" name="" id="" (change)="stateChanges($event)">
                        <option value="">India</option>
                        <option [value]="item?._id" *ngFor="let item of stateList">
                            {{ item?.name }}
                        </option>
                    </select>
                </div>
                <span class="description">{{ data.desc }}</span>
            </div>
            <!-- static data indicators -->
            <div class="row mt-3">
                <div class="col-4 col-sm-4 col-md-3 mt-4 lineStyle" *ngFor="let item of data.dataIndicators">
                    <h6 class="b" *ngIf="item.value">
                        <!-- {{ item.value | inrCurrency: { currencyTypeInUser: null } }} -->
                        {{ item.value }}
                    </h6>
                    <span class="subtitle">{{ item.title }}</span><sup *ngIf="item?.super">*</sup>
                </div>
                <div class="disclaim">{{ data?.disclaimer }}</div>
            </div>
        </div>
        <!-- map with filter -->
        <div *ngIf="data.showMap" class="col-md-5">
            <!-- <app-map-with-filter (changeInStateOrCity)="changeInMapFilter($event)" [mapConfig]="mapConfig">
            </app-map-with-filter> -->
        </div>
    </div>
    <!-- data availability -->
    <div *ngIf="showDataAvailable" class="container data-availability rounded">
        <div class="row" style="border: 1px solid #cfd8e2; border-radius: 12px; margin-bottom: 2%">
            <div class="col-md-7">
                <h3 class="heading" style="font-size: 1.5rem">Standardized Data Availability</h3>
                <p class="da-para" *ngIf="data?.name !== 'Service Level Benchmark Performance'">
                    Of the {{(data?.name === 'Service Level Benchmark Performance' ? 'service level benchmark data' :
                    'financial statements')}} submitted by the ULBs, {{ dataAvailable }}% have been changed to a
                    comparable, standardized, and digitized format for the year {{ yearVal }}.
                    <span *ngIf="notFoundNames.length > 0">
                        Digitization of data is in progress for several ULBs including
                        <span *ngFor="let name of notFoundNames; let i = index">
                            {{ name
                            }}<span *ngIf="i !== notFoundNames.length - 1">,</span></span>.
                    </span>
                    <span>
                        For more details, download the complete set of ULBs for which the
                        data is available for the year {{ yearVal }}.
                    </span>
                    <span class="three-dots" *ngIf="showButton">...</span>
                </p>
                <p class="da-para" *ngIf="data?.name === 'Service Level Benchmark Performance'">
                    {{ dataAvailable }}% of the state's ULBs have uploaded their service level benchmark data for the
                    year {{ yearVal }}.
                    <span *ngIf="notFoundNames.length > 0">
                        Data is not available for several ULBs including
                        <span *ngFor="let name of notFoundNames; let i = index">
                            {{ name
                            }}<span *ngIf="i !== notFoundNames.length - 1">,</span></span>.
                    </span>
                    <span>
                        For more details, download the complete set of ULBs for which the
                        data is available for the year {{ yearVal }}.
                    </span>
                    <span class="three-dots" *ngIf="showButton">...</span>
                </p>
                <button (click)="downloadCSV('data-availability')"
                    class="btn btn-outline-secondary btn-sm btn-os btn-download donloadCsvCustom" style="margin: 4%">
                    <img src="../../../assets/resources-das/file_download_orange_24dp.svg" alt="download_icon" />
                    Download Data
                </button>
            </div>

            <div class="col-md-5 d-flex justify-content-center">
                <div class="doughnut-container">
                    <div *ngIf="dataAvailLoading" style="text-align: center">
                        Loading...
                    </div>

                    <canvas id="myChart1" width="100%"> </canvas>

                    <p *ngIf="!dataAvailLoading" class="doughnut_percentage text-center">
                        {{ financialYear?.data?.percent ? financialYear?.data?.percent : availValue }}%
                    </p>
                    <p *ngIf="!dataAvailLoading" class="doughnut_text text-center"
                        [ngStyle]="{ 'font-size': !yearVal ? '15px' : '12px' }">
                        Data Standardized
                    </p>
                    <p class="yearText text-center" *ngIf="yearVal">({{ yearVal }})</p>
                </div>
            </div>
        </div>
    </div>
    <!-- cards  -->
    <div class="row">
        <div style="width: innerWidth; float: left" class="text-center col-12 col-sm-6 col-md-2 mb-2 "
            *ngFor="let card of cardData">
            <app-shared-card [data]="card" [cardStyle]="cardStyle"></app-shared-card>

        </div>
    </div>
    <!-- footerline -->

    <footer class="page-footer fot font-small blue">
        <div class="disclaim_other mb-1" *ngIf="data?.name !== 'Service Level Benchmark Performance'">
            Last updated on {{ data.date | date: "mediumDate" }}; Source:
            <span *ngIf="data.year === '2019-20'">Audited</span>
            <!-- <span *ngIf="data.year != '2019-20'"> Provisional</span> financial statements for the year {{ data.year }} -->
            Financial statements for the year {{componentName === 'National' ? yearVal : data.year}}
        </div>
        <div class="disclaim_other mb-1" *ngIf="data?.name === 'Service Level Benchmark Performance'">
            Last updated on {{ data.date | date: "mediumDate" }}; Source: PAS Portal data for the year {{ data.year }}
        </div>
    </footer>
</div>