// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
// @import 'bootstrap/scss/mixins';
// @use 'bootstrap/scss/bootstrap' as *;

$text-color-ord: #0F1F40;
$font-archivo: 'Archivo';
$font-Montserrat: 'Montserrat';

.b {
    font-weight: bold;
    margin-bottom: 0px;
    font: normal normal 800 1.2rem 'Archivo';
    letter-spacing: 0px;
    color: #0f1f40;
    opacity: 1;
}

.subtitle {
    font: normal normal normal 0.813rem/0.1rem 'Archivo';
    letter-spacing: 0px;
    color: #6e7281;
    opacity: 1;
}

.description {
    font: normal normal normal 17px/2rem 'Archivo';
    letter-spacing: 1px;
    color: #0f1f40;
    opacity: 1;
    margin-top: .5rem;
}

.header {
    font: normal normal bold 2rem/2.3rem 'Montserrat';
    letter-spacing: 0px;
    color: #0f1f40;
    opacity: 1;
}

.link {
    color: #3E5DB1;
    font: normal normal 12px 'Montserrat';
    text-decoration: none;
    margin-bottom: 2%;
}

.fot {
    font: normal normal medium 12px/28px 'Montserrat';
    letter-spacing: 0px;
    color: #6e7281;
    opacity: 1;
}

.disclaim_other {
    margin: 1%;
    text-align: right;
    font-size: 12px;
    font-family: $font-Montserrat;
    letter-spacing: 0px;
    color: #6e7281;
}

@media screen and (max-width: 800px) {
    .disclaim_other {
        margin: 1%;
        text-align: right;
        font-size: 12px;
        font-family: $font-Montserrat;
        letter-spacing: 0px;
        color: #6e7281;
        padding: 2%;
    }

    .description {
        margin-top: 7%;
    }

    .customSelectTag {
        width: 265px;
        margin-top: 6%;
    }

    .donloadCsvCustom {
        margin-left: 9% !important;
    }
}

.lineStyle {
    line-height: 1.5rem;
}

.footer-copyright {
    text-align: end;
    padding-bottom: 1.5rem;

    @media screen and (max-width: 428px) {
        text-align: left;
    }
}

.disclaim {
    margin-top: 6%;
    text-align: left;
    font-size: 12px;
    font-family: $font-Montserrat;
    letter-spacing: 0px;
    color: #6e7281;
}

.data-availability {
    background-color: #F0F4FF;
    // margin-top: 1.8rem;
}

.head {
    margin-top: .5rem;
}

.pad {
    padding: 2.5rem 1.7rem 2.5rem 3.5rem;
}

.heading {
    padding-top: 1.625rem;
    padding-left: 1.75rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: $text-color-ord;
}

.three-dots {
    display: none;
}

.doughnut_text {
    margin-top: -0.9rem !important;
    color: $text-color-ord;
    font-family: $font-archivo;
    font-size: 12px;
    font-weight: normal;
}

.doughnut_percentage {
    margin-top: -4.0rem !important;
    font-family: $font-archivo;
    color: $text-color-ord;
    font-size: 1.5rem;
    font-weight: 800;
}

.yearText {
    margin-top: -0.7rem !important;
    color: $text-color-ord;
    font-family: $font-archivo;
    font-size: 10px;
    font-weight: normal;
}

.doughnut-container {
    margin-top: 1.8rem;
    width: 50%;

    @media (max-width: 1200px) {
        margin-top: 4rem;
        width: 70%;
    }
}

.da-para {
    margin-bottom: 0;
    margin-top: 1.32rem;
    color: #6E7281;
    font-size: 1rem;
    padding-left: 1.75rem;
    text-align: justify;
}