<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" style="margin: auto;">
  <div class="ds-i-c mt-4 mt-lg-5">
    <span class="city">city</span>
    <span class="fy">finance.in</span>
  </div>
  <div class="ds-i-div">
    <span class="ds-info">Standardised, timely and credible financial information for
      <span class="cities-count" appCountUp [start]="3800" [end]="coveredUlbCount ? coveredUlbCount : 4000"
        [duration]="3000" [useEasing]="true" [smartEasingThreshold]="1000" [smartEasingAmount]="300">
      </span>
      <!-- <span class="cities-count" [countUp]="coveredUlbCount ? coveredUlbCount : 4000"
        [options]="{ startVal: 3800, duration: 5 }">
      </span>  -->
      cities of India
    </span>
  </div>
  <div class="g-filter-d">
    <form class="filter-form w-100">
      <input type="text" placeholder="Search for City or State" matInput [formControl]="globalFormControl"
        [matAutocomplete]="auto" class="fl-input" />
      <mat-autocomplete #auto="matAutocomplete">
        <!-- [routerLink]="['/dashboard/' + option?.type + '/' + option?._id]" -->
        @for (option of filteredOptions; track $index) {
        <mat-option [value]="option?.name" (click)=" dashboardNav(option)" (keydown.enter)="dashboardNav(option)"
          (keydown.space)="dashboardNav(option)">
          <span> {{ option?.name }} </span>
          <small class="text-secondary">
            | {{
            option.type === "ulb" ?
            option.ulbType.name:
            (option.type | titlecase)
            }}
          </small>
        </mat-option>
        }
        @if (noDataFound) {
        <mat-option class="noData firstCls">
          Sorry, we can’t find anything related to your search. Try searching for a city or
          state
        </mat-option>
        }
      </mat-autocomplete>
      <button type="button" class="btn btn-cfPrimary" (click)="globalSearchClick()">
        Search
      </button>
    </form>
  </div>
</div>
<div class="row mt-4 text-center">
  <span class="rec-text">Suggested Searches:</span>
</div>
<div class="row mt-2 text-center">
  <div class="col">
    <div class="ser-chip" *ngFor="let item of recentSearchArray">
      <a style="text-decoration: none" (click)="dashboardNav(item)" (keydown.enter)="dashboardNav(item)"
        (keydown.space)="dashboardNav(item)" tabindex="0" role="button" class="centerSearchedValues">
        <span class="rec-text">{{ item?.name }}</span>
      </a>
    </div>
  </div>
</div>