<form [formGroup]="filterForm">
  <!-- Reset -->
  <button color="accent" matButton="elevated" (click)="resetFilters()">Reset Filter</button>

  <!-- State -->
  <mat-form-field appearance="outline" class="w-100 mt-3">
    <mat-label class="fw-bold">State</mat-label>
    <mat-select formControlName="stateId" multiple>
      <!-- Header row inside the panel -->
      <div class="select-actions">
        <button
          matButton="elevated"
          color="primary"
          type="button"
          (click)="selectAllStates(true); $event.stopPropagation()"
        >
          All
        </button>
        <button
          matButton="elevated"
          color="accent"
          type="button"
          (click)="selectAllStates(false); $event.stopPropagation()"
        >
          Clear
        </button>
      </div>

      <!-- Actual options -->
      @for (state of filteredStates; track state) {
        <mat-option [value]="state._id">
          {{ state.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Population Category -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label class="fw-bold">Population Category</mat-label>
    <mat-select
      placeholder="Select population category"
      formControlName="populationCategory"
      (selectionChange)="onPopulationOrStateChange()"
    >
      <mat-option [value]="''">Select population category</mat-option>
      @for (p of populationCategories; track $index) {
        <mat-option [value]="p">{{ p }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- City search -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label class="fw-bold">City</mat-label>

    <input
      matInput
      formControlName="citySearch"
      [matAutocomplete]="cityAuto"
      placeholder="Type to search..."
    />

    <!-- Clear all selected cities -->
    @if (selectedCityIds.length) {
      <button mat-icon-button matSuffix type="button" (click)="clearCities()">
        <mat-icon>clear</mat-icon>
      </button>
    }
    <mat-autocomplete
      #cityAuto="matAutocomplete"
      autoActiveFirstOption="false"
      (optionSelected)="$event.option.deselect()"
    >
      @for (c of filteredCities; track c) {
        <mat-option [value]="c.name" (click)="$event.stopPropagation(); toggleCity(c)">
          <mat-checkbox
            [checked]="isSelected(c)"
            (click)="$event.stopPropagation()"
            (change)="toggleCity(c)"
          >
            {{ c.name }}
          </mat-checkbox>
        </mat-option>
      }
    </mat-autocomplete>
    <mat-hint>{{ selectedCityIds.length }} cities selected</mat-hint>
  </mat-form-field>

  <!-- Year -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label class="fw-bold">Year</mat-label>
    <mat-select placeholder="Select Year" formControlName="yearId">
      <mat-option [value]="''">Select Year</mat-option>
      @for (y of years; track $index) {
        <mat-option [value]="y._id">{{ y.value }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- Document Type (grouped radios) -->
  <div class="">
    <p class="mb-0 fw-bold">Document Type</p>
    <mat-radio-group formControlName="docType" class="">
      @for (d of filters.documentTypes; track $index) {
        <mat-radio-button [value]="d.key">
          {{ d.name }}
        </mat-radio-button>
      }
    </mat-radio-group>
  </div>

  <div class="mt-2">
    <p class="mb-0 fw-bold">Audit Type</p>
    <mat-radio-group formControlName="auditType">
      <mat-radio-button value="audited">Audited</mat-radio-button>
      <mat-radio-button value="unAudited">UnAudited</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- Apply button -->
  <button mat-raised-button color="primary" class="apply-btn mt-2" (click)="applyFilters()">
    Apply Filter
  </button>
</form>
