<div class="d-flex justify-content-between">
    <div></div>
    <div class="text-center">
        <h4 *ngIf="data?.title">{{ data?.title }}</h4>
        <p *ngIf="data?.subTitle" class="mb-0">{{ data?.subTitle }}</p>
    </div>
    <div>
        <mat-icon class="cursor-pointer" (click)="close()">close</mat-icon>
    </div>
</div>

<form [formGroup]="form" (submit)="submit()">
    <div class="mb-3">
        <label for="rejectReason" class="form-label">Return Reason</label>
        <p>{{ this.form.value.rejectReason }}</p>
    </div>

    <ng-container *ngIf="data?.canSuggestValue">
        <div class="mb-3">
            <label for="suggestedValue" class="form-label">PMU Suggested value</label>
            <input type="text" class="form-control" [disabled]="true" formControlName="suggestedValue" id="suggestedValue"
                *ngIf="data?.formFieldType != 'date'">
            <div class="input-group my-2" *ngIf="data?.formFieldType == 'date'">
                <div class="d-flex w-100 px-2">
                    <input onwheel="this.blur()" [disabled]="true" appNoUpDown matInput formControlName="suggestedValue"
                        style="pointer-events: none;" [matDatepicker]="r_i" placeholder="Choose a date"
                        [attr.id]="  + r_i" />
                    <mat-datepicker-toggle [disabled]="true" matSuffix [for]="r_i">
                    </mat-datepicker-toggle>
                </div>
                <mat-datepicker #r_i></mat-datepicker>
            </div>
        </div>
        <div class="mb-3">
            <label for="value" class="form-label">ULB submitted value</label>
            <input type="text" class="form-control" [disabled]="true" formControlName="ulbValue" id="value"
                *ngIf="data?.formFieldType != 'date'">
            <div class="input-group my-2" *ngIf="data?.formFieldType == 'date'">
                <div class="d-flex w-100 px-2">
                    <input onwheel="this.blur()" [disabled]="true" appNoUpDown matInput formControlName="ulbValue"
                        style="pointer-events: none;" [matDatepicker]="r_i" placeholder="Choose a date"
                        [attr.id]="  + r_i" />
                    <mat-datepicker-toggle [disabled]="true" matSuffix [for]="r_i">
                    </mat-datepicker-toggle>
                </div>
                <mat-datepicker #r_i></mat-datepicker>
            </div>
        </div>
        <div class="ulb-notice">
            <p><b>Correct details</b></p>
            <p>Please choose one of the following actions:</p>
            <ul>
                <li>
                    Accept PMU Value: If you agree with the correction, click 'Accept PMU Value' to update the input
                    field with the PMU-suggested value. Once you accept the PMU value, your existing value will be
                    replaced with the PMU-suggested value.
                </li>
                <li>
                    Return PMU Value: If you disagree with the correction, select the option “Return PMU Value”, and an
                    input field will appear below where you must provide a reason for return (mandatory). After filling
                    in the reason, click 'Return & submit' to submit your return with an explanation.
                </li>
            </ul>
        </div>

        <mat-radio-group aria-label="Select an option" formControlName="approvalType"
            class="d-flex justify-content-around">
            <mat-radio-button [value]="approvalTypes.enteredPmuAcceptUlb">Accept PMU Value</mat-radio-button>
            <mat-radio-button [value]="approvalTypes.enteredPmuRejectUlb" class="ms-3">Return PMU Value
            </mat-radio-button>
        </mat-radio-group>

        <div class="mb-3" *ngIf="form.value?.approvalType === approvalTypes.enteredPmuRejectUlb">
            <label for="ulbComment" class="form-label">Reason for return</label>
            <textarea cols="30" formControlName="ulbComment" rows="6" id="ulbComment" class="form-control"
                type="text"></textarea>
        </div>

        <div class="d-flex justify-content-center" *ngIf="form.value?.approvalType">
            <button type="submit" class="btn" [ngClass]="form.value?.approvalType !== approvalTypes.enteredPmuRejectUlb
                    ? 'btn-success' 
                    : 'btn-danger'" [disabled]="!form.valid">{{ form.value?.approvalType !==
                approvalTypes.enteredPmuRejectUlb ? 'Agree & submit' : 'Return &
                submit' }}
            </button>
        </div>
    </ng-container>
</form>