*:not(mat-icon) {
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
}

.header {
  background-color: #c2d6fc1a;
}

.section-1 {
  background-image: url('../../../../../assets/fiscal-rankings/ulbs-in-india-bg-1.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}

// .section-2 {
//   border-left: 1px solid #d4d3d3;
//   background-image: url('../../../../../assets/fiscal-rankings/ulbs-in-india-bg-2.png');
//   background-color: #ffc2e71a;
//   background-position: right top;
//   background-repeat: no-repeat;
// }

.section-3 {
  background-image: url('../../../../../assets/fiscal-rankings/ulbs-in-india-bg-3.png');
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
  .section-2 {
    border-left: none !important;
  }
}

.map-bg {
  background-image: url('../../../../../assets/fiscal-rankings/map-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 100px 0;
}
