<!-- <section class="d-flex justify-content-center align-items-between flex-wrap">
  @for (item of items; let isLast = $last; track $index) {
    <div class="p-2 text-center">
      <p class="custom-font-size-6 m-0 fw-bold">{{ item['title'] }}</p>
      <div class="d-flex gap-2 justify-content-center align-items-center flex-wrap">
        @for (value of item['lists']; track $index) {
          <a [href]="value['redirectTo']" target="_blank" rel="noopener" class="p-2">
            <img [src]="value['src']" [alt]="value['alt']" style="width: 125px" class="img-fluid" />
          </a>
        }
      </div>
    </div>
  }
</section> -->

<div class="row">
  <!-- Left Column: Conceived, Knowledge, Technology -->
  <div class="col-sm-12 col-md-6 d-flex flex-wrap">
    <!-- Janaagraha -->
    <div class="col-4 d-flex flex-column justify-content-between p-2 border-end">
      <p class="text-center custom-font-size-6 m-0 fw-bold">Conceived & Managed by</p>
      <div class="d-flex justify-content-center align-items-center pt-2">
        <a href="https://www.janaagraha.org/home/" target="_blank" rel="noopener">
          <img
            src="../../../assets/images/homepage-v2/logos/janagraha.png"
            alt="Janaagraha"
            class="img-fluid"
          />
        </a>
      </div>
    </div>

    <!-- MAGC -->
    <div class="col-4 d-flex flex-column justify-content-between p-2 border-end">
      <p class="text-center custom-font-size-6 m-0 fw-bold">Knowledge Partner</p>
      <div class="d-flex justify-content-center align-items-center pt-2">
        <a href="https://www.magc.in/" target="_blank" rel="noopener">
          <img
            style="height: 30px"
            src="../../../assets/images/homepage-v2/logos/magc.png"
            alt="MAGC"
            class="img-fluid"
          />
        </a>
      </div>
    </div>

    <!-- Dhwani -->
    <div class="col-4 d-flex flex-column justify-content-between p-2 border-end">
      <p class="text-center custom-font-size-6 m-0 fw-bold">Technology Partner</p>
      <div class="d-flex justify-content-center align-items-center text-center">
        <a href="https://dhwaniris.com/" target="_blank">
          <img
            rel="noopener"
            width="75%"
            src="../../../assets/images/homepage-v2/logos/dhwani.png"
            alt="Dhwani"
            class="img-fluid"
          />
        </a>
      </div>
    </div>
  </div>

  <!-- Right Column: Supported by -->
  <div class="col-sm-12 col-md-6 d-flex">
    <div class="col-12 px-0 d-flex flex-wrap p-2">
      <p class="text-center col-12 custom-font-size-6 m-0 fw-bold">Supported by</p>
      <!-- Omidyar Network -->
      <div class="col-3 border-end p-2 d-flex justify-content-center align-items-center">
        <a href="https://www.omidyarnetwork.in/" target="_blank" rel="noopener">
          <img
            src="/assets/images/homepage-v2/logos/omidyar-network.webp"
            alt="Omidyar Network"
            class="img-fluid"
          />
        </a>
      </div>

      <!-- BMGF -->
      <div class="col-3 border-end p-2 d-flex justify-content-center align-items-center">
        <a href="https://www.gatesfoundation.org/" target="_blank" rel="noopener">
          <img
            src="/assets/images/homepage-v2/logos/bmgf.webp"
            alt="BMGF"
            class="img-fluid"
          />
        </a>
      </div>

      <!-- CWAS -->
      <div class="col-3 border-end p-2 d-flex justify-content-center align-items-center ps-3">
        <a href="https://crdf.org.in/center/cwas" target="_blank" rel="noopener">
          <img
            src="/assets/images/homepage-v2/logos/cwas.webp"
            alt="CWAS"
            width="80%"
            class="img-fluid"
          />
        </a>
      </div>

      <!-- World Bank -->
      <div class="col-3 border-end p-2 d-flex justify-content-center align-items-center ps-3">
        <a href="https://www.worldbank.org" target="_blank" rel="noopener">
          <img
            src="../../../assets/images/homepage-v2/logos/world-bank-logo.svg"
            alt="World Bank"
            width="100%"
            class="img-fluid"
          />
        </a>
      </div>
    </div>
  </div>
</div>
