@switch (field.formFieldType) {
@case ('amount') {
<!-- {{field | json}}------- -->
<mat-form-field [appearance]="readonly? 'fill': 'outline'" floatLabel="always" [formGroup]="group"
  class="mat-form-field-warning">
  <!-- <mat-form-field [formGroup]="group"> -->
  <mat-label>{{field.label}}</mat-label>
  <input onwheel="this.blur()" matInput [formControlName]="field.key" type="number" [readonly]="readonly"
    [appDecimalLimit]="decimal" placeholder="" appNoUpDown appRestrictEInput>
  <!-- onKeyPress="if(this.value.length==5) return false;"  -->
  <span matTextPrefix>&#8377;&nbsp;</span>
  <!-- <span matTextSuffix>.00</span> -->
  <ng-container *ngFor="let validation of validations;" ngProjectAs="mat-error">
    <mat-error *ngIf="hasError(field.key, validation.name)">{{validation.message}}</mat-error>
  </ng-container>
</mat-form-field>
}
@default {
<label class="fw-bold" *ngIf="displayLabel && !displayInlineLabel">{{field.position ? field.position+'. ':
  ''}}{{field.label}}</label>
<mat-form-field [appearance]="readonly? 'fill': 'outline'" class="demo-full-width mt-2" [formGroup]="group">
  <mat-label *ngIf="displayInlineLabel">{{field.label}}</mat-label>
  <input onwheel="this.blur()" matInput [formControlName]="field.key" [type]="field.formFieldType"
    [appDecimalLimit]="field.formFieldType != 'number' ? null : decimal" [readonly]="readonly" appNoUpDown>
    <!-- <mat-icon matSuffix>warning</mat-icon> -->
    <ng-container *ngFor="let validation of validations;" ngProjectAs="mat-error">
    <mat-error *ngIf="hasError(field.key, validation.name)">{{validation.message}}</mat-error>
  </ng-container>
  @for (warning of warnings; track $index) {
  <mat-hint class="warning-hint" *ngIf="hasWarning(field.key, warning)">{{warning.message}}</mat-hint>
  }
</mat-form-field>
}
}