<!-- {{field | json}} -->



@switch (field.formFieldType) {
@case ('amount') {
<!-- {{field | json}}------- -->
<mat-form-field [appearance]="readonly? 'fill': 'outline'" floatLabel="always" [formGroup]="group">
  <!-- <mat-form-field [formGroup]="group"> -->
  <mat-label>{{field.label}}</mat-label>
  <input onwheel="this.blur()" matInput [formControlName]="field.key" type="number" [readonly]="readonly"
    placeholder="0" appNoUpDown>
  <span matTextPrefix>&#8377;&nbsp;</span>
  <!-- <span matTextSuffix>.00</span> -->
  <ng-container *ngFor="let validation of validations;" ngProjectAs="mat-error">
    <mat-error *ngIf="hasError(field.key, validation.name)">{{validation.message}}</mat-error>
  </ng-container>
</mat-form-field>
}
@default {
<label class="fw-bold" *ngIf="displayLabel && !displayInlineLabel">{{field.position ? field.position+'. ': ''}}{{field.label}}<span
    class="text-danger">*</span></label>
<mat-form-field [appearance]="readonly? 'fill': 'outline'" class="demo-full-width mt-2" [formGroup]="group">
  <mat-label *ngIf="displayInlineLabel">{{field.label}}</mat-label>
  <input onwheel="this.blur()" matInput [formControlName]="field.key" [type]="field.formFieldType"
    [readonly]="field.readonly" appNoUpDown>
  <ng-container *ngFor="let validation of validations;" ngProjectAs="mat-error">
    <mat-error *ngIf="hasError(field.key, validation.name)">{{validation.message}}</mat-error>
  </ng-container>
</mat-form-field>
}
}
