@import "./src/scss/functions";
@import "./src/scss/variables";
@import "./src/scss/mixins";

h3 {
    font: normal normal bold 20px/22px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
    opacity: 1;
}

p {
    font: normal normal normal 16px/25px 'Archivo';
    letter-spacing: 0px;
    color: #6E7281;
    opacity: 1;
}

.btn-gS {
    background: #E67E15 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #F7C199;
    border-radius: 8px;
    color: #fff;
    padding: 8px 18px;
}

.container-cnt {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    overflow: auto;
}

.card {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    min-height: 300px;
    box-shadow: 0 1px 2px #000;
    flex-shrink: 0;
    background: #FAFAFA;
}

h5 {
    font: normal normal normal 16px/25px 'Archivo';
    letter-spacing: 0px;
    color: #6E7281;
    opacity: 1;
}

.container-stepper {
    max-width: 1000px;
}

::ng-deep .mat-stepper-vertical,
::ng-deep .mat-stepper-horizontal {
    background: #FAFAFA;
}

//  ::ng-deep .mat-step-label .mat-step-label-active {
//     .mat-step-text-label {
//         color: #58B46D;
//     }
// }
.l-green {
    color: #58B46D !important;
}

::ng-deep .mat-step-icon {}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: #58B46D;
}

::ng-deep .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
    background-color: #3E5DB1;
}

::ng-deep .mat-step-label.mat-step-label-active {
    font: normal normal bold 13px/14px 'Archivo';
}

::ng-deep .mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: #3E5DB1;
    font: normal normal bold 13px/14px 'Archivo';
}

::ng-deep .mat-step-icon-state-edit ::ng-deep .mat-step-label {}

::ng-deep .mat-step-icon .mat-icon {
    font-weight: 700;
}

.str-Qus {
    font: normal normal 600 16px/17px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.btn-div {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
}

.btn-stp {
    font: normal normal 400 14px/15px 'Archivo';
    letter-spacing: 0px;
    outline: none !important;
    box-shadow: none;
    color: #E87A1C;
}

.btn-yes {
    border: 1px solid #E87A1C;
    border-radius: 6px;
}

.btn-yes:hover,
.btn-no:hover,
.btn-yes.active,
.btn-no.active {
    background: #E87A1C 0% 0% no-repeat padding-box;
    border: 1px solid #E87A1C;
    border-radius: 6px;
    opacity: 1;
    color: #fff;
}

.btn-no {
    border: 1px solid #E87A1C;
    border-radius: 6px;
    margin-left: 1rem;
}

.btn-cont {
    background: #E67E15 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #F7C199;
    border-radius: 8px;
    color: #fff;
    font: normal normal 700 14px/15px 'Archivo';
    padding: 12px 24px;
    //  margin-left: 2rem;
}

.btn-back {
    font: normal normal 600 14px/15px 'Archivo';
    letter-spacing: 0px;
    color: #E87A1C;
    background: none;
    border: none;
    margin-left: 1rem;
}

.green {
    color: #58B46D;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

::ng-deep .mat-stepper-horizontal-line {
    border-top-width: 2px !important;
    border-top-style: dashed !important;
    margin-left: -30px !important;
    margin-right: -30px !important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before,
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
    height: 0 !important;
    width: 0 !important;
}

.selectedIndex0 {}

@for $i from 1 through 10 {
    .selectedIndex#{$i} {
        @extend .selectedIndex#{$i - 1};

        ::ng-deep .mat-stepper-horizontal-line:nth-child(#{$i * 2}) {
            border-top-width: 2px !important;
            border-top-color: #58B46D !important;
            margin-left: -30px;
            margin-right: -30px;
            color: #58B46D;
        }
    }
}

@media screen and (min-width: 992px) {

    ::ng-deep .mat-stepper-vertical,
    ::ng-deep .mat-stepper-horizontal {
        display: block;
        overflow-x: hidden !important;
    }

    ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
        align-items: flex-start;
        width: auto !important;
        overflow: hidden;
    }
}

::ng-deep .mat-stepper-vertical,
::ng-deep .mat-stepper-horizontal {
    display: block;
    // overflow: hidden;
    overflow-x: scroll;
    position: relative;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
    align-items: flex-start;
    width: 1000px;
    overflow: hidden;
    position: relative;
}

::ng-deep .mat-horizontal-content-container {
    overflow: hidden;
    padding: 0 24px 24px 24px;
    position: sticky !important;
    left: 0 !important;
    top: 0 !important;
}

.score-card {
    background: #E5FFF1 0% 0% no-repeat padding-box;
    border-radius: 6px;
    text-align: center;
}

.score {
    background: #3E5DB1 0% 0% no-repeat padding-box;
    border-radius: 6px;
    font: normal normal 700 20px/22px 'Archivo';
    letter-spacing: 0px;
    color: #5AFFF9;
    padding: 6px 16px;
}

.score-text {
    margin-right: 1rem;
    font: normal normal 500 18px/20px 'Archivo';
    letter-spacing: 0px;
    color: #3E5DB1;
}

.report-card {
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.report-card-h {
    font: normal normal 700 20px/22px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
    text-align: center;
}

.report-card-sub {
    font: normal normal normal 14px/25px 'Archivo';
    letter-spacing: 0px;
    color: #6E7281;
    text-align: center;
}

.pres-card {
    background: #f08181a3 0% 0% no-repeat padding-box;
    border-radius: 0px 12px 12px 12px;
    opacity: 1;
}

.pres-h {
    font: normal normal 700 18px/20px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.pres-sub {
    font: normal normal normal 14px/25px 'Archivo';
    letter-spacing: 0px;
    color: #6E7281;
    margin-top: 1rem;
}

.progress-bar {
    background: #23BA6E 0% 0% no-repeat padding-box;
}

.pres-aTag {
    text-decoration: none;
}

.pres-aTag:hover {
    display: inline-block;
    background: #f08181a3 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
    opacity: 1;
    width: 100%;
}

.pres-active {
    display: inline-block;
    background: #f08181a3 0% 0% no-repeat padding-box;
    border-radius: 6px 0px 0px 6px;
    opacity: 1;
    width: 100%;
}

.table {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.table> :not(:first-child) {
    border-top: none;
}

thead>tr>th {
    border-right: 1px solid #E4E4E4;
    background: #F7F9FF 0% 0% no-repeat padding-box;
    font: normal normal 600 14px/14px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.table>tbody>tr>td {
    border: none;
    border-right: 1px solid #E4E4E4;
    font: normal normal 500 14px/15px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40
}

th,
td {
    padding: 15px 20px !important;
}

.pres-name {
    font: normal normal 600 14px/15px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.btn-score {
    background: #E67E15 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #F7C199;
    border-radius: 8px;
    font: normal normal 700 14px/15px 'Archivo';
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: 12px 22px;
}

@media screen and (max-width: 429px) {
    .score-text {
        display: block !important;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .report-card-sub,
    .report-card-h {
        text-align: left;
    }

    .pres-name {
        font: normal normal 600 12px/15px 'Archivo';
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 429px) and (max-width: 769px) {
    .pres-name {
        font: normal normal 600 12px/15px 'Archivo';
        padding-left: 0;
        padding-right: 0;
    }

    .prs-div,
    .prs-div2 {
        margin-top: -18px;
    }

    .pres-row {
        padding: 20px 0 9px 0;
    }
}

@media screen and (min-width: 770px) {
    .pres-row {
        align-items: center;
        padding: 3px 0 9px 0;
    }
}

.t-r-active {
    background: #f08181a3 0% 0% no-repeat padding-box;
}

.pres-aTag2 {
    text-decoration: none;
}

.prs-div2 {
    background: #f08181a3 0% 0% no-repeat padding-box;
}

.aTag-s {
    color: blue !important;
}

::ng-deep .filter-component .cuppa-dropdown .selected-list {
    .c-btn {
        line-height: 1.5;
        font-size: 1rem;

        span:first-child {
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    border-radius: 5px;
    background: white;
    border: 1px solid #ced4da;
}