<!-- <app-loader [show]="isApiInProgress && isEmptyObject(currentPageData)"></app-loader> -->
<!-- <div class="container-fluid common-pro-fm" *ngIf="!isApiInProgress && !isEmptyObject(currentPageData)">
    <div class="row">
        <div class="col-sm-9">
            <app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>
        </div>
        <div class="col-sm-3">
            <div class="drp-down">
                <select class="form-select" aria-label="assestParametersDropdown" [(ngModel)]="pageKey"
                    (change)="setPageKey($event)">
                    <option *ngFor="let item of assestParameters?.data" [value]="item?.key">
                        {{item?.label}}
                    </option>
                </select>

            </div>
        </div>
    </div>
    <div class="row px-md-5 mb-4 mt-4">
        <div class="col-sm-12 text-center">
            <span class="form-h-fr">{{currentPageData?.name}} : {{currentPageData?.subHeading}}</span>
        </div>
        <div class="col-sm-12 w-80 mx-auto text-center mt-3">
            <p class="sub-def-fr">{{currentPageData?.description}}</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md  -5 ps-0 h-100">
            <img src="{{currentPageData?.imgUrl}}" alt="" width="90%" height="90%">
        </div>
        <div class="col-md-6 my-auto h-100">
            <div class="row">
                <div class="col-sm-12 mb-4" *ngFor="let item of currentPageData?.questions">
                    <div class="qus">
                        {{item?.question}}
                    </div>
                    <div class="ans mt-3">
                        <ul>
                            <li>{{item?.answer}}</li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="qus-info">
                        {{currentPageData?.scoringInfo?.header}}
                    </div>
                    <div class="scoring-section">
                        <div class="row">
                            <div class="col-sm-6 mt-3" *ngFor="let elem of currentPageData?.scoringInfo?.items">
                                <div class="ind-val">
                                    {{elem?.value}}
                                </div>
                                <div class="ind">
                                    {{elem?.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-md-5 mb-4 mt-5">
        <div class="col-sm-12">
            <span class="form-h-fr">{{currentPageData?.scoringMethodology?.header}} </span>
        </div>
        <div class="col-sm-12 mt-3">
            <div class="scor-met">{{currentPageData?.scoringMethodology?.description}}</div>
        </div>
        <div class="col-sm-12 mt-3">
            <div class="table-border table-responsive border-primary text-muted">
                <table class="table table-bordered border-primary">
                    <thead class="table-primary">
                        <tr>
                            <th *ngFor="let column of currentPageData?.table?.columns">{{ column?.label }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of currentPageData?.table?.data">
                            <td [title]="row[column.key]" class="data-item border-primary"
                                *ngFor="let column of currentPageData?.table?.columns">
                                <div [innerHTML]="row[column.key]"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="footnote" *ngFor="let footnote of currentPageData?.table?.footnotes">{{ footnote }}</p>
    </div>
</div>

<div class="container-fluid" *ngIf="!isApiInProgress && isEmptyObject(currentPageData)">
    <div class="row">
        <div class="col text-danger p-5 fw-bolder text-center">
            No data Found
        </div>
    </div>
</div> -->

<div class="container bg-img">
  <app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>

  <section class="d-flex justify-content-end">
    <select
      class="p-2 border rounded"
      aria-label="assestParametersDropdown"
      [(ngModel)]="pageKey"
      (change)="setPageKey($event)"
    >
      <option *ngFor="let item of assestParameters?.data" [value]="item?.key">
        {{ item?.label }}
      </option>
    </select>
  </section>

  <section class="text-center mt-3">
    <h3 class="fs-3 fw-bold">{{ parameterData?.name }}</h3>
    <p class="mt-3">{{ parameterData?.description }}</p>
  </section>

  <section class="d-flex gap-3 my-4">
    <div>
      <img src="{{ parameterData?.imgUrl }}" alt="" width="90%" height="90%" />
    </div>
    <div class="">
      <div class="my-4">
        <h6 class="fw-bold fs-3 text-cfSecondary mb-3">{{ parameterData?.scoringInfo?.header }}</h6>
        <div class="row">
          <div class="col-6 mb-2" *ngFor="let elem of parameterData?.scoringInfo?.items">
            <p class="fw-bold fs-3">{{ elem?.value }}</p>
            <p>{{ elem?.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-4">
    <h4 class="fw-bold fs-4 mb-2">{{ parameterData?.scoringMethodology?.header }}</h4>
    <!-- <p>{{ pageKey }}</p> -->
    <app-mat-common-table
      [response]="parameterData.table"
      [isLoadingResults]="isLoadingResults"
      [isPagination]="false"
    ></app-mat-common-table>
  </section>
</div>
