<!-- <form *ngIf="scorePerformanceForm" [formGroup]="scorePerformanceForm"> -->
<div class="container-fluid py-2 xvi-fc-style" style="max-width: 94%; min-height: 60vh">
    <div>
        <h1 class="pt-4 ps-4 mb-3 fw-bold">ULB Name</h1>
    </div>

    <mat-stepper [linear]="isLinear" #stepper (selectionChange)="selectionChange($event)">
        <mat-step [stepControl]="firstFormGroup" *ngFor="let tab of form1Data.data.tabs" (click)="tabClick(tab)">
            <form [formGroup]=" firstFormGroup">
                <ng-template matStepLabel>
                    <span class="fw-bold">{{tab.label}}</span>
                </ng-template>

                <!-- For s1: Demographic Data -->
                <div class="container" *ngIf="selectedTabData && (selectedTabData.id=='s1')">

                    <div class="text-bg-light border rounded mt-3 mb-3">
                        <p class="text-muted small pt-3 pb-2 ps-3">Section 1/ 4</p>
                        <h4 class="fw-bold pb-3 ps-3">{{selectedTabData.label}}</h4>
                    </div>


                    <form action="#" class="p-4 border rounded">

                        <div class="form-group mb-2" *ngFor="let questionKey of selectedTabQuestion">

                            <!-- <p>
                      <mat-form-field appearance="outline">
                        <mat-label for="{{selectedTabData.data[questionKey].key}}">
                          {{selectedTabData.data[questionKey].postion}}.
                          {{selectedTabData.data[questionKey].label}}
                        </mat-label>
                        <input matInput  >
                      </mat-form-field>
                    </p> -->
                            <label for="{{selectedTabData.data[questionKey].key}}" class="pt-3 pb-2">
                                {{selectedTabData.data[questionKey].postion}}.
                                {{selectedTabData.data[questionKey].label}}
                                {{selectedTabData.data[questionKey].value}}
                            </label>

                            <input
                                *ngIf="selectedTabData.data[questionKey].formFieldType && selectedTabData.data[questionKey].formFieldType == 'text'"
                                type="{{selectedTabData.data[questionKey].formFieldType}}" class="form-control"
                                id="{{selectedTabData.data[questionKey].key}}"
                                value="{{selectedTabData.data[questionKey].value}}" (change)="inputChange($event)"
                                [disabled]="true" />



                            <input
                                *ngIf="selectedTabData.data[questionKey].formFieldType && selectedTabData.data[questionKey].formFieldType=='number'"
                                type="{{selectedTabData.data[questionKey].formFieldType}}" class="form-control"
                                id="{{selectedTabData.data[questionKey].key}}"
                                value="{{selectedTabData.data[questionKey].value}}" (change)="inputChange($event)" />

                            <span style="color: red;" *ngIf="selectedTabData.data[questionKey].formFieldType && selectedTabData.data[questionKey].formFieldType=='number' && 
                          selectedTabData.data[questionKey].warning && 
                          changeEventNumber == selectedTabData.data[questionKey].warning[0].value">
                                {{selectedTabData.data[questionKey].warning[0].message}}
                            </span>

                            <select class="form-control form-control-select"
                                *ngIf="selectedTabData.data[questionKey].formFieldType == 'dropdown'">
                                <option *ngFor="let optionValue of selectedTabData.data[questionKey].options">
                                    {{optionValue}}
                                </option>
                            </select>

                            <ng-container
                                *ngIf="selectedTabData.data[questionKey].formFieldType && selectedTabData.data[questionKey].formFieldType == 'radio'">
                                <ng-container
                                    *ngFor="let option of selectedTabData.data[questionKey].options; index as i">
                                    <br /><label class="form-check-label mt-2"
                                        [attr.for]="selectedTabData.data[questionKey].key+i">
                                        <input class="form-check-input" type="radio"
                                            [attr.id]="selectedTabData.data[questionKey].key+i"
                                            name="{{selectedTabData.data[questionKey].key}}" value="{{option}}">
                                        {{option}}
                                    </label>
                                </ng-container>
                            </ng-container>
                        </div>

                    </form>


                    <div class="mt-4 float-end">
                        <button class="my-btn primary-btn-2 me-2">Save as Draft</button>
                        <button matStepperNext class="my-btn primary-btn-1">Continue to Next Section</button>
                    </div>
                </div>

                <!-- For s2: Financial Table -->
                <div class="container" *ngIf="selectedTabData && (selectedTabData.id=='s2')">
                    <!-- Tab header. -->
                    <div class="text-bg-light border rounded mt-3 mb-3">
                        <p class="text-muted small pt-3 pb-2 ps-3">Section 1/ 4</p>
                        <h4 class="fw-bold pb-3 ps-3">{{selectedTabData.label}}</h4>
                    </div>
                    <div class="financial-year">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pt-3 pb-3 first-col">Financial Years</th>
                                    <th class="pt-4 pb-4 text-center" *ngFor="let yearData of form1Data.data.financialYearTableHeader">
                                        {{yearData}}</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" 
                            *ngFor="let queHeader of questionHeader">
                            <mat-expansion-panel-header *ngIf="selectedTabData.data[queHeader].label">
                                <mat-panel-title class="headers-style">
                                    {{selectedTabData.data[queHeader].label}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <ng-container *ngFor="let queHeader of questionHeader">
                                            <ng-container
                                                *ngFor="let keyer of objectKeys(selectedTabData.data[queHeader]); index as i">
                                                <tr *ngIf="selectedTabData.data[queHeader][keyer].label">
                                                    <td class="first-col"><label>
                                                            {{selectedTabData.data[queHeader][keyer].postion}}
                                                            {{selectedTabData.data[queHeader][keyer].label}}
                                                        </label>
                                                        <span class="info-icon"
                                                            *ngIf="selectedTabData.data[queHeader][keyer].info"
                                                            matTooltip="{{selectedTabData.data[queHeader][keyer].info}}">
                                                            i</span>
                                                    </td>
                                                    <td
                                                        *ngFor="let yearData of form1Data.data.financialYearTableHeader; index as i">

                                                        <mat-form-field appearance="outline"
                                                            *ngIf="selectedTabData.data[queHeader][keyer].formFieldType && selectedTabData.data[queHeader][keyer].formFieldType=='number'">
                                                            <span matTextPrefix>&#8377;</span>
                                                            <input matInput
                                                                type={{selectedTabData.data[queHeader][keyer].formFieldType}}
                                                                id="{{selectedTabData.data[queHeader][keyer].year[i].key}}"
                                                                value="{{selectedTabData.data[queHeader][keyer].year[i].value}}"
                                                                matTooltip=changeEventNumber>
                                                        </mat-form-field>

                                                        <!-- <mat-form-field appearance="outline">
                                                            <mat-select *ngIf="selectedTabData.data[queHeader][keyer].formFieldType && selectedTabData.data[queHeader][keyer].formFieldType=='dropdown'">
                                                              <mat-option *ngFor=" let optionValue of selectedTabData.data[queHeader][keyer].options">{{optionValue}}</mat-option>
                                                            </mat-select>
                                                          </mat-form-field> -->

                                                        <select class="form-select"
                                                            *ngIf="selectedTabData.data[queHeader][keyer].formFieldType && selectedTabData.data[queHeader][keyer].formFieldType=='dropdown'">
                                                            <option
                                                                *ngFor=" let optionValue of selectedTabData.data[queHeader][keyer].options">
                                                                {{optionValue}}
                                                            </option>
                                                        </select>

                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                    </tbody>

                                </table>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>



                    <div class="table-responsive" style="display: none;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="w-25 pt-3 pb-3"></th>
                                    <th class="pt-4 pb-4"
                                        *ngFor="let yearData of form1Data.data.financialYearTableHeader">
                                        {{yearData}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let queHeader of questionHeader">
                                    <tr>
                                        <td class="headers-style" colspan="9">{{selectedTabData.data[queHeader].label}}
                                        </td>
                                    </tr>
                                    <tr *ngFor="let keyer of objectKeys(selectedTabData.data[queHeader]); index as i">
                                        <td class="first-col"><label>
                                                {{selectedTabData.data[queHeader][keyer].postion}}
                                                {{selectedTabData.data[queHeader][keyer].label}}
                                            </label>

                                            <span class="info-icon" *ngIf="selectedTabData.data[queHeader][keyer].info"
                                                matTooltip="{{selectedTabData.data[queHeader][keyer].info}}">
                                                i</span>
                                        </td>
                                        <td
                                            *ngFor="let yearData of form1Data.data.financialYearTableHeader; index as i">
                                            <!-- <input class="form-control"
                                          *ngIf="selectedTabData.data[queHeader][keyer].formFieldType && selectedTabData.data[queHeader][keyer].formFieldType=='text'"
                                          type={{selectedTabData.data[queHeader][keyer].formFieldType}}
                                          id="{{selectedTabData.data[queHeader][keyer].key}}"
                                          value="{{selectedTabData.data[queHeader][keyer].year[i].value}}" /> -->
                                            <mat-form-field appearance="outline"
                                                *ngIf="selectedTabData.data[queHeader][keyer].formFieldType && selectedTabData.data[queHeader][keyer].formFieldType=='number'">
                                                <!-- <mat-label>Telephone</mat-label> -->
                                                <span matTextPrefix>&#8377;</span>
                                                <input matInput
                                                    type={{selectedTabData.data[queHeader][keyer].formFieldType}}
                                                    id="{{selectedTabData.data[queHeader][keyer].year[i].key}}"
                                                    value="{{selectedTabData.data[queHeader][keyer].year[i].value}}"
                                                    matTooltip=changeEventNumber>
                                            </mat-form-field>

                                            <!-- <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">&#8377;</span>
                                            </div>
                                            <input class="form-control"
                                        *ngIf="selectedTabData.data[queHeader][keyer].formFieldType && selectedTabData.data[queHeader][keyer].formFieldType=='number'"
                                        type={{selectedTabData.data[queHeader][keyer].formFieldType}}
                                        id="{{selectedTabData.data[queHeader][keyer].year[i].key}}"
                                        value="{{selectedTabData.data[queHeader][keyer].year[i].value}}"
                                        matTooltip=changeEventNumber />
                                          </div> -->

                                            <select class="form-select"
                                                *ngIf="selectedTabData.data[queHeader][keyer].formFieldType && selectedTabData.data[queHeader][keyer].formFieldType=='dropdown'">
                                                <option
                                                    *ngFor=" let optionValue of selectedTabData.data[queHeader][keyer].options">
                                                    {{optionValue}}
                                                </option>
                                            </select>

                                            <!-- <span *ngIf="selectedTabData.data[queHeader][keyer].formFieldType=='radio'">
                                          <p>{{selectedTabData.data[queHeader][keyer].label}}</p>

                                          <span
                                              *ngFor="let optionValue of selectedTabData.data[queHeader][keyer].options; index as i">
                                              <label [attr.for]="selectedTabData.data[queHeader][keyer].key+i">
                                                  <input type="radio" class=""
                                                      [attr.id]="selectedTabData.data[queHeader][keyer].key+i"
                                                      name="{{selectedTabData.data[queHeader][keyer].key}}"
                                                      value="{{optionValue}}">
                                                  {{optionValue}}
                                              </label>

                                              <br>
                                          </span>
                                      </span> -->
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>

                        </table>
                    </div>

                    <div class="mt-4 float-end">
                        <button class="my-btn primary-btn-2 me-2">Save as Draft</button>
                        <button matStepperNext class="my-btn primary-btn-1">Continue to Next Section</button>
                    </div>

                </div>

                <!-- For s3: Upload Section -->
                <div class="container" *ngIf="selectedTabData && (selectedTabData.id=='s3')">
                    <!-- Tab header. -->
                    <div class="text-bg-light border rounded mt-3 mb-3">
                        <p class="text-muted small pt-3 pb-2 ps-3">Section 1/ 4</p>
                        <h4 class="fw-bold pb-3 ps-3">{{selectedTabData.label}}</h4>
                    </div>

                    <div class="indro-block">
                        <p>Instructions:</p>
                        <ol>
                            <li>Annual Financial Statement should include: Income and Expenditure Statement, Balance Sheet, Schedules to IES and BS, Auditor's Report and if available Receipts & Payments Statement.</li>
                            <li>All documents pertaining to a specific financial year should be combined into a single PDF before uploading & should not exceed 20 MB.</li>
                            <li>Please use the following format for naming the documents to be uploaded: nameofthedocument_FY_ULB Name. <strong>Example: Annual accounts_15-16_Jaipur municipal corporation</strong></li>
                        </ol>
                    </div>

                    <mat-accordion>
                        <mat-expansion-panel class="audited-statement-panel" (opened)="panelOpenState = true">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="headers-style">
                                    Copy of Audited Annual Financial Statements
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="audited-statement-block">
                                <div class="statement-block-row">
                                    <h5>FY 2022-23</h5>
                                    <div class="file-upload-container">
                                        <input type="file" id="file-input" class="file-upload-input" />
                                        <div class="drag-drop-area" id="drag-drop-area">
                                            <div>
                                                <img src="../../../assets/images/upload_file.png" />
                                            </div>
                                            <span class="file-upload-name">Choose file</span>
                                            <p>Drag and drop the file here</p>
                                        </div>
                                    </div>
                                    <div class="uploaded-files">
                                        <div class="uploaded-files-label">Uploaded Files</div>
                                        <div class="media uploaded-block">
                                            <div  class="align-self-center upload-doc-icon">
                                                <img src="../../../assets/images/pdf.png" alt="...">
                                            </div>
                                            <div class="media-body">
                                              <div class="upload-doc-label">financial document 2022-23.pdf</div>
                                              <p class="file-size">1.5 MB</p>
                                            </div>
                                            <div  class="align-self-center delete-doc-icon">
                                                <img src="../../../assets/images/delete.png" alt="...">
                                            </div>
                                          </div>
                                    </div>
                                </div>
                                <div class="statement-block-row">
                                    <h5>FY 2021-22</h5>
                                    <div class="uploaded-files">
                                        <div class="uploaded-block already-availabe">
                                            <div class="uploaded-files-label">Already available on City Finance</div>
                                            <div class="media">
                                                <div  class="align-self-center upload-doc-icon">
                                                    <img src="../../../assets/images/pdf.png" alt="...">
                                                </div>
                                                <div class="media-body">
                                                  <div class="upload-doc-label">financial document 2022-23.pdf</div>
                                                  <p class="file-size">1.5 MB</p>
                                                </div>
                                                <div  class="align-self-center delete-doc-icon">
                                                    <button class="my-btn primary-btn-2 me-2" (click)="openDialog()">View & Verify</button>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="verified-info">
                                            <div class="media">
                                                <div  class="align-self-center upload-doc-icon">
                                                    <img src="../../../assets/images/accept-icon.png" alt="...">
                                                </div>
                                                <div class="media-body">
                                                  <div class="upload-doc-label">You have successfully verified the document already available on City Finance and accepted it.</div>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="statement-block-row">
                                    <h5>FY 2020-21</h5>
                                    <div class="uploaded-files">
                                        <div class="uploaded-block already-availabe">
                                            <div class="uploaded-files-label">Already available on City Finance</div>
                                            <div class="media">
                                                <div  class="align-self-center upload-doc-icon">
                                                    <img src="../../../assets/images/pdf.png" alt="...">
                                                </div>
                                                <div class="media-body">
                                                  <div class="upload-doc-label">financial document 2022-23.pdf</div>
                                                  <p class="file-size">1.5 MB</p>
                                                </div>
                                                <div  class="align-self-center delete-doc-icon">
                                                    <button class="my-btn primary-btn-2 me-2">View & Verify</button>
                                                </div>
                                              </div>
                                        </div>
                                        <div class="verified-info verified-info-reject">
                                            <div class="media">
                                                <div  class="align-self-center upload-doc-icon">
                                                    <img src="../../../assets/images/reject-icon.png" alt="...">
                                                </div>
                                                <div class="media-body">
                                                  <div class="upload-doc-label">You have rejected the document already available on City Finance, re-uploaded another file, and provided the following reason: <strong>Files are in correct</strong></div>
                                                </div>
                                              </div>
                                        </div>                                        
                                        
                                    <div class="uploaded-files">
                                        <div class="uploaded-files-label">Uploaded Files</div>
                                        <div class="media uploaded-block">
                                            <div  class="align-self-center upload-doc-icon">
                                                <img src="../../../assets/images/pdf.png" alt="...">
                                            </div>
                                            <div class="media-body">
                                              <div class="upload-doc-label">financial document 2022-23.pdf</div>
                                              <p class="file-size">1.5 MB</p>
                                            </div>
                                            <div  class="align-self-center delete-doc-icon">
                                                <img src="../../../assets/images/delete.png" alt="...">
                                            </div>
                                          </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>

                    <ng-template class="view-and-verify" #viewAndVerifyDialog>
                        <div class="verify-header">                            
                            <h2  class="verify-title">FY 2021-22</h2>
                            <p>Already available on City Finance</p>
                            <span class="verify-modal-close" (click)="closeDialog()"><img src="../../../assets/images/modal-close.png" alt="..."></span>
                        </div>
                        <mat-dialog-content>
                            <div class="indro-block intro-box-in-modal">
                                <p>Instructions:</p>
                                <ol>
                                    <li>Annual Financial Statement should include: Income and Expenditure Statement, Balance Sheet, Schedules to IES and BS, Auditor's Report and if available Receipts & Payments Statement.</li>
                                    <li>All documents pertaining to a specific financial year should be combined into a single PDF before uploading & should not exceed 20 MB.</li>
                                    <li>Please use the following format for naming the documents to be uploaded: nameofthedocument_FY_ULB Name. <strong>Example: Annual accounts_15-16_Jaipur municipal corporation</strong></li>
                                </ol>
                            </div>
                            <div class="statement-block-row block-row-in-modal">
                                <h5>FY 2021-22</h5>
                                <div class="uploaded-files">
                                    <div class="uploaded-block already-availabe">
                                        <div class="media media-in-modal">
                                            <div  class="align-self-center upload-doc-icon">
                                                <img src="../../../assets/images/pdf.png" alt="...">
                                            </div>
                                            <div class="media-body">
                                              <div class="upload-doc-label">financial document 2022-23.pdf</div>
                                              <p class="file-size">1.5 MB</p>
                                            </div>
                                            <div  class="align-self-center delete-doc-icon">
                                                <button class="my-btn primary-btn-2 me-2" (click)="openDialog()"><img src="../../../assets/images/pdf.png" alt="..."> Download</button>
                                            </div>
                                          </div>
                                          <div class="media media-in-modal">
                                            <div  class="align-self-center upload-doc-icon">
                                                <img src="../../../assets/images/pdf.png" alt="...">
                                            </div>
                                            <div class="media-body">
                                              <div class="upload-doc-label">financial document 2022-23.pdf</div>
                                              <p class="file-size">1.5 MB</p>
                                            </div>
                                            <div  class="align-self-center delete-doc-icon">
                                                <button class="my-btn primary-btn-2 me-2" (click)="openDialog()"><img src="../../../assets/images/pdf.png" alt="..."> Download</button>
                                            </div>
                                          </div>
                                          <div class="media media-in-modal">
                                            <div  class="align-self-center upload-doc-icon">
                                                <img src="../../../assets/images/pdf.png" alt="...">
                                            </div>
                                            <div class="media-body">
                                              <div class="upload-doc-label">financial document 2022-23.pdf</div>
                                              <p class="file-size">1.5 MB</p>
                                            </div>
                                            <div  class="align-self-center delete-doc-icon">
                                                <button class="my-btn primary-btn-2 me-2" (click)="openDialog()"><img src="../../../assets/images/pdf.png" alt="..."> Download</button>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accept-return-block">
                                <div class="info">
                                    If you feel the documents are correct, select the "Accept Existing Document" option and proceed with acceptance. If the existing documents require corrections or do not meet your requirements, please select the return option and provide a reason for the return.
                                </div>
                                <div class="radio-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="options" value="option1" checked >
                                        <span class="radio-custom"></span>
                                        Accept Existing Document
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="options" value="option2">
                                        <span class="radio-custom"></span>
                                        Accept Existing Document
                                    </label>
                                </div>
                            </div>
                        </mat-dialog-content>
                      </ng-template>

                    <div class="mt-4 float-end">
                        <button class="my-btn primary-btn-2 me-2">Save as Draft</button>
                        <button matStepperNext class="my-btn primary-btn-1">Continue to Next Section</button>
                    </div>

                </div>

                <!-- For s4: Accounting Practice -->
                <div class="container" *ngIf="selectedTabData && (selectedTabData.id=='s4')">

                    <div class="text-bg-light border rounded mt-3 mb-3">
                        <p class="text-muted small pt-3 pb-2 ps-3">Section 1/ 4</p>
                        <h4 class="fw-bold pb-3 ps-3">{{selectedTabData.label}}</h4>
                    </div>

                    <form action="#">
                        <div class="p-4 border rounded mb-3" *ngFor="let queHeader of questionHeader">
                            <div class="headers-style">
                                <p>{{selectedTabData.data[queHeader].label}}</p>
                            </div>
                            <form class="ps-4 pe-4">
                                <ng-container *ngFor="let keyer of objectKeys(selectedTabData.data[queHeader])">
                                    <label class="pt-3 pb-1 fw-bold"
                                        for="{{selectedTabData.data[queHeader][keyer].key}}">
                                        {{selectedTabData.data[queHeader][keyer].postion}}.
                                        {{selectedTabData.data[queHeader][keyer].label}}
                                    </label>

                                    <ng-container
                                        *ngIf="selectedTabData.data[queHeader][keyer].formFieldType && selectedTabData.data[queHeader][keyer].formFieldType=='radio'">
                                        <div class="form-check pt-1"
                                            *ngFor="let optionValue of selectedTabData.data[queHeader][keyer].options; index as i">
                                            <label class="form-check-label"
                                                [attr.for]="selectedTabData.data[queHeader][keyer].key+i">
                                                <input class="form-check-input" type="radio"
                                                    [attr.id]="selectedTabData.data[queHeader][keyer].key+i"
                                                    name="{{selectedTabData.data[queHeader][keyer].key}}"
                                                    value="{{optionValue}}" />
                                                {{optionValue}}
                                            </label>
                                        </div>
                                    </ng-container>
                                    <input class="form-control"
                                        *ngIf="selectedTabData.data[queHeader][keyer].formFieldType && selectedTabData.data[queHeader][keyer].formFieldType=='number'"
                                        type={{selectedTabData.data[queHeader][keyer].formFieldType}}
                                        id={{selectedTabData.data[queHeader][keyer].key}}
                                        value={{selectedTabData.data[queHeader][keyer].value}} />
                                </ng-container>
                            </form>
                        </div>
                        <!-- 
                  <div class="form-group mb-2" *ngFor="let questionKey of selectedTabQuestion">
                      <ng-container *ngFor="let queHeader of questionHeader">
                          <p>{{selectedTabData.data[queHeader].label}}</p>

                          <div *ngFor="let keyer of objectKeys(selectedTabData.data[queHeader])">
                              <label> {{selectedTabData.data[queHeader][keyer].label}}</label>
                              <p *ngFor="let yearData of form1Data.data.financialYearTableHeader; index as i">
                                  <input class="form-control"
                                      *ngIf="selectedTabData.data[queHeader][keyer].formFieldType=='number'"
                                      type="{{selectedTabData.data[queHeader][keyer].formFieldType}}"
                                      id="{{selectedTabData.data[queHeader][keyer].key}}"
                                      value="{{selectedTabData.data[queHeader][keyer].year[i].value}}" />
                              </p>
                          </div>

                      </ng-container>

                      <ng-container
                          *ngIf="selectedTabData.data[questionKey].formFieldType && selectedTabData.data[questionKey].formFieldType == 'radio'">
                          <ng-container *ngFor="let option of selectedTabData.data[questionKey].options">
                              <input type="radio" id="{{selectedTabData.data[questionKey].key}}"
                                  name="{{selectedTabData.data[questionKey].key}}" value="{{option}}">
                              <label for="{{selectedTabData.data[questionKey].key}}">{{option}}</label>
                          </ng-container>
                      </ng-container>
                  </div> -->

                    </form>

                    <div class="mt-4 float-end">
                        <button class="my-btn primary-btn-2 me-2">Save as Draft</button>
                        <button matStepperNext class="my-btn primary-btn-1">Continue to Next Section</button>
                    </div>
                </div>

            </form>
        </mat-step>

        <!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
  </mat-step> -->
    </mat-stepper>
</div>