.info-text {
  font: normal normal normal 16px/25px "Archivo";
  letter-spacing: 0px;
  color: #6e7281;
}

.mainCard {
  height: 50%;
  width: 100%;
}

.card-body {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 17px #53525229;
  border-radius: 12px;
  width: 100%;
}

.h-c {
  font: normal normal 700 16px/23px "Archivo";
  letter-spacing: 0px;
  color: #0f1f40;
  // height: 5rem;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-c {
  font: normal normal 500 12px/18px "Montserrat";
  letter-spacing: 0px;
  color: #6e7281;
}

.p-i {
  width: 28px;
  height: 28px;
}

.icon-text {
  p {
    font: normal normal 400 12px/18px "Montserrat";
    letter-spacing: 0px;
  }
}

.lmBtn {
  background: #fff0e3 0% 0% no-repeat padding-box;
  border-radius: 6px;
  font: normal normal 700 12px/14px "Archivo";
  letter-spacing: 0px;
  color: #e87a1c;
}

.ng2-pdf-viewer-container[_ngcontent-efj-c276] {
  overflow-x: auto;
  position: relative;
  height: 100%;
  width: 200px;
  margin-left: 0;
  margin-right: 0;
}

.pdfViewer[_nghost-hjj-c276] {
  margin-left: 0;
  margin-right: 0;
}

.removePageBorders[_nghost-hjj-c276] {
  margin-left: 0;
  margin-right: 0;
}
