<div class="filter-d mt-3 mb-3">
  <app-filter-component
    (filterFormData)="filterData($event)"
    [filterInputData]="filterComponent"
    [mobileFilterConfig]="mobileFilterConfig"
  ></app-filter-component>
</div>
<div class="row">
  <div class="col-sm-12 info-text mb-3">
    <p>
      Various states and cities have taken initiatives to improve revenue
      collection by using technology and other interventions. Some of these
      initiatives have been documented and shared for reading
    </p>
  </div>
</div>
<div class="row" *ngIf="cardData.length > 0">
  <div
    class="col-sm-12 col-md-4 col-lg-3"
    *ngFor="let item of cardData"
    style="margin: 1rem 0"
  >
    <div class="card-body">
      <div style="position: relative">
        <pdf-viewer
          [src]="item?.downloadUrl | toStorageUrl"
          [render-text]="false"
          [show-all]="false"
          style="display: block; height: 250px"
          [page]="1"
          [zoom-scale]="'page-fit'"
          [original-size]="false"
        >
        </pdf-viewer>
      </div>
      <div class="h-c">
        {{ item?.name }}
      </div>
      <!-- <div class="info-c mt-2 mb-3">
        {{ item?.info }}
      </div> -->
      <div class="row mt-2" style="align-items: center">
        <div class="col-sm-2 pe-0">
          <a href="{{ item.downloadUrl | toStorageUrl }}" target="_blank">
            <span>
              <img
                src="../../../../../assets/new_dashBord_ftr_hdr/pdf.png"
                alt=""
                class="p-i"
              />
            </span>
          </a>
        </div>
        <div class="col-sm-9">
          <div class="icon-text">
            <p class="m-0">Updated on</p>
            <p class="m-0">
              {{ currentDate }}
              <!-- {{ item?.updateDate }} -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-12 text-center mb-3 mt-3">
    <button class="btn lmBtn">
      <span class="material-icons" style="vertical-align: middle">
        refresh
      </span>
      <span class="ms-1">Load More</span>
    </button>
  </div> -->
</div>

<div class="row" *ngIf="cardData.length == 0">
  <div class="col-sm-12 mb-3">
    <img class="rounded mx-auto d-block" src="assets/images/sad.svg" />
    <p class="text-center">
      Sorry we couldn’t find any matches for ‘{{ globalName }}’. Please try
      searching with another term.
    </p>
  </div>
</div>
