tr {
    font-family: var(--ff-base);
    font-weight: var(--fw-medium);
}

tr:hover {
    background-color: rgb(240, 238, 238);
}

// input[type="radio"] {
//     accent-color: var(--clr-secondary);
// }