.card {
  display: inline-flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 20px #4e4e4e29;
  border: 1px solid #f4f4f4;
  border-radius: 12px;
  height: 16rem;
  padding: 10px;
  margin: 0 10px;
  width: 18rem;
}

.nav {
  justify-content: center;
  flex-wrap: nowrap;
  width: max-content;
}

.nav-item {
  border: 1px solid #9299b2;
  border-radius: 6px;
  opacity: 1;
  margin: 0 0.5rem;
  text-align: center;
}

.sub-ans {
  font: normal normal normal 1em "Archivo";
  letter-spacing: 0px;
  line-height: 1.7;
  color: #6e7281;
  text-align: justify;
}

.nav > li > a {
  padding: 5px 15px;
}

.nav-pills .nav-link.active {
  background: #3e5db1 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 8px #bacbfa;
  border: 1px solid #3e5db1;
  border-radius: 6px;
  opacity: 1;
}
.frame {
  text-align: center;
  margin: 3%;
}

.container-cnt {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  overflow: auto;
}

@media screen and (max-width: 1000px) {
  .iframeResponsive{
    width: 100%;
  }
}
