<div class="container-fluid">
  <div class="row res-bg">
    <div class="col-12 text-center">
      <div class="res-h mt-5 mb-2">Resources</div>
      <div class="res-sub-h mb-2">
        This page contains a repository of all our research outputs and other
        Municipal Finance related knowledge products.
      </div>
      <div class="row">
        <div class="res-filter">
          <form class="filter-forms w-100">
            <div class="row">
              <div class="col-9 pe-0">
                <input
                  type="text"
                  placeholder="Type here..."
                  [formControl]="resourcesFilter"
                  [matAutocomplete]="auto"
                  class="fl-input form-control"
                  (keyup.enter)="searchFilter(resourcesFilter.value)"
                />
              </div>
              <div class="col-3 p-0">
                <button
                  type="button"
                  class="btn btnFilter"
                  *ngIf="search"
                  (click)="searchFilter(resourcesFilter.value)"
                >
                  Search
                </button>
                <button
                  type="button"
                  class="btn btnFilter"
                  *ngIf="crossIcon"
                  (click)="crossButton()"
                >
                  <i class="fa fa-close" style="font-size: 25px"></i>
                </button>
              </div>
              <div class="col-12">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    *ngFor="let resource of filteredResources | async"
                    [value]="resource"
                  >
                    {{ resource }}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="mb-4 totalCount" *ngIf="crossIcon">
          <b>{{ totalCount }}</b> Search results for
          <b>'{{ searchedValue }}'</b>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<div class="container container-cnt mt-n">
  <a
    (click)="activeCard(cardIndex, cardData)"
    routerLink="{{ card?.link }}"
    class="center-aTag mx-xl-auto"
    *ngFor="let card of cardData; let cardIndex = index"
  >
    <app-shared-card
      [data]="card"
      [links]="card?.link"
      [cardStyle]="cardStyle"
      [cardActive]="card.activeCard"
    ></app-shared-card>
  </a>

  <!-- <div class="card" > -->

  <!-- </div> -->
  <!-- <div class="text-center mb-2 res-d" style="margin: 0 10px; width: 15rem; display: inline-block;" routerLinkActive="active" *ngFor="let card of cardData">
        <a routerLink="{{card?.link}}" style="text-decoration: none;">
            <app-shared-card [data]="card" [cardStyle]="cardStyle"></app-shared-card>
        </a>
    </div> -->
</div>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
