<button (click)="downloadPDF()">Download PDF</button>
<div #pdfDownload id="pdfDownload" class="pdfDownload">
    <div class="d-flex mb-3">
        <h1 class="p-2 text-uppercase text-cfSecondary fw-bold">City Finance Ranking</h1>
        <div class="ms-auto p-2"><img src="./assets/images/city-finance-ranking.png"></div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <div class="px-4 py-2 mb-4 bg-warning-subtle">
                <div class="fw-bold text-cfSecondary fs-3">25,3434</div>
                <div>Population (2011 Census)</div>
            </div>
            <div class="px-4 py-2 mb-4 bg-warning-subtle">
                <div class="fw-bold text-cfSecondary fs-3">4 Million +</div>
                <div>Population Category</div>
            </div>
            <div class="px-4 py-2 mb-4 bg-warning-subtle">
                <div class="fw-bold text-cfSecondary fs-3">2/4</div>
                <div>National Rank</div>
            </div>
        </div>
        <div class="col">
            <div class="p-3 bg-dark-blue text-white">
                <div class="d-flex mb-2">
                    <div class="flex-shrink-0 bg-white">
                        <img src="assets/fiscal-rankings/RM.svg">
                    </div>
                    <div class="flex-grow-1 ms-3 fs-5">
                        Resource Mobilization
                    </div>
                </div>
                <div class="fw-bold fs-6">Over All Score: 876.03/ 1200</div>
                <div class="fw-bold fs-6">National Rank: 1/ 4</div>
                <div class="fw-bold fs-6">Avarage Score: 876.03/ 1200</div>
                <hr>
                <p class="fs-6">This parameter evaluates the current size and growth trend of a ULB’s diverse revenue
                    sources, including revenue generation and property tax collection.</p>
            </div>
        </div>
        <div class="col">
            <div class="p-3 bg-dark-blue text-white">
                <div class="d-flex mb-2">
                    <div class="flex-shrink-0 bg-white">
                        <img src="assets/fiscal-rankings/EP.svg">
                    </div>
                    <div class="flex-grow-1 ms-3 fs-5">
                        Expenditure Performance
                    </div>
                </div>
                <div class="fw-bold fs-6">Over All Score: 876.03/ 1200</div>
                <div class="fw-bold fs-6">National Rank: 1/ 4</div>
                <div class="fw-bold fs-6">Avarage Score: 876.03/ 1200</div>
                <hr>
                <p class="fs-6">This parameter assesses the amount and effectiveness of a ULB's spending on
                    infrastructure and services that benefit residents.</p>
            </div>
        </div>
        <div class="col">
            <div class="p-3 bg-dark-blue text-white">
                <div class="d-flex mb-2">
                    <div class="flex-shrink-0 bg-white">
                        <img src="assets/fiscal-rankings/FG.svg">
                    </div>
                    <div class="flex-grow-1 ms-3 fs-5">
                        Fiscal Governance
                    </div>
                </div>
                <div class="fw-bold fs-6">Over All Score: 876.03/ 1200</div>
                <div class="fw-bold fs-6">National Rank: 1/ 4</div>
                <div class="fw-bold fs-6">Avarage Score: 876.03/ 1200</div>
                <hr>
                <p class="fs-6">This parameter assesses the strength of a ULB's financial management systems,
                    including transparency, efficiency, and effectiveness in revenue collection and budgeting.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col pdf-col">
            <div class="shadow-lg p-2">
                <h5 class="text-cfPrimary">Parameter wise score</h5>
                <p class="fs-6">This section presents the city’s scores for the three pillars of sound financial
                    management:
                    resource
                    mobilisation, expenditure performance, and fiscal governance. A high score in resource mobilisation
                    indicates strong revenue generation, while a high score in expenditure performance reflects
                    efficient
                    use of fund.</p>
                <canvas #chartCanvas1></canvas>
                <div class="mt-4">
                    <p class="fs-6">Note:<br>
                        State Subcategory<br>
                        1. High Participation (>75% of ULBs from the State participated in the ranking)<br>
                        2. Low Participation (<75% of ULBs from the State participated in the ranking) <br>
                            3. Hilly/ North Eastern States- High Participation State </p>
                </div>
            </div>
        </div>
        <div class="col pdf-col">
            <div class="shadow-lg p-2 mb-2">
                <h5 class="text-cfPrimary">Overall score</h5>
                <div class="d-flex align-items-center mb-2">
                    <div class="flex-shrink-0 bg-white">
                        <div class="fw-bold fs-6 text-cfSecondary">876.03/ 1200</div>
                        <p>Overall score </p>
                    </div>
                    <div class="flex-grow-1 ms-3 border-set">
                        <p class="fs-6">This section shows the city’s overall score (out of 1200) based on its
                            performance across 15 key indicators of financial health. The city’s rank among all
                            participating cities is also provided.</p>
                    </div>
                </div>

            </div>
            <div class="shadow-lg p-2">
                <h5 class="text-cfPrimary">Parameter wise Ranks </h5>
                <p class="fs-6">This section presents the city’s rank for each parameter – resource mobilisation,
                    expenditure
                    performance, and fiscal governance – compared to other cities in its population category. Higher
                    ranks
                    indicate better performance than peer cities in revenue generation, efficient spending, and
                    financial
                    transparency.</p>
                <canvas #chartCanvas2></canvas>
            </div>
        </div>
        <div class="col pdf-col">
            <div class="shadow-lg p-2 mb-2">
                <h5 class="text-cfPrimary">Indicator-wise scores</h5>
                <p class="fs-6">This section provides a detailed breakdown of the city’s performance on the 15
                    indicators
                    used to
                    calculate the overall score. These indicators cover various aspects of resource mobilisation,
                    expenditure performance, and fiscal governance, providing a granular view of the city’s financial
                    health. Each indicator is scored out of 100.</p>
                <canvas #chartCanvas3></canvas>
            </div>
            <div class="about p-2">
                <h6>About City Finance Rankings</h6>
                <p class="fs-6">The CityFinance Rankings, an initiative of the Ministry of Housing and Urban Affairs
                    (MoHUA)
                    in
                    collaboration with Janaagraha, evaluates the financial health of India's cities (Urban Local
                    Bodies—ULBs) based on their financial performance across various parameters. By promoting fiscal
                    accountability and transparency among ULBs, the rankings ultimately aim to improve the quality
                    of
                    life
                    for residents across India's urban landscape.</p>
            </div>
        </div>
    </div>
</div>