@use '@angular/material' as mat;
@use './theme-colors' as mat-theme;

$xvifc_theme_class: 'xvifc-theme';
$xvifc-font-family: Montserrat;
$xvifc-density: -1;

@mixin xvifc-theme-tokens {
  --color-primary: #114551;
  --color-primary-hover: #16505d;
  --color-primary-selected: #1c6170;
  --color-primary-accent: #f2f7f8;
  --color-muted: rgba(255, 255, 255, 0.4);

  --nav-width: 260px;
  --item-padding: 0.45rem;
  --radius-split-rouned: 5px 20px 20px 5px;
  --radius-split-squared: 5px 5px 5px 5px;
}

@mixin xvifc-material-theme {
  font-family: $xvifc-font-family, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;

  @include xvifc-theme-tokens;
  @include mat.theme(
    (
      
      color: (
        primary: mat-theme.$primary-palette,
        tertiary: mat-theme.$tertiary-palette,
        theme-type: light,
      ),
      typography: $xvifc-font-family,
      density: $xvifc-density,
    )
  );
}
