section {
    background-image: url('/assets/fiscal-rankings/ulb-detail-header-bg.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 55%;
}

.card {
    background-color: #f5f6ff;
    border: 1px solid #9ca4ed;
}

mat-icon.yes {
    color: #49B171;
}


mat-icon.no {
    color: #E72463;
}