section {
  background-image: url('../../../../../assets/fiscal-rankings/ulb-detail-header-bg.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 55%;
}

p,
h5 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

mat-divider {
  border-top-color: white !important;
}

.fs-7 {
  font-size: 0.75rem;
}

.fs-8 {
  font-size: 0.65rem;
}
