<section class="d-flex justify-content-end me-5">
	<a id="download-city-brief" (click)="downloadPdf()" class="text-cfPrimary">
		<i class="text-cfPrimary bi bi-download"></i>&nbsp;Download City Brief
	</a>
</section>
<h3 class="fw-bold text-center my-4">{{ ulb?.name }} ({{ ulb?.censusCode || ulb?.sbCode }})</h3>

<div id='rankings-pdf' class="d-flex flex-column justify-content-between p-2 border border-2"
	style="height: 210mm; width: 297mm; display: none !important;">
	<!-- 1st section -->
	<div class="d-flex p-1">
		<h2 class="flex-grow-1 text-center text-cfSecondary fw-bold">CITY FINANCE RANKINGS</h2>
		<img src="./assets/images/city-finance-ranking.png" />
	</div>

	<!-- 2nd section -->
	<div class="row gap-1 p-1 mb-1">
		<!-- 1st box -->
		<div class="col-auto d-flex flex-column justify-content-between">
			@for (item of section2['card1']; track $index) {
			<div class="p-2 rounded-1" [ngStyle]="{'background-color': cfPrimaryLight}">
				<h5 class="fw-bold text-cfSecondary">{{item.title}}</h5>
				<p class="fs-8 text-secondary" [innerHTML]="item.subtitle"></p>
			</div>
			}
		</div>
		<!-- 2nd - 4th box -->
		@for (item of section2['remainingCards']; track $index) {
		<div class="col bg-cfSecondary text-white p-2 rounded-1">
			<div class="row mb-3 align-items-center">
				<img class=" col-3" [src]="'assets/fiscal-rankings/' + item.key + '.svg'" alt="" width="30px"
					height="30px" />
				<p class="col-auto fw-bold">{{item.label}}</p>
			</div>
			<div>
				<p class="fs-7">{{item.key}} score: {{item.scoreNumerator}}/ {{item.scoreDenominator}}</p>
				<p class="fs-7">{{item.key}} Rank: {{item.rankNumerator}}/ {{item.rankDenominator}}</p>
				<p class="fs-7">Average score: {{item.avgNumerator}}/ {{item.avgDenominator}}</p>
			</div>
			<mat-divider class="my-2"></mat-divider>
			<p class="fs-8">{{item.desc}}</p>
		</div>
		}
	</div>

	<!-- 3rd section -->
	<div class="row flex-grow-1">
		<!-- 1st box -->
		<div class="col-3 bg-light rounded-1 p-2 d-flex flex-column">
			<p class="fs-7 fw-bold text-cfPrimary">{{section3['card1']['header']}}</p>
			<p class="fs-8">{{section3['card1']['desc']}}</p>
			<div class="flex-grow-1" style="max-height: 200px;">
				<canvas id="chart1Canvas" style="width: 100% !important; height: 100% !important; display: block;">
					{{chart1 }}
				</canvas>

			</div>
			<div>
				<p class="fs-8">{{section3['card1']['note']['header']}}</p>
				<ol class="fs-8">
					@for (item of section3['card1']['note']['desc']; track $index) {
					<li>{{item}}</li>
					}
				</ol>
			</div>
		</div>
		<!-- 2nd box -->
		<div class="col-4 d-flex flex-column justify-content-between">
			<!-- upper box -->
			<div class="bg-light rounded-1 p-2 mb-2">
				<p class="fs-8 fw-bold text-cfPrimary">{{section3['card2a']['header']}}</p>
				<div class="row">
					<div class="col-auto d-flex flex-column justify-content-center">
						<p class="text-cfSecondary">{{overAllScore}}/ 1200</p>
						<p class="fs-7">{{section3['card2a']['header']}}</p>
					</div>
					<p class="col fs-8">{{section3['card2a']['desc']}}</p>
				</div>
			</div>
			<!-- lower box -->
			<div class="bg-light rounded-1 p-2 flex-grow-1">
				<p class="fs-7 fw-bold text-cfPrimary">{{section3['card2b']['header']}}</p>
				<p class="fs-8">{{section3['card2b']['desc']}}</p>
				<div class="">
					<canvas class="w-100" id="chart2Canvas">{{ chart2 }}</canvas>
				</div>
			</div>
		</div>
		<!-- 3rd box -->
		<div class="col d-flex flex-column">
			<div class="bg-light rounded-1 p-2 mb-2 flex-grow-1">
				<p class="fs-7 fw-bold text-cfPrimary">{{section3['card3a']['header']}}</p>
				<p class="fs-8">{{section3['card3a']['desc']}}</p>
				<div class="">
					<canvas id="chart3Canvas" class="w-100">{{ chart3 }}</canvas>
				</div>
			</div>
			<div class="bg-cfPrimary text-white shadow rounded p-2">
				<p class="fs-8 fw-bold">{{section3['card3b']['header']}}</p>
				<p class="fs-8">{{section3['card3b']['desc']}}</p>
			</div>
		</div>
	</div>
</div>