<!-- <app-loader [show]="!response"></app-loader> -->


<div class="common-table container-fluid px-0" *ngIf="response">
    <div class="d-flex justify-content-between mt-4" *ngIf="response?.name"
        style="background: white; position: sticky; top: 0;">
        <h4 class="my-3">{{ response.name }} <a [href]="response.headerLink.link" target="_blank"
                *ngIf="response?.headerLink"> - {{response.headerLink.label}}</a> </h4>
        <mat-paginator *ngIf="response?.total" [length]="response.total" [pageSize]="limit"
            [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)" aria-label="Select page">
        </mat-paginator>
        <mat-icon *ngIf="isDialog" (click)="closeDialog()" role="button">clear</mat-icon>
    </div>
    <div class="scroll {{theme}} {{classLists}}">
        <table class="table bg-white" [ngClass]="{'d-block': isDialog, 'table-striped': !theme}">
            <thead *ngIf="response.columns && response.columns.length > 0">
                <tr>
                    <ng-container *ngFor="let column of response.columns">
                        <th scope="col" *ngIf="!column?.hidden" [attr.colspan]="column?.colspan || 1"
                            [style.width]="column?.width || null"
                            class="border-0 {{column?.class}} {{column?.key}} br-r"
                            [ngClass]="{'table-primary': !theme}">
                            <button (click)="updateSorting(column)" [ngClass]="{'d-flex' : column?.key !== 'sNo'}"
                                class="cur">
                                <div>
                                    <p [innerHTML]="column.label" class="m-0"
                                        [ngClass]="{'lb-cls' : column?.key !== 'sNo'}"></p>
                                    <div *ngIf="column?.info" class="fw-light text-muted lb-cls"><small>{{
                                            column.info
                                            }}</small>
                                    </div>
                                </div>
                                <i *ngIf="column?.sortable" class="mt-1 ms-2 fa fa-sort" [ngClass]="{
                                    'fa-sort': column.sort === 0,
                                    'fa-sort-desc': column.sort === -1,
                                    'fa-sort-asc': column.sort === 1
                                }" aria-hidden="true"></i>
                            </button>
                        </th>
                    </ng-container>
                </tr>
                <!-- <tr *ngIf="response.subHeaders">
                    <td class="text-muted fst-italic text-nowrap br-r" *ngFor="let subHeader of response.subHeaders"
                        [ngClass]="{'table-primary': !theme}">
                        {{ subHeader}}
                    </td>
                </tr> -->
                <tr *ngIf="isSearchable">
                    <th scope="col" *ngFor="let column of response.columns" class="border-0"
                        [ngClass]="{'table-secondary': !theme}">
                        <input type="text" *ngIf="column.hasOwnProperty('query')"
                            [placeholder]="'Search ' + column?.label" class="form-control p-1"
                            [(ngModel)]="column.query" (keyup.enter)="loadData()" (blur)="loadData()">
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="response.data && response.data.length > 0">
                <tr *ngFor="let row of response.data" class="py-1"
                    [ngClass]="{'table-secondary': row['selected'], 'border-0': !theme}">
                    <td *ngFor="let column of response.columns; let i = index;"
                        [ngClass]="{'text-center': i !== 0, 'border-0': !theme}" class="data-item br-r">
                        <!-- <ng-container *ngIf="row[column.key + 'Link']; else iconValue;">
                            <a *ngIf="isDialog" [href]="row[column.key + 'Link']" target="_blank">{{ row[column.key]
                                }}</a>
                            <a *ngIf="!isDialog" [href]="row[column.key + 'Link']">{{ row[column.key] }}</a>
                        </ng-container> -->

                        <!-- <ng-template #iconValue>
                            <ng-container *ngIf="row[column.key + 'Config']?.icon; else fileValue;">
                                <a href="{{row[column.key + 'Config'].link}}" target="_blank" rel="fiscal-rankings">
                                    <img [src]="'assets/fiscal-rankings/' +  row[column.key + 'Config']?.icon + '.png'"
                                        alt="{{column.key}}" srcset="">
                                </a>
                            </ng-container>
                        </ng-template> -->

                        <!-- <ng-template #fileValue>
                            <ng-container
                                *ngIf="(row[column.key] | fileUrlCheck: targetExtension : allowedExtensions); else simpleValue">
                                <a href="{{row[column.key]}}" target="_blank" rel="fiscal-rankings">
                                    <img [src]="'assets/fiscal-rankings/' + targetExtension + '.png'"
                                        alt="{{column.key}}" srcset="">
                                </a>
                            </ng-container>
                        </ng-template>
                        <ng-template #simpleValue>
                            {{ (row[column.key] | typeof) === 'number' ? (row[column.key] | number) : row[column.key]}}
                        </ng-template> -->
                    </td>
                </tr>
                <tr *ngIf="response.lastRow" class="fixed-footer">
                    <th *ngFor="let item of response.lastRow; let i = index;" [ngClass]="{'text-center': i !== 0}">{{
                        item }}</th>
                    <!-- tableRowCalculator : response?.columns[i]?.key : response.data }}</th> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="info" class="text-start" [innerHtml]="info"></div>
    <div *ngIf="tableName !== 'Participated State'">
        <mat-paginator *ngIf="response?.total" [length]="response.total" [pageSize]="limit"
            [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)" aria-label="Select page">
        </mat-paginator>
    </div>

    <h2 *ngIf="response?.data?.length === 0" class="text-center p-5">No data found</h2>
</div>