<div class="row">
  <div class="col-sm-12" *ngIf="isIntro">
    <div class="row">
      <!-- <div class="col-sm-12 mt-3">
        <span>
                   <img src="../../../../../assets/new_dashBord_ftr_hdr/chevron_left_black_24dp.svg" alt="">
                </span>
        <a (click)="backToCard()" style="text-decoration: none">
          <span
            class="material-icons"
            style="
              font-size: 1.75rem;
              vertical-align: middle;
              padding-bottom: 5px;
              color: #e87a1c;
            "
          >
            chevron_left
          </span>
        </a>

        <span class="heading"> Property Tax Toolkit</span>
      </div> -->
      <div class="col-sm-12 mt-3">
        <span class="sub-h"> What is the Property Tax Digital Toolkit? </span>
      </div>
      <div class="col-sm-12 mt-3">
        <span class="sub-ans">
          This toolkit is a one-stop-shop for all your needs for reforming
          property taxes in your State/ULB. It provides reform recommendations
          based on best-practices implemented nationally and internationally and
          provides a step-wise implementation guide that you can easily follow
          to take immediate action. Reform recommendations in each stage of the
          lifecycle of property tax have been framed as responses to issues and
          implementation challenges, sharply addressing WHAT NEEDS to BE DONE
          and HOW CAN IT BE DONE.
        </span>
      </div>
      <div class="col-sm-12 mt-3">
        <img
          src="../../../../../assets/new_dashBord_ftr_hdr/introImg.png"
          width="100%"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="col-sm-12" *ngIf="isEnum">
    <!-- <h2 style="text-align: center;">Chapter on Enumeration</h2> -->
    <div class="heading topBottomGaps">Current Practices</div>
    <p class="sub-ans just">
      Enumeration means counting of properties for the purpose of taxation. In
      practical terms, this entails the creation and maintenance of a property
      register. Ideally, the process of enumeration should ensure completeness
      and accuracy of records.
      <br />
      It is important to have a complete record of properties in a jurisdiction
      to have an improved process of tax collection.
    </p>
    <div class="heading topBottomGaps">
      The process of enumeration has the following aspects:
    </div>
    <div class="heading topBottomGaps">
      1) Creation of property tax register
    </div>

    <p class="sub-ans just">
      The ULB can create a physical record or a digital record of properties in
      their jurisdiction once counting is done.
    </p>
    <img
      src="../../../../../assets/resources-das/enum1.png"
      style="width: 1054px"
    />
    <div class="heading topBottomGaps">
      2) Maintenance of property tax register
    </div>

    <h3></h3>
    <p class="sub-ans just">
      Property register can be updated by repeating a physical survey and/or it
      can be integrated with database of other departments in the municipal
      corporation.
    </p>
    <img src="../../../../../assets/resources-das/enum2.png" />

    <div class="heading topBottomGaps" style="margin-top: 2%">
      Key Recommendations
    </div>
    <div class="responsiveCards">
      <div
        (click)="showRecomm(card._id)"
        *ngFor="let card of enumCardData"
        class="card"
        [ngClass]="{ cardSuper: card._id == cardId }"
      >
        {{ card.heading }}
      </div>
    </div>
    <div
      *ngFor="let line of enumCardData[cardId - 1].content"
      class="topBottomGaps sub-ans just"
    >
      <ul>
        <li [innerHTML]="line" style="list-style-type: none">{{ line }}</li>
      </ul>
    </div>
    <div>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let item of enumCardData[cardId - 1].imgArr"
          class="slide responsiveAssess"
          style="height: 500px"
        >
          <span class="topBottomGaps steps">{{ item.text }}</span>

          <img [src]="item.link" alt="" width="100%" />
        </div>
      </ngx-slick-carousel>
    </div>
    <!-- <div class="mt-4" *ngFor="let item of enumCardData[cardId - 1].imgArr">
    </div> -->
  </div>
  <div class="col-sm-12" *ngIf="isValu">
    <div class="heading topBottomGaps">Current Practices</div>
    <p class="sub-ans just">
      Valuation refers to the methodology used for assigning values to all
      properties for the purpose of taxation. There are three methods for
      valuation of properties for the purpose of property tax which are
      currently used by States in India, i.e. the annual rental value method
      (ARV), unit area value method (UAV) and the capital value method (CV).
      These methodologies vary across States and cities, both in legislation and
      in practice.
      <br /><br />
      Annual Rental Value (ARV) is the most widely used valuation method in
      Indian States.
      <br /><br />
      The common aspect between ARV and UAV is that in most States that use
      these methodologies, the values are prescribed in an ad-hoc manner without
      clear linkage to underlying factors. The CV system, which is followed in a
      few States, directly links property tax to the prevailing guidance value
      as published by the Stamp Duties and Registration Department. However, the
      property value is generally depressed by virtue of several multiplicative
      factors that make the system non-buoyant. Moreover, property tax
      valuations are not revised regularly in tandem with increase in guidance
      values i.e. outdated guidance values may be used for property taxation. To
      overcome these challenges, all cities should adopt the CV system with
      minimum multiplicative factors and a provision for periodic increase
      linked to increase in guidance value.
    </p>
    <!-- <img src="../../../../../assets/resources-das/image1-31.png" /> -->

    <div class="heading topBottomGaps" style="margin-top: 2%">
      Key Recommendations
    </div>
    <div class="responsiveCards">
      <div
        (click)="showRecomm(card._id)"
        *ngFor="let card of valuationCardData"
        class="card"
        [ngClass]="{ cardSuper: card._id == cardId }"
      >
        {{ card.heading }}
      </div>
    </div>
    <div
      *ngFor="let line of valuationCardData[cardId - 1].content"
      class="topBottomGaps sub-ans just"
    >
      <ul>
        <li [innerHTML]="line" style="list-style-type: none">{{ line }}</li>
      </ul>
    </div>
    <div>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let item of valuationCardData[cardId - 1].imgArr"
          class="slide responsiveAssess"
          style="height: 500px"
        >
          <span class="topBottomGaps steps">{{ item.text }}</span>

          <img [src]="item.link" alt="" width="100%" />
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <div class="col-sm-12" *ngIf="isAssess">
    <div class="heading topBottomGaps">Current Practices</div>
    <p class="sub-ans just">
      Assessment of properties refers to the exercise of assessing the value of
      a particular property within the parameters defined by ULB or State for
      the purpose of taxation. The rules and formulae for assigning value to all
      properties within the city are defined by valuation. Assessment is the
      application of those rules and formulas to individual properties. The
      strength of the assessment process can be judged by the completeness and
      veracity of the assessment records. The process of assessment has three
      aspects to it –
      <br />
      1. Assessment methodology used for assessing property tax payable by
      individual properties <br />
      2. Exemptions as defined by statutory provisions <br />
      3. Dispute resolution mechanisms
    </p>
    <img src="../../../../../assets/resources-das/image1-31.png" />

    <div class="heading topBottomGaps" style="margin-top: 2%">
      Key Recommendations
    </div>
    <div class="responsiveCards">
      <div
        (click)="showRecomm(card._id)"
        *ngFor="let card of assessmentData"
        class="card"
        [ngClass]="{ cardSuper: card._id == cardId }"
      >
        {{ card.heading }}
      </div>
    </div>

    <div
      *ngFor="let line of assessmentData[cardId - 1].content"
      class="topBottomGaps sub-ans just"
    >
      <ul>
        <li>{{ line }}</li>
      </ul>
    </div>
    <div>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let item of assessmentData[cardId - 1].imgArr"
          class="slide responsiveAssess"
          style="height: 500px"
        >
          <span class="topBottomGaps steps">{{ item.text }}</span>
          <img [src]="item.link" alt="" width="100%" />
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <div class="col-sm-12" *ngIf="isBill">
    <div class="heading topBottomGaps">Current Practices</div>
    <p class="sub-ans just">
      Collection efficiency of property tax, which is an important own revenue
      indicator and is calculated as the ratio of tax collected to demand
      raised, is dependent on both completeness of billing and administrative
      efficiencies in the collection process. While many ULBs do not follow
      this, it is a good practice to ensure that all properties that have been
      assessed are billed, tax is collected in a timely manner, and periodic
      payment reminders are issued especially using electronic modes such as SMS
      and/or emails. The practice of maintaining manual records, which is the
      case for several ULBs in India, is also a key impediment to efficient
      billing & collection as it is vulnerable to errors. Significant staff
      vacancies in revenue departments also adversely impact collection
      efficiencies. Although some cities have done well to create online billing
      and collection systems through services of external vendors, they face
      difficulties in managing the system due to inadequate capacity building
      measures being undertaken for revenue officials. Online/digital payment of
      property tax is another good practice whose adoption has been relatively
      slow and varies across cities. For instance, Coimbatore has a relatively
      strong property tax system, but a very low rate of adoption of online
      payment – 14% in FY 2021-22 year.
    </p>
    <img src="../../../../../assets/images/resources dashboard/image1-31.png" />

    <div class="heading topBottomGaps" style="margin-top: 2%">
      Key Recommendations
    </div>
    <div class="responsiveCards">
      <div
        (click)="showRecomm(card._id)"
        *ngFor="let card of billingCardData"
        class="card"
        [ngClass]="{ cardSuper: card._id == cardId }"
      >
        {{ card.heading }}
      </div>
    </div>

    <p class="topBottomGaps sub-ans just">
      {{ billingCardData[cardId - 1].content }}
    </p>
    <div>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let item of billingCardData[cardId - 1].imgArr"
          class="slide responsiveAssess"
          style="height: 500px"
        >
          <span class="topBottomGaps steps">{{ item.text }}</span>
          <img [src]="item.link" alt="" width="100%" />
          <span
            class="topBottomGaps steps"
            [innerHTML]="item.description"
          ></span>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <div class="col-sm-12" *ngIf="isRepo">
    <div class="heading topBottomGaps">Current Practices</div>
    <p class="sub-ans just">
      Property Tax Management Information System (MIS) exists in all ULBs that
      have an online property register integrated with payment channels.
      However, the MIS systems have generally not been integrated with
      decision-making to improve coverage and collections. There are very few
      examples of States in which MIS systems are used by different levels of
      Municipal and State authorities for decision-making as well as monitoring
      and managing performance. Property tax collection and pendency
      (defaulters) data is also not available in public domain in majority of
      the ULBs.
      <br /><br />
      Most ULBs also lack an ‘incentives mechanism’ which recognizes and
      rewards/ awards above-par revenue officials. Without systematic and
      systemic tracking of property tax revenue collections, and an
      institutional arrangement of rewarding better performing revenue
      officials, the revenue collections of ULBs are likely to remain
      sub-optimal.
    </p>
    <img src="../../../../../assets/resources-das/image1-31.png" />

    <div class="heading topBottomGaps" style="margin-top: 2%">
      Key Recommendations
    </div>
    <div class="responsiveCards">
      <div
        (click)="showRecomm(card._id)"
        *ngFor="let card of reportCardData"
        class="card reportCard"
        [ngClass]="{ cardSuper: card._id == cardId }"
      >
        {{ card.heading }}
      </div>
    </div>

    <div
      *ngFor="let line of reportCardData[cardId - 1].content"
      class="topBottomGaps sub-ans just"
    >
      <ul>
        <li [innerHTML]="line"></li>
      </ul>
    </div>
    <div>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
      >
        <div
          ngxSlickItem
          *ngFor="let item of reportCardData[cardId - 1].imgArr"
          class="slide"
        >
          <span class="topBottomGaps steps">{{ item.text }}</span>
          <img [src]="item.link" alt="" width="100%" />
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>

<div class="row" *ngIf="isAssess || isBill || isRepo || isEnum">
  <div class="heading topBottomGaps">Best Practices</div>
  <div *ngIf="stateList.length > 0" style="display: flex">
    <div *ngFor="let item of stateList" class="practiceCard">
      <a
        href="{{ item.downloadUrl }}"
        target="_blank"
        style="text-decoration: none"
      >
        <div class="practiceHead">
          {{ stateIdsMap[item.state] }}
        </div>
        <div style="position: relative">
          <pdf-viewer
            [src]="item?.downloadUrl"
            [render-text]="false"
            [show-all]="false"
            style="display: block; height: 250px"
            [page]="1"
            [zoom-scale]="'page-fit'"
            [original-size]="false"
          >
          </pdf-viewer>
        </div>
        <div class="docs">
          {{ item.name }}
        </div>
      </a>
    </div>
  </div>

  <div *ngIf="stateList.length == 0">
    <p class="text-center">No Best Practices Found</p>
  </div>
</div>
