
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card p-2">
                <div class="card-body row  align-items-center">
                    <div class="col-md-3 offset-md-1 text-center">
                        <img src="assets/fiscal-rankings/hardev-singh-puri.png" alt="User Image" class="rounded-circle"
                            style="width: 100px;">
                        <h3 class="card-title">Hardeep Singh Puri</h3>
                        <p class="text-muted">Hon'ble Union Minister of Housing and Urban Affairs.</p>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p class="card-text quote px-2">"I hope this initiative will provide the necessary nudge to ULBs
                            to undertake reforms for improving their financial health, for making their cities financially
                            transparent and sustainable."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>