.w-80 {
    width: 80%;
}

.common-cls {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.fl-label {
    font-weight: 700;
    text-align: left;

}

.filter-heading {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.fl-card {
 //  background: linear-gradient(0deg, #DBDBDB, #DBDBDB),linear-gradient(0deg, #F8FAFF, #F8FAFF);
    border: 1px solid #DBDBDB;
   background : #F8FAFF;
}
.table-card {
    background-color: #FFFFFF;
    
}

.bg-img{
    background-image: url('/assets/fiscal-rankings/participedUlb.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}