<section class="bg-img">
  <div class="container">
    <div class="row mb-3">
      <div class="col-sm-12">
        <app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-12 text-center">
        <span class="form-h-fr">Urban Local Bodies (ULBs) in
          <span class="color-orange">{{ selectedStateName }} </span></span>
      </div>
      <div class="col-sm-12 w-80 mx-auto text-center mt-2 px-5">
        <p class="sub-def-fr">
          Explore a comprehensive list of Urban Local Bodies (ULBs) within
          <span class="color-orange">{{ selectedStateName }}</span>. Gain insights into each ULB's characteristics,
          including their population category,
          participation in ranking assessments, ranking status, and the availability of annual
          financial statements and budgets from recent years.
        </p>
      </div>
    </div>
    <div class="row justify-content-center mb-4 p-4">
      <div class="col-md-10">
        <div class="mx-auto">
          <div class="card fl-card p-4">
            <div class="card-body">
              <div class="row">
                <div class="col-6 text-start common-cls fl-label">Filter by :</div>
                <div class="col-6 text-end">
                  <button class="btn color-orange btn-outline" (click)="resetFilter()">
                    Reset
                  </button>
                </div>
              </div>
              <div class="row">
                <!-- State type filter -->
                <div class="col-4">
                  <div class="filter-heading common-cls">Population Category</div>
                  <div class="filer">
                    <select class="form-select" aria-label="populationBucket" [(ngModel)]="populationBucket"
                      (change)="dropDownValueChanges($event.target)">
                      <option value="{{ item?.value }}" selected *ngFor="let item of populationCategoryFilter">
                        {{ item?.label }}
                      </option>
                    </select>
                  </div>
                </div>
                <!-- ULB Participation -->
                <div class="col-4">
                  <div class="filter-heading common-cls">ULB Participation</div>
                  <div class="filer">
                    <select class="form-select" aria-label="ulbParticipation" [(ngModel)]="ulbParticipation"
                      (change)="dropDownValueChanges($event.target)">
                      <option value="{{ item?.value }}" selected *ngFor="let item of ulbParticipationFilter">
                        {{ item?.label }}
                      </option>
                    </select>
                  </div>
                </div>
                <!-- ULB Ranking Status -->
                <div class="col-4">
                  <div class="filter-heading common-cls">ULB Ranking Status</div>
                  <div class="filer">
                    <select class="form-select" aria-label="ulbRankingStatusFilter" [(ngModel)]="ulbRankingStatus"
                      (change)="dropDownValueChanges($event.target)">
                      <option value="{{ item?.value }}" selected *ngFor="let item of ulbRankingStatusFilter">
                        {{ item?.label }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4 gx-0">
    <div class="col-12 table-card">
      <div class="px-5">
        <app-mat-common-table [response]="table.response" [isLoadingResults]="isLoadingResults" [isPagination]="true"
          (pageChange)="pageChange($event)"></app-mat-common-table>
      </div>
    </div>
  </div>
</section>