<section class="bg-img">
  <div class="container">
    <app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>

    <div class="text-center mt-4">
      <h3 class="fw-bold">
        Urban Local Bodies (ULBs) in
        <span class="text-cfPrimary fw-bold">{{ selectedStateName }} </span>
      </h3>
      <p class="mt-2">
        Explore a comprehensive list of Urban Local Bodies (ULBs) within
        <span class="text-cfPrimary">{{ selectedStateName }} </span>. Gain insights into each ULB's
        characteristics, including their population category, participation in ranking assessments,
        ranking status, and the availability of annual financial statements and budgets from recent
        years.
      </p>
    </div>

    <div class="card-clr p-4 mt-4 border border-secondary-subtle rounded">
      <div class="d-flex align-items-center justify-content-between">
        <p class="fw-bold">Filter by:</p>
        <a class="fw-bold text-cfPrimary" (click)="resetFilter()">Reset</a>
      </div>

      <div class="d-flex justify-content-between gap-4 mt-1">
        <div class="d-flex w-100 justify-content-between flex-column">
          <h6>Population Category</h6>
          <select
            class="form-select"
            aria-label="populationBucket"
            [(ngModel)]="populationBucket"
            (change)="dropDownValueChanges($event.target)"
          >
            <option
              value="{{ item?.value }}"
              selected
              *ngFor="let item of populationCategoryFilter"
            >
              {{ item?.label }}
            </option>
          </select>
        </div>

        <div class="d-flex w-100 justify-content-between flex-column">
          <h6>ULB Participation</h6>
          <select
            class="form-select"
            aria-label="ulbParticipation"
            [(ngModel)]="ulbParticipation"
            (change)="dropDownValueChanges($event.target)"
          >
            <option value="{{ item?.value }}" selected *ngFor="let item of ulbParticipationFilter">
              {{ item?.label }}
            </option>
          </select>
        </div>

        <div class="d-flex w-100 justify-content-between flex-column">
          <h6>ULB Ranking Status</h6>
          <select
            class="form-select"
            aria-label="ulbRankingStatusFilter"
            [(ngModel)]="ulbRankingStatus"
            (change)="dropDownValueChanges($event.target)"
          >
            <option value="{{ item?.value }}" selected *ngFor="let item of ulbRankingStatusFilter">
              {{ item?.label }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="px-5 mt-4">
    <app-mat-common-table
      [response]="table.response"
      [isLoadingResults]="isLoadingResults"
      [isPagination]="true"
      (pageChange)="pageChange($event)"
    ></app-mat-common-table>
  </div>
</section>
