textarea {
    height: 120px;
}

.warning-btn {
    background: #E67E15;
    border-radius: 8px;
    color: #FFFFFF;
}

.pmu-info {
    list-style-type: none;
    padding: 0;
    font-size: small;
    font-weight: bold;
    margin: 0;
}