/* chart.css */
.chart-container {
    // width: 90%;
    // margin: auto;
    // display: flex;
    // flex-direction: column;
    // gap: 40px;
    height: min(350px, 60vh);
    max-width: max(450px, 50vw);
    border: 1px solid red;
    // overflow-x: scroll;
}

// .chartCard {
//     width: 700px;
//     padding: 20px;
//     border-radius: 20px;
//     border: 3px solid red;
//     background: white;
// }

// .chartCard {
//     width: 100vw;
//     height: calc(100vh - 40px);
//     background: pink;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .chartBox {
//     width: 50%;
//     height: 50%;
//     border: 3px solid slateblue;
//     background: white;
// }