/* chart.css */
.chart-container {
    width: 100%;
    height: 100%;
    // margin: auto;
    // display: flex;
    // flex-direction: column;
    // gap: 40px;
    // overflow-x: scroll;

    // height: min(350px, 60vh);
    // max-width: max(450px, 50vw);
    border: 1px solid violet;
}