<div class="container container-cnt">
  <div class="row" style="margin: 0 auto">
    @if (searchedValue !== '' && searchedValue) {
    <p style="float: left">
      <b>{{ learningCount }}</b> Search results for ‘{{ searchedValue }}’ in Learning Center
    </p>
    }
    @if (dataReceived) {
    <div class="col-sm-12 mb-3" (click)="getSubTabs(tabData)">
      <app-resources-tabs [data]="tabData"> </app-resources-tabs>
    </div>
    }
    @if (noData) {
    <div class="col-sm-12 mb-3">
      <img class="rounded mx-auto d-block" src="assets/images/sad.svg" />
      <p class="noData text-center">
        Sorry we couldn’t find any matches for ‘{{ searchedValue }}’. Please try searching with another term.
      </p>
    </div>
    }
  </div>
</div>
@if (dataReceived) {
<div class="container">
  <router-outlet></router-outlet>
</div>
}

<!-- (click)="getSubTabs(item.link)" -->

<!-- <app-score-per></app-score-per> -->