@if (isInlineLayout) {
  <div class="row g-3 align-items-start">
    <label [for]="field.key" [class]="'col-12 col-form-label fw-semibold ' + labelColClass">
      {{ field.label }}
    </label>
    <div [class]="'col-12 ' + controlColClass">
      <ng-container [ngTemplateOutlet]="fieldContent"></ng-container>
    </div>
  </div>
} @else {
  <ng-container [ngTemplateOutlet]="fieldContent"></ng-container>
}

<ng-template #fieldContent>
  <app-field-supporting-content
    [supportingContent]="fieldForRenderer.supportingContent"
    position="before"
  ></app-field-supporting-content>

  <!-- <ng-container *ngFor="let field of fields;"> -->
  @switch (this.formFieldType) {
    @case ('input') {
      <!-- <app-input [field]="field" [group]="group"></app-input> -->
      <app-input [field]="fieldForRenderer" [group]="group"></app-input>
    }
    @case ('textarea') {
      <app-textarea [field]="fieldForRenderer" [group]="group"></app-textarea>
    }
    @case ('radio') {
      <app-radiobutton [field]="fieldForRenderer" [group]="group"></app-radiobutton>
    }
    @case ('checkbox') {
      <app-checkbox [field]="fieldForRenderer" [group]="group"></app-checkbox>
    }
    @case ('select') {
      <app-select [field]="fieldForRenderer" [group]="group"></app-select>
    }
    @case ('dropdown') {
      <app-select [field]="fieldForRenderer" [group]="group"></app-select>
    }
    @case ('date') {
      <app-date [field]="fieldForRenderer" [group]="group"></app-date>
    }
    @case ('childform') {
      <app-child-form [field]="fieldForRenderer" [group]="group"></app-child-form>
    }
    @case ('table') {
      <app-table [field]="fieldForRenderer" [group]="group"></app-table>
    }
    @case ('button') {
      <app-button [field]="fieldForRenderer" [group]="group"></app-button>
    }
    @case ('file') {
      <app-file [field]="fieldForRenderer" [group]="group"></app-file>
    }

    <!-- @default {
                <span>Default case (Not 0 or 1 or 2)</span>
              } -->
  }
  <!-- </ng-container> -->
  <!-- </form> -->

  <app-field-supporting-content
    [supportingContent]="fieldForRenderer.supportingContent"
    position="after"
  ></app-field-supporting-content>
</ng-template>
