<mat-expansion-panel [expanded]="panelOpenState">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{field.label}}
        </mat-panel-title>
        <!-- <mat-panel-description>
        This is a summary of the content
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div class="table-responsive" [formGroup]="group">
        <!-- <pre>{{group.getRawValue() |json}}</pre> -->
        <table class="table table-sticky">
            <tbody>
                <!-- <tr>
                    <th class="first-col">
                    </th>
                    <th *ngFor="let year of yearFields;let j = index;">
                        {{year}}
                    </th>
                </tr> -->
                <tr *ngFor="let row of field.data;let i = index;" [ngClass]="row.class">
                    <td class="first-col">{{row.position ? row.position+'. ':''}}{{row.label}}<span class="text-danger"
                            *ngIf="row.required">*&nbsp;</span>
                        <i class="bi bi-info-circle fs-7 me-1" *ngIf="row.info" matTooltip="{{row.info}}"></i>
                    </td>
                    <td *ngFor="let col of row.year;let j = index;">
                        <!-- {{row.readonly| json}}------- -->
                        @if (['amount', 'number'].includes(col.formFieldType)) {
                            <!-- {{row.validations | json}} -->
                        <app-input [field]="col" [group]="getTableGroup(field.key, row.key)" [parentField]="row"
                            [disaplayLabel]="false"></app-input>
                        } @else if (['select', 'dropdown'].includes(col.formFieldType)) {
                           
                        <app-select [field]="col" [options]="row.options" [parentField]="row" [group]="getTableGroup(field.key, row.key)"
                            [disaplayLabel]="false"></app-select>
                        } @else if (col.formFieldType === 'heading') {
                        {{col.label}}
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <table class="table" [formArrayName]="field.key">
            <tbody>
                <tr *ngFor="let row of field.data;let i = index;" [formGroupName]="i" [ngClass]="row.class">
                    <td class="first-col">{{row.position ? row.position+'. ':''}}{{row.label}}<span class="text-danger"
                            *ngIf="row.required">*&nbsp;</span>
                        <i class="bi bi-info-circle fs-7 me-1" *ngIf="row.info" matTooltip="{{row.info}}"></i>
                    </td>
                    <td *ngFor="let col of row.year;let j = index;" [formArrayName]="row.key">
                        @if (['amount', 'number'].includes(col.formFieldType)) {
                        <app-input [field]="col" [group]="getTableGroup(field.key, i, row.key, j)"
                            [disaplayLabel]="false"></app-input>
                        } @else if (['select', 'dropdown'].includes(col.formFieldType)) {
                        <app-select [field]="col" [options]="row.options"
                            [group]="getTableGroup(field.key, i, row.key, j)" [disaplayLabel]="false"></app-select>
                        } @else if (col.formFieldType === 'heading') {
                        {{col.label}}
                        }
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
</mat-expansion-panel>