*:not(mat-icon) {
    font-family: 'Montserrat';
}

section {
    text-align: center;
    background-image: url('/assets/fiscal-rankings/header-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    // height: calc(100vh - 116.75px);
    // min-height: 90vh;
    // min-height: calc(100vh - 116.75px);

    h1 {
        font-size: 50px;
        font-weight: 600;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        gap: 60px;
        @media screen and (max-height: 800px) {
            gap: 10px;
        }
    }

    .dotted-card {
        background-color: #2f1803ad;
        color: orange;
        border: 1px dashed orange;
        border-radius: 10px;
        padding: 20px;
        align-items: center;
        @media screen and (min-width: 1200px) {
            min-width: 275px;
        }
        .content {
            text-align: left;
            .download-link {
                text-decoration: none;
                color: inherit;
                color: orange;
                display: flex;
                font-size: 14px;
                mat-icon {
                    font-size: 20px;
                }
            }
            p {
                color: white;
                font-size: 18px;
                margin: 0;
                padding: 5px;
            }
        }
    }

    .explore-more {
        font-size: 30px;
        color: orange;
        cursor: pointer;
        padding: 0;
        // position: absolute;
        // bottom: 50px;
        // left: 50%;
        // transform: translateX(-50%);
        .down {
            transform: scaleX(8.5);
            font-weight: 100;
        }
    }
}

.subText{
    margin-bottom: 75px;
}

.btn-orange{
    margin-bottom: 75px !important;
}

.dotted_card_bottom{
    margin-bottom: 30px;
}