*:not(mat-icon) {
  font-family: 'Montserrat';
}

section {
  text-align: center;
  background-image: url('../../../../../assets/fiscal-rankings/homepage-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  // height: calc(100vh - 116.75px);
  // min-height: 90vh;
  // min-height: calc(100vh - 116.75px);

  .mask {
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  h1 {
    font-size: 50px;
    font-weight: 600;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media screen and (max-height: 800px) {
      gap: 10px;
    }
  }

  .dotted-card {
    background-color: #2f1803ad;
    color: orange;
    border: 1px dashed orange;
    border-radius: 10px;
    padding: 20px;
    align-items: center;

    @media screen and (min-width: 1200px) {
      min-width: 275px;
    }

    .content {
      text-align: left;

      .download-link {
        text-decoration: none;
        color: inherit;
        color: orange;
        display: flex;
        font-size: 14px;

        mat-icon {
          font-size: 20px;
        }
      }

      p {
        color: white;
        font-size: 18px;
        margin: 0;
        padding: 5px;
      }
    }
  }

  .explore-more {
    font-size: 30px;
    color: orange;
    cursor: pointer;
    padding: 0;

    // position: absolute;
    // bottom: 50px;
    // left: 50%;
    // transform: translateX(-50%);
    .down {
      transform: scaleX(8.5);
      font-weight: 100;
    }
  }
}

.subText {
  margin-bottom: 75px;
}

.btn-orange {
  margin-bottom: 30px !important;
}

.dotted_card_bottom {
  margin-bottom: 30px;
}

.top-block {
  border: 1px solid #4e2701cc;
  padding-top: 0 !important;
  background-color: rgb(0 0 0 / 30%);

  img {
    position: relative;
    top: -30px;
  }

  h5 {
    font-weight: bold;
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}