<section [ngStyle]="{'zoom': getRatio}">
    <div class="container">
        <h1 class="mb-4">City Finance Ranking 2022</h1>
        <h5 class="fw-bold mb-4">Ranking the financial health of Urban Local Bodies based on data from FY 2018-19 to FY
            2021-22</h5>
        <div class="row">
            <div class="col-md-3">
                <div class="top-block align-center rounded-4 p-3 mt-4">
                    <img width="100px" src="./assets/fiscal-rankings/ulb-ranked.png">
                    <h5 class="mb-2">{{ participatedUlbCount | number }}</h5>
                    <p>ULBs Ranked</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top-block align-center rounded-4 p-3 mt-4">
                    <img width="100px" src="./assets/fiscal-rankings/ranking-param.png">
                    <h5 class="mb-2">3</h5>
                    <p>Ranking Parameters</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top-block align-center rounded-4 p-3 mt-4">
                    <img width="100px" src="./assets/fiscal-rankings/indicators.png">
                    <h5 class="mb-2">15</h5>
                    <p>Key Indicators</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="top-block align-center rounded-4 p-3 mt-4">
                    <img width="100px" src="./assets/fiscal-rankings/population.png">
                    <h5 class="mb-2">4</h5>
                    <p>Population Categories</p>
                </div>
            </div>
        </div>
        <div class="mt-4 pt-4">
            <a routerLink="/cfr/top-rankings" class="btn btn-orange m-auto d-flex btn-lg px-5"
                style="width: fit-content;">
                View Ranking
            </a>
            <div class="btn btn-orange m-auto d-flex btn-lg" style="width: fit-content;">
                <mat-icon>download</mat-icon> Download Report
            </div>
        </div>
        <div class="container main-content">
            <div class="explore-more" (click)="scrollOnePageDown()">
                <p>Explore more</p>
                <img width="100px" src="./assets/fiscal-rankings/down-arrow.gif">
            </div>
        </div>
    </div>
</section>