<h2 class="fw-bold text-center py-4">
  <span class="fw-bold border-bottom border-5 border-cfPrimary py-3">Discover</span>
</h2>

<p class="text-center text-secondary">
  Delve into key aspects of municipal data summarized and presented in a user-friendly manner
</p>

<div class="discover-data-grid p-3">
  @for (cardItem of exploreCardData; track $index) {
    <div class="border p-3 rounded-3 shadow text-center card" tabindex="0">
      <div class="card-data">
        <img
          class="m-2"
          [src]="cardItem['src']"
          [alt]="cardItem['alt']"
          style="width: 4rem; height: 4rem"
        />
        <p class="m-2 fw-bold">{{ cardItem['label'] }}</p>
        <p class="m-2 text-secondary custom-font-size-6">{{ cardItem['desc'] }}</p>
      </div>
      <button [routerLink]="cardItem['link']" class="btn btn-cfPrimary hidden-button">
        Know More
      </button>
    </div>
  }
</div>
