<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    @for (link of links; track link; let lastLink = $last) {
      @if (!lastLink) {
        <li title="{{ link.label }}" class="breadcrumb-item text-truncate">
          <a [routerLink]="link.url">{{ link.label }}</a>
        </li>
      }
      @if (lastLink) {
        <li
          title="{{ link.label }}"
          class="breadcrumb-item text-secondary text-truncate"
          aria-current="page"
          >
          {{ link.label }}
        </li>
      }
    }
  </ol>
</nav>
