.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
    float: none;
}

a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    font-family: Montserrat;
}

.disabled {
    color: #6C757D;
   // background: #6C757D;
    pointer-events: none;
}

.pd {
    padding: 2rem 0rem 0rem 2rem;
}

.breadcrumb-item {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;

}