<nav class="shadow-lg p-2" #stickyMenu [class.sticky]="isSticky">
  <div
    class="px-0 d-flex justify-content-between align-items-center gap-3"
    [ngClass]="isNavbarOpen ? 'flex-column nav-mobile-view' : 'container flex-lg-row'"
  >
    <!-- CF logo -->
    <a href="/home" class="text-decoration-none">
      <span class="fw-bold fs-2 text-shadow-custom text-info">city</span>
      <span class="fw-bold fs-2 text-shadow-custom text-cfSecondary">finance</span>
    </a>

    <div
      class="d-lg-flex align-items-center gap-1"
      [ngClass]="
        isNavbarOpen
          ? 'flex-column d-flex justify-content-start '
          : 'justify-content-end flex-lg-row d-none'
      "
    >
      @for (item of menus; track $index) {
        @if (item?.['child']?.length) {
          <div class="btn-group dropdown" dropdown>
            <!-- Primary button (main action) -->
            <a
              type="button"
              class="btn btn-link text-decoration-none nav-ele-style"
              [routerLink]="item['href']"
              [attr.aria-details]="item['key']"
            >
              {{ item['name'] }}
            </a>

            <!-- Dropdown toggle button -->
            <button
              type="button"
              class="btn btn-link dropdown-toggle dropdown-toggle-split nav-ele-style p-0"
              dropdownToggle
              [id]="item['id']"
              [attr.aria-details]="item['key']"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>

            <!-- Dropdown menu -->
            <ul
              class="dropdown-menu dropdown-menu-end p-1"
              *dropdownMenu
              [attr.aria-labelledby]="item['id']"
            >
              @for (child of item['child']; track $index) {
                <li>
                  <a
                    class="dropdown-item rounded"
                    [routerLink]="child['href']"
                    [attr.aria-details]="item['key']"
                  >
                    {{ child['name'] }}
                  </a>
                </li>
                @if ($index !== item['child'].length - 1) {
                  <li class="dropdown-divider m-0"></li>
                }
              }
            </ul>
          </div>
        } @else {
          <a
            class="nav-link nav-ele-style"
            routerLinkActive="active"
            [routerLink]="item['href']"
            [target]="item['target']"
          >
            @if (item?.['imgUrl']) {
              <img [src]="item['imgUrl']" alt="{{ item['name'] }}" style="height: 28px" />
            } @else {
              {{ item['name'] }}
            }
          </a>
        }
      }
      <!-- Request Demo -->
      <button
        class="btn btn-outline-cfPrimary fw-bold text-truncate m-2"
        [ngStyle]="{
          'max-width': isSmallDesktop && !isNavbarOpen ? '4.375rem' : '10.35rem',
        }"
        title="Request a Demo"
        (click)="showRequestDemoPopup()"
      >
        Request a Demo
      </button>
      <!-- Logged-in/ Logged-out view -->
      @if (isLoggedIn) {
        <div class="btn-group dropdown button-2" dropdown>
          <button
            class="btn btn-cfPrimary px-2 py-1 dropdown-toggle"
            id="button-disabled-menu"
            type="button"
            role="button"
            dropdownToggle
            aria-controls="dropdown-disabled-menu"
          >
            <i class="bi bi-person-circle fs-5"></i>
            <span class="caret"></span>
          </button>

          <ul
            id="dropdown-disabled-menu"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-end p-2"
            role="menu"
            aria-labelledby="button-disabled-menu"
          >
            <!-- User Info -->
            <li role="none" class="px-2 py-1">
              <p class="text-center mb-0 fw-semibold">{{ user?.name }}</p>
              <p class="text-center text-muted small mb-0">{{ user?.email }}</p>
            </li>

            <!-- Divider -->
            <li class="divider dropdown-divider m-0"></li>

            <!-- Profile -->
            <li role="none" *ngIf="user?.role !== 'PMU'">
              <a class="dropdown-item text-center rounded" routerLink="/user/profile/view"
                >Profile</a
              >
            </li>

            <!-- Divider -->
            <li class="divider dropdown-divider m-0"></li>

            <!-- Logout Button -->
            <li role="none">
              <button
                type="button"
                class="dropdown-item text-center rounded"
                (click)="loginLogout('logout')"
              >
                Logout
              </button>
            </li>
          </ul>
        </div>
      } @else {
        <div class="dropdown m-2" dropdown [autoClose]="true">
          <button
            class="dropdown-toggle btn btn-cfPrimary fw-bold"
            id="loginDrp"
            type="button"
            dropdownToggle
            aria-controls="dropdown-basic"
            aria-expanded="true"
          >
            Login
          </button>

          <ul class="dropdown-menu dropdown-menu-end p-1" *dropdownMenu aria-labelledby="loginDrp">
            @for (login of loginTypes; track $index) {
              <li>
                <button class="dropdown-item rounded" (click)="loginLogout(login['key'])">
                  <i class="bi bi-box-arrow-in-right me-2"></i>{{ login['type'] }}
                </button>
              </li>
              <hr class="m-0" />
            }
          </ul>
        </div>
      }
    </div>

    @if (isNavbarOpen) {
      <button
        (click)="toggleNavbar()"
        class="position-fixed top-0 end-0 m-1 p-1 btn btn-link text-decoration-none text-cfSecondary"
      >
        <i class="bi bi-x-lg fs-4 text-cfSecondary"></i>
      </button>
    } @else {
      <!-- Hamburder menu - mobile view -->
      <button
        class="d-lg-none px-2 py-1 btn btn-link text-decoration-none text-cfSecondary border border-cfSecondary"
        (click)="toggleNavbar()"
      >
        &#9776;
      </button>
    }
  </div>
</nav>
