* {
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.shadow-bottom {
  box-shadow: 0 5px 7px -1px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
}

.mobile-nav-ham,
.mobile-nav-cancel {
  display: none;
}

.primary-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;

  background: hsla(0, 0%, 100%, 1);
}

@supports (backdrop-filter: blur(4rem)) {
  .primary-navigation {
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(4rem);
  }
}

.nav-link {
  padding-block: 1rem;
  border-bottom: 2px solid transparent;
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);

  &:not(.cfr-img-logo):hover,
  &:not(.cfr-img-logo).active {
    color: var(--clr-primary);
    border-bottom: 2px solid var(--clr-primary);
  }
}

.cfr-img-logo {
  height: 2rem;
  padding: 0;
  display: block;
}

.mobile-nav-ham {
  aspect-ratio: 1;
  top: 0.5rem;
  left: 0.5rem;
  border: 0;
  background: transparent;
  color: var(--clr-secondary);
}

@media (max-width: 61em) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 20% 0 0;

    flex-direction: column;
    align-items: start;
    padding: min(15vh, 10rem) 2em;

    transform: translateX(-100%);
    transition: transform 350ms ease-in;
  }

  .primary-navigation-data-visible {
    transform: translateX(0%);
  }

  .mobile-nav-ham {
    display: block;
  }

  .mobile-nav-cancel {
    display: block;
    position: fixed;
    z-index: 9999;
    aspect-ratio: 1;
    top: 0.5rem;
    right: 0.5rem;
    border: 0;
    background: transparent;
    color: var(--clr-secondary);
  }

  .nav-link {
    padding-block: 0.25rem;
  }

  nav>div {
    padding-block: 0.35rem;
  }
}