<nav
  #stickyMenu
  [class.sticky]="isSticky"
  [ngClass]="{ 'position-relative': !isSticky }"
  class="bg-white shadow-lg"
>
  <div class="container d-flex justify-content-between align-items-center bg-white">
    <!-- Hamburger Menu -->
    <button
      class="mobile-nav-ham"
      aria-controls="primary-navigation"
      [attr.aria-expanded]="showMobileNav"
      (click)="showMobileNav = !showMobileNav"
    >
      <i class="fs-4 bi bi-list"></i>
    </button>

    <!-- CF logo -->
    <a href="/home" class="">
      <span class="fw-bold fs-3 text-shadow-custom text-info">city</span>
      <span class="fw-bold fs-3 text-shadow-custom text-cfSecondary">finance</span>
    </a>

    <!-- Nav items -->
    <div class="d-flex flex-grow-1 align-items-center justify-content-end gap-1">
      <ul
        id="primary-navigation"
        class="primary-navigation d-flex gap-3"
        [ngClass]="showMobileNav ? 'primary-navigation-data-visible' : ''"
      >
        <!-- Cancel Hamburger Menu -->
        @if (showMobileNav) {
          <button
            class="mobile-nav-cancel"
            aria-controls="primary-navigation"
            [attr.aria-expanded]="showMobileNav"
            (click)="showMobileNav = !showMobileNav"
          >
            <i class="fs-4 bi bi-x-lg"></i>
          </button>
        }

        @for (menu of menus; track $index) {
          @if (menu.child?.length) {
            <li class="active" [matMenuTriggerFor]="DashboardMenu">
              <a class="nav-link" routerLinkActive="active">
                {{ menu.name }}<i class="bi bi-caret-down-fill"></i>
              </a>
            </li>
            <mat-menu #DashboardMenu="matMenu">
              @for (childMenu of menu.child; track childMenu) {
                <a mat-menu-item [href]="childMenu.href" class="" routerLinkActive="active">
                  {{ childMenu.name }}
                </a>
              }
            </mat-menu>
          } @else {
            <li class="active">
              @if (menu.link) {
                <a
                  class="nav-link"
                  [ngClass]="menu.class"
                  [routerLink]="menu.link"
                  routerLinkActive="active"
                  [innerHTML]="menu.name"
                ></a>
              }
              @if (menu.href) {
                <a
                  class="nav-link"
                  [ngClass]="menu.class"
                  [attr.href]="menu.href"
                  [innerHTML]="menu.name"
                  [target]="menu.target"
                  routerLinkActive="active"
                ></a>
              }
            </li>
          }
        }
      </ul>

      <!-- Login/ Logout -->
      <div class="ms-2">
        @if (!isLoggedIn) {
          <button class="btn btn-cfPrimary fw-bold" [matMenuTriggerFor]="loginMenu">
            Login <i class="bi bi-caret-down-fill"></i>
          </button>
          <mat-menu #loginMenu="matMenu">
            <button mat-menu-item class="border-bottom" (click)="loginLogout('15thFC')">
              <i class="bi bi-box-arrow-in-right"></i> XV FC Grant
            </button>
            <button mat-menu-item class="border-bottom" (click)="loginLogout('XVIFC')">
              <i class="bi bi-box-arrow-in-right"></i> XVI FC Data Collection
            </button>
            <button mat-menu-item (click)="loginLogout('ranking')">
              <i class="bi bi-box-arrow-in-right"></i> Rankings 2022
            </button>
          </mat-menu>
        }
        @if (isLoggedIn) {
          <button class="btn btn-cfPrimary fw-bold" [matMenuTriggerFor]="logoutMenu">
            <i class="bi bi-person-circle fs-5 text-white"></i>&nbsp;
            <i class="bi bi-caret-down-fill"></i>
          </button>
          <mat-menu #logoutMenu="matMenu">
            <div class="text-center my-1 p-1">
              <i class="bi bi-person-circle fs-4 text-dark"></i>
            </div>
            <div class="text-center my-1 p-1 border-bottom">
              {{ user?.name }}
              <div class="text-secondary my-1 p-1 custom-font-size-6">
                {{ user?.email }}
              </div>
            </div>

            <button mat-menu-item class="text-center" (click)="loginLogout('logout')">
              Logout
            </button>
          </mat-menu>
        }
      </div>
    </div>
  </div>
</nav>
<!-- <nav
  class="navbar navbar-expand-lg navbar-light bg-white py-0 shadow p-3 bg-body"
  #stickyMenu
  [ngClass]="{ 'stiky-tp': isSticky }"
>
  <div class="container" style="max-width: 94%">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/home" [ngClass]="sticky ? 'show' : ''">
      <span class="city" style="font-size: 2rem">city</span>
      <span class="fy" style="font-size: 2rem; color: #1d5290; font-weight: bold">finance</span>
    </a>
    <div class="collapse navbar-collapse me-3">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @for (menu of menus; track menu.name) {
          @if (menu.child?.length) {
            <li class="nav-item dropdown" dropdown>
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                aria-controls="dropdown-basic"
                dropdownToggle
              >
                {{ menu.name }}
              </a>
              <ul class="dropdown-menu" id="dropdown-basic" *dropdownMenu>
                @for (childMenu of menu.child; track childMenu) {
                  <li>
                    <a class="dropdown-item" [attr.href]="childMenu.href">{{ childMenu.name }}</a>
                  </li>
                }
              </ul>
            </li>
          } @else {
            <li class="btn-group" [ngClass]="!menu.class ? 'nav-item' : ''">
              @if (menu.link) {
                <a
                  class="nav-link"
                  [ngClass]="menu.class"
                  [routerLink]="menu.link"
                  [innerHTML]="menu.name"
                ></a>
              }
              @if (menu.href) {
                <a
                  class="nav-link"
                  [ngClass]="menu.class"
                  [attr.href]="menu.href"
                  [innerHTML]="menu.name"
                  [target]="menu.target"
                ></a>
              }
            </li>
          }
        }
      </ul>
    </div>
    <div class="ms-auto">
      @if (!isLoggedIn) {
        <div class="dropdown" dropdown>
          <button
            class="primary-btn-1 dropdown-toggle fw-bold"
            type="button"
            id="loginDrp"
            role="button"
            aria-controls="dropdown-basic"
            dropdownToggle
          >
            Login
          </button>
          <ul
            class="dropdown-menu dropdown-menu-login"
            *dropdownMenu
            aria-labelledby="loginDrp"
            style="left: -7px"
          >
            <li>
              <a class="dropdown-item" (click)="loginLogout('15thFC')" href="javascript:;">
                <i class="bi bi-box-arrow-in-right"></i> XV FC Grant
              </a>
            </li>
            <hr class="m-0" />
            <li>
              <a class="dropdown-item" (click)="loginLogout('XVIFC')" href="javascript:;">
                <i class="bi bi-box-arrow-in-right"></i> XVI FC Data Collection
              </a>
            </li>
            <hr class="m-0" />
            <li>
              <a class="dropdown-item" (click)="loginLogout('ranking')" href="javascript:;">
                <i class="bi bi-box-arrow-in-right"></i> Rankings 2022
              </a>
            </li>
          </ul>
        </div>
      }
      @if (isLoggedIn) {
        <div class="btn-group ms-2 dropdown" dropdown>
          <button
            id="button-disabled-menu"
            dropdownToggle
            type="button"
            class="btn btn-login-icon dropdown-toggle"
            aria-controls="dropdown-disabled-menu"
          >
            <i class="bi bi-person-circle fs-4 text-white"></i>
            <span class="caret"></span>
          </button>
          <ul
            id="dropdown-disabled-menu"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-disabled-menu"
            style="margin-left: -7rem"
          >
            <li role="menuitem" style="padding: 0 1rem" class="mb-3">
              <div class="user-avt text-center" style="font-size: 2.5rem">
                <i class="fa fa-user-circle"></i>
              </div>
              <div class="text-center">{{ user?.name }}</div>
              <div class="mat-card-subtitle text-center" style="font-size: 0.9rem">
                {{ user?.email }}
              </div>
            </li>
            <li class="divider dropdown-divider"></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a
                class="dropdown-item text-center"
                (click)="loginLogout('logout')"
                href="javascript: void()"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      }
    </div>
  </div>
</nav> -->
