* {
  font-family: var(--ff-base);
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  color: white;
  background-color: var(--clr-secondary);
}

.nav-ele-style {
  color: var(--clr-secondary);
  font-weight: var(--fw-bold);
  padding: 0.65rem;
  border-radius: 0.35rem;
}

nav.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
}

.nav-mobile-view {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}
