<mat-expansion-panel [expanded]="panelOpenState" class="mt-3" *ngFor="let field of field.formArrays">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{field.label}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let question of field.questions">
        <label class="pt-3 pb-1 fw-bold" for="{{question.key}}">
            {{question.position}}.
            {{question.label}}
        </label>
        @if (question.formFieldType === 'radio') {
        <div class="form-check pt-1" *ngFor="let optionValue of question.options; index as i">
            <label class="form-check-label" [attr.for]="question.key+i">
                <input class="form-check-input" type="radio" [attr.id]="question.key+i" [name]="question.key"
                    value="{{optionValue}}" />
                {{optionValue.option ? optionValue.option: optionValue }}
            </label>
            @if (optionValue.showInputBox) {
            <input class="form-control" type="text" [value]="question.inputBoxValue" />
            }
        </div>
        } @else if (question.formFieldType === 'number') {
        <input class="form-control" [type]="question.formFieldType" [value]="question.value" />
        }
    </ng-container>
</mat-expansion-panel>