* {
    font-family: var(--ff-base);
    font-weight: var(--fw-medium);
}

.mat-mdc-table .mat-mdc-header-cell {
    background: var(--clr-secondary) !important;
    color: #fff;
    border-bottom: 0.5px solid lightgrey;
    border-right: 0.5px solid lightgrey;
}

.mat-mdc-table .mdc-data-table__cell {
    border-bottom: 0.5px solid lightgrey;
    border-right: 0.5px solid lightgrey;
}

.table-container {
    position: relative;
    // min-height: 32vh;
    max-height: 110vh;
    overflow: auto;
}

table {
    width: 100%;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 3.5rem;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}