::ng-deep .mat-dialog-container {
    font-family: 'Manrope' !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 8px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
}

.al-c {
    align-items: center;
}

.fq-d-t {
    color: #E67E15;
    font-weight: 500;
    text-decoration: none;
}

.cd-2-tl {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 19px;
    color: #565656;
}

.d-i {
    color: #E67E15;
}

.btn-pr {
    background-color: #E67E15;
    color: #FFFFFF;
}

.tp-i-r {
    height: 65px;
    border-radius: 50%;
    //border: 1px solid blue;
}

.popW {
    width: 30rem;
    // font-family: 'Manrope' !important;
    // background: #FFFFFF;
    // box-shadow: 0px 4px 24px 8px rgba(0, 0, 0, 0.07);
    // border-radius: 15px;
}

.details {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

::ng-deep .mailId,
::ng-deep .clr {
    color: #E67E15;
    display: inline-block;
    position: relative;
    outline: none !important;
}

@media screen and (max-width: 700px) {
    .popV {
        width: 5rem !important;
    }
    // .dn-btn {
    //     display: none !important;
    // }
    // .w-n {
    //     display: none;
    // }
    // .w-n {
    //     width: 100%;
    // }
    // .fq-c {
    //     padding: 2px 1px;
    // }
}
.a:-webkit-any-link:focus-visible {
  outline: none;
}
.f-s-1 {
    position: absolute;
    left: 0;
    top: 0;
}
.f-s-2 {
    position: absolute;
    right: 0;
    top: 0;

}
.v-d {
    position: relative;
}
.m-t {
    margin-top: 2rem;
}