<div class="container-fluid">
    <div class="row">
        <app-front-panel [showDataAvailable]="true" (dataAvailEmit)="setAvail($event)" (yearValue)="setYear(yearVal)"
            (changeInStateOrCity)="changeInDropDown($event)" style="padding: 0" [mapConfig]="mapData"
            [cardData]="revenueData" [data]="frontPanelData" [componentName]="'stateDB'"></app-front-panel>
    </div>
    <div class="row p-1">
        <div class="text-center header">Dashboard</div>
    </div>
    <div class="row">
        <app-dashboard-tabs [stateId]="stateId" [percentValue]="percentValue" [scrollCords]="cords"
            [DashBoardType]="'state'" [data]="dashboardTabData"></app-dashboard-tabs>
    </div>
</div>