/* Sidebar base */
.sideBar {
    position: absolute;
    inset: 0 auto 0 0;
    width: clamp(20rem, 25vw, 28rem);
    background-color: whitesmoke;
    z-index: 20;
    border-radius: 0 5px 5px 0;

    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;

    padding: 1rem;
    overflow-y: auto;
}

/* Open state */
.sideBar_open {
    transform: translateX(0);
}

/* Overlay (button) */
.sidebar-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 15;
    animation: fadeIn 200ms ease-out;
    cursor: default;
    border: none;
    border-radius: 5px;
}

/* Content area */
.content {
    position: relative;
    z-index: 1;
}

.layout {
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 2rem;
    /* Space for footer */
}

.card {
    transition: all 0.3s ease;
    // height: 189px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-body .display-4 {
    transition: all 0.3s ease;
}

.card:hover .card-body .display-4 {
    transform: scale(1.1);
}