<div class="container-fluid px-4 pt-5 position-relative layout">
  <!-- Overlay -->
  @if (showSideBar()) {
    <button
      type="button"
      class="sidebar-overlay"
      (click)="toggleSideBar()"
      aria-label="Close sidebar overlay"
      tabindex="0"
    ></button>
  }

  <!-- LEFT: Filter Sidebar -->
  <div id="filter-sidebar" class="sideBar" [class.sideBar_open]="showSideBar()">
    <app-afs-filter (filtersChanged)="onFiltersChanged($event)"> </app-afs-filter>
  </div>

  <!-- RIGHT: Table -->
  <div class="content">
    <app-afs-table [filters]="filtersObj()" (showSideBar)="toggleSideBar($event)"></app-afs-table>
  </div>
</div>
