<div class="footer-wrappper home-footer py-5" style="position: relative">
  <div class="container">
    <div class="row">
      <!-- new footer started here -->
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <h6 style="margin-top: -1rem !important">
          <a class="foot-links" routerLink="/home" style="text-decoration: none"><span class="city">city</span><span
              class="fy">finance.in</span></a>
        </h6>
        <h6 class="foot-links">
          <a style="text-decoration: none" routerLink="/home" routerLinkActive="active">Cityfinance.in</a>
          <span class="foot-links lh-base">
            serves as a national framework of standardized testing, timely and credible financial
            information on India’s cities testing, beginning with urban local bodies. It facilitates
            benchmarking, comparison and peer learning between cities on a range of financial
            indicators. </span><br />
        </h6>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        @for (link of footerLinks; track $index) {
        <h6>
          <a class="foot-links text-cfPrimary" [href]="link.href">{{link.title}}</a>
        </h6>
        }
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <h6 class="info-dir foot-links" [innerHtml]="address">
          <!-- Director, AMRUT <br />
          Ministry of Housing and Urban Affairs <br />
          210 C, Nirman Bhawan, Maulana Azad Road <br />
          New Delhi-110011 -->
        </h6>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 email-sec">
        <h4>
          Email: <br />
          <!-- <a class="foot-links" href="{{ mailId }}" style="color: #ff9922"
            >{{ mailLabel }}
            contact@cityfinance.in
          </a> -->
          <a class="foot-links text-cfPrimary" href="mailto:rankings@cityfinance.in">
            rankings&#64;cityfinance.in
          </a>
        </h4>
        <br />

        <div style="color: #b2bfd8">
          Connect With Us: <br />
          <div style="margin-top: 5px">
            <a href="https://www.facebook.com/mohua.india" target="blank">
              <img src="./assets/images/social/fb.svg" alt="" />
            </a>
            &nbsp;&nbsp;
            <a href="https://twitter.com/MoHUA_India" target="blank">
              <img src="./assets/images/social/twitter.svg" alt="" />
            </a>
            &nbsp;&nbsp;
            <a href="https://www.linkedin.com/company/mohua/" target="blank">
              <img src="./assets/images/social/linkdin.svg" alt="" />
            </a>
            &nbsp;&nbsp;<br />
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 col-lg-12">
        <div class="visit-count">
          <i class="fa fa-users" aria-hidden="true" style="margin-right: 6px"> </i>
          <span class="foot-links">Visitors: {{ totalUsersVisit }} </span>
        </div>
      </div>
    </div>
  </div>
</div>