* {
    font-family: var(--ff-base);
    font-size: 0.8125rem;
    font-weight: var(--fw-medium);
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 1.5rem 0rem;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr); // Tablet: 2 columns
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr; // Mobile: stack vertically
    }
}