<div class="table-container table-responsive">

  <a class="d-flex py-4 gap-2" *ngIf="standardizationDocLink" [href]="standardizationDocLink | toStorageUrl" target="_blank">
    <mat-icon>picture_as_pdf</mat-icon>
    How We Standardize Annual Financial Statements
  </a>


  <table style="border-radius: 10px !important" class="table styletable">
    <thead>
      <tr class="scrollme scrollableTH">
        <th class="col-attr text-center">
          Term
        </th>
        <th class="col-attr text-center">
          Definition
        </th>
      </tr>
    </thead>
    <tbody>
        
          <tr>
            <td >Account
            </td>
            <td >A formal record of a particular type of transaction expressed in money or other unit of measurement and kept in a ledger.

            </td>
          </tr>
          <tr>
            <td >Account Payable
            </td>
            <td >Amount owed by a ULB on account of goods purchased or services received or in respect of contractual obligations. Also termed as creditor or sundry creditor. The words ‘Payables’ and ‘Creditors’ are used interchangeably.

            </td>
          </tr>
          <tr>
            <td >Account Receivables
            </td>
            <td >Person from whom amounts are due for goods sold or services rendered or in respect of contractual obligations. Also termed as debtor or sundry debtor. The words ‘Receivables’ and ‘Debtors’ are used interchangeably.

            </td>
          </tr>
          <tr>
            <td >Accrual Basis of Accounting
            </td>
            <td >"A method of accounting that recognizes the financial effect of transactions, events, and inter-fund activities when they occur, regardless of the timing of related cash flows. 
                "
                 
            </td>
          </tr>
          <tr>
            <td >Accumulated Depreciation
            </td>
            <td >The total to date, of the periodic depreciation charges on depreciable assets.

            </td>
          </tr>
          <tr>
            <td >Accumulated Provisions against Bad and Doubtful Receivables
            </td>
            <td >A provision made for revenue considered doubtful of recovery.

            </td>
          </tr>
          <tr>
            <td >Administrative Expenses
            </td>
            <td >Indirect expenses (also known as Overheads) which relate to the ULB as a whole, as opposed to individual departments or business units, and includes Rents, Rates & Taxes, Office maintenance, Communications, Books & periodicals, Printing & Stationary, Travel Expenditure, Law Charges etc.
 
            </td>
          </tr>
          <tr>
            <td >Assigned (Shared) Revenues
            </td>
            <td >"Revenues in the nature of a share in the revenues of the state government, to compensate for certain losses in revenue and arrangement of resources of the ULBs. The ratio of the share in
                revenues is determined on the basis of the revenues collected by ULBs and the recommendations of the State Finance Commissions and devolution of funds to ULBs. E.g. Entertainment Tax, Surcharge on Stamp duty, Profession Tax, Motor Vehicles Tax etc."
                 
            </td>
          </tr>
          <tr>
            <td >Assets
            </td>
            <td >The excess of expenditure over income of the ULB for an Accounting Period under consideration. 
            </td>
          </tr>
          <tr>
            <td >Assessment
            </td>
            <td >Tangible objects or intangible rights owned by the ULBs and carrying probable future benefits.

            </td>
          </tr>
          <tr>
            <td >Bad debts
            </td>
            <td >Debts owed to the ULBs, which are considered to be irrecoverable, e.g., arrears of taxes, fees and other revenue left uncollected and considered to be irrecoverable.

            </td>
          </tr>
          <tr>
            <td >Balance Sheet
            </td>
            <td >A statement of the financial position of an ULB as at a given date, which exhibits its assets, liabilities, capital, reserve and other account balances at their respective book values at a specific date.
 
            </td>
          </tr>
          <tr>
            <td >Bond</td>
            <td >A means to raise money through the issuance of debt. A bond issuer/borrower undertakes in writing to repay a specified sum of money, alternately referred to as the face value, par value or bond principal, to the buyer of the bond on a specified future date (maturity date), together with periodic interest at a specified rate.

            </td>
          </tr>
          <tr>
            <td >Bond Rating (Municipal)
            </td>
            <td >A credit rating assigned to a municipality to help investors assess the future ability, legal obligation, and willingness of the municipality (bond issuer) to make timely debt service payments.
 
            </td>
          </tr>
          <tr>
            <td >Budget
            </td>
            <td >A quantitative plan of activities and programs expressed in terms of money in respect of assets, liabilities, revenues and expenses. The budget expresses the ULB goals in terms of specific financial and operating objectives.
 
            </td>
          </tr>
          <tr>
            <td >Capital Expenditure
            </td>
            <td >"Cash investments to acquire or improve an asset that will have a life of more than one year; as distinguished from cash outflows for expense items normally considered as part of the current
                operations. The term is generally restricted to expenditure that adds fixed asset units or that has the effect of improving the capacity, efficiency, life span or economy of operations of an existing asset. E.g. Buildings, Water Supply & Sewerage, Energy/Lighting, Solid Waste Management, Roads, Bridges, Culverts, Causeways, Health & Sanitation, Parks and Recreation Spaces, Furniture & Fittings, Tools & Plant, Equipment etc., 
                "
                 
            </td>
          </tr>
          <tr>
            <td >Capital Work-in-progress
            </td>
            <td >Expenditure on capital assets which are in the process of construction or completion. 
 
            </td>
          </tr>
          <tr>
            <td >Cash and Bank Balance
            </td>
            <td >Includes assets which are synonymous to or can be immediately converted into cash, including, Cash in hand, Cash Balance with Banks, Demand Deposits, Term Deposits, etc.
 
            </td>
          </tr>
          <tr>
            <td >Cash Basis of Accounting
            </td>
            <td >An accounting convention in which transactions are recorded in the period in which payment is made or received as opposed to the period in which the transaction took place (accruals basis) 
 
            </td>
          </tr>
          <tr>
            <td >Cashflow Statement
            </td>
            <td >A financial statement prepared for an accounting period to depict the inflows and outflows of cash and cash equivalents of an enterprise. The cash flow statement reports cash flows classified by operating, investing and financing activities.
 
            </td>
          </tr>
          <tr>
            <td >Central Finance Commission
            </td>
            <td >Constituted by the President under article 280 of the Constitution, mainly to give its recommendations on distribution of tax revenues between the Union and the States and amongst the States themselves. 
 
            </td>
          </tr>
          <tr>
            <td >Collection Efficiency (Property tax)
            </td>
            <td >Ratio of property tax collection to property tax demand.
 
            </td>
          </tr>
          <tr>
            <td >Contingent Liability
            </td>
            <td >An obligation relating to an existing condition or situation which may arise in future depending on the occurrence or nonoccurrence of one or more uncertain future events.
 
            </td>
          </tr>
          <tr>
            <td >Coverage ratio (Property tax)
            </td>
            <td >Ratio of assessed properties to total properties within municipal limits. 
 
            </td>
          </tr>
          <tr>
            <td >Credit Rating
            </td>
            <td >"Estimation of the credit worthiness of an individual, corporation, or even a country. It is an evaluation of a potential borrower by rating agencies on the basis of his overall credit history, current assets and liabilities and indicates to the lender the probability of the subject being
                able to pay back a loan. 
                "
                 
            </td>
          </tr>
          <tr>
            <td >Current Assets
            </td>
            <td >Cash and other assets that are expected to be converted into cash or consumed in rendering of services in the normal course of operations of the ULBs (within one year).
 
            </td>
          </tr>
          <tr>
            <td >Current Liability
            </td>
            <td >Liability including loans, deposits and bank overdrafts which fall due for payment in a relatively short period, normally not more than twelve months.
 
            </td>
          </tr>
      <tr>
        <td >Deficit</td>
        <td >The excess of expenditure over income of the ULB for an Accounting Period under consideration. 
        </td>
      </tr>
      <tr>
          <td>Deposit Works</td>
          <td>The term 'Deposit Works' is applied to works of construction or repairs and maintenance, the cost of which is met out of Government grants to autonomous or semi-autonomous bodies or institutions through their Administrative Ministries, or is financed from non-Government sources wholly or partly

          </td>
      </tr>
      <tr>
          <td>Depreciation (on Fixed Assets)</td>
          <td>
            "Systematic reduction of the recorded cost of a fixed asset. It is a measure of the wearing out, consumption or other loss of value of a depreciable asset arising from use, effluxion of time or obsolescence through technology and market changes. It is allocated so as to charge a fair
            proportion in each accounting period during the useful life of the asset. It includes amortisation of assets whose useful life is predetermined and depletion of wasting assets.
            Examples of fixed assets that can be depreciated are buildings, furniture, and office equipment. The only exception is land, which is not depreciated."
            
          </td>
      </tr>
      <tr>
          <td>Earmarked Funds</td>
          <td>Funds representing Special Funds to be utilised for specific purposes
        </td>
      </tr>
      <tr>
          <td>Establishment Expenses</td>
          <td>Expenses incurred on human resources of the ULB, including costs pertaining to Staff salaries, Allowances, Wages, Pensions & Retirement benefits etc.

           </td>
      </tr>
      <tr>
          <td>Exempted Property</td>
          <td>A property that enjoys a property tax waiver in accordance with statutory directives. For example, Central Government owned properties are often exempted from property tax on the ground that a sovereign cannot tax itself. 
        </td>
      </tr>
      <tr>
          <td>Fee & User Charges</td>
          <td>A municipal funding source where payment is collected from the user of a service to help defray the cost of providing the service. 

          </td>
      </tr>
      <tr>
          <td>Financial Statement</td>
          <td>A balance sheet, income statement (income and expenditure), receipts & payment statement or any other supporting statement or other presentation of financial data derived from accounting records.

          </td>
      </tr>
      <tr>
          <td>Fixed Asset</td>
          <td>Asset held for the purpose of providing services and that is not held for resale in the normal course of operations of the ULB.

          </td>
      </tr>
      <tr>
          <td>Fixed Deposit</td>
          <td>Deposit for a specified period and at specified rate of interest.
        </td>
      </tr>
      <tr>
          <td>Fund</td>
          <td>Amount set aside for a general or specific purpose, whether represented by specifically earmarked assets or not.

          </td>
      </tr>
      <tr>
          <td>Grants, Contribution for Specific purposes</td>
          <td>"Grants are all non-repayable transfers received from other levels of government or from private individuals, or institutions including reparations and gifts given for particular projects or programs, or for general budget support.
            Intergovernmental grants/transfers (also called Grant-in-Aid) are transfers of funds from one government to another, most often from a higher-level government in the federal system to a set of lower level governments, e.g. ULB. 
            
            Grant-in-Aid are of two types: 
            i) Plan Grants - made available through planned transfers from upper tier of Government under various projects, programmes and schemes; and
            ii) Non-Plan Grants - made available to compensate against the loss of income and some specific transfers."
            
          </td>
      </tr>
      <tr>
          <td>Gross Block</td>
          <td>The total cost of acquisition/purchase of all the Fixed Assets of the ULB. This is inclusive of the depreciation that is to be charged on each asset. Net Block is equal to Gross Block less Accumulated Depreciation on assets. Net block is actually what the asset are worth to the ULB.

          </td>
      </tr>
      <tr>
          <td>Gross Domestic Product (GDP)</td>
          <td>The total value of all goods and services produced within the geographical boundaries of a country during a specified period.

          </td>
      </tr>
      <tr>
          <td>Income</td>
          <td>Money or money equivalent earned or accrued during an accounting period, increasing the total of previously existing net assets, and arising from provision of any type of services and rentals.

          </td>
      </tr>
      <tr>
          <td>Income and Expenditure Statement</td>
          <td>A financial statement to present revenues and expenses of a ULB for an accounting period and to show the excess of revenues over expenses (or vice-versa) for that period.
        </td>
      </tr>
      <tr>
          <td>Interest </td>
          <td>The service charge for the use of money or capital, paid at agreed intervals by the user, and commonly expressed as an annual percentage of outstanding principal.

          </td>
      </tr>
      <tr>
          <td>Investments</td>
          <td>Assets held not for operational purposes or for rendering services, i.e., assets other than fixed assets or current assets (e.g. securities, shares, debentures, immovable properties). 

          </td>
      </tr>
      <tr>
          <td>Investment - General Fund</td>
          <td>General fund refers to revenues accruing to the state from taxes, fees, interest earnings, and other sources which can be used for the general operation of state government. General fund revenues are not specifically required in statute or in the constitution to support particular programs or agencies

          </td>
      </tr>
      <tr>
          <td>Investment - Other Funds</td>
          <td>All other types of funds available as investments with the ULBs

          </td>
      </tr>
      <tr>
          <td>Infrastructure Assets</td>
          <td>Those assets with the characteristics of being, a part of a system or network, specialised in nature and do not have alternative uses, immovable, and subject to constraints on disposal.

          </td>
      </tr>
      <tr>
          <td>Liability</td>
          <td>An amount owing by one person to another, payable in money, or in goods or services: the consequence of an asset or service received or a loss incurred or accrued; particularly, any debt (a) due or past due (current liability), (b) due at a specified time in the future (e.g. funded debt, accrued liability), or (c) due only on failure to perform a future act (contingent liability).

          </td>
      </tr>
      <tr>
          <td>Loans</td>
          <td>Part of ULB's total revenues. Comprises of Loans borrowed by the ULB for capital works etc. – from HUDCO, LIC, State and Central Governments, Banks and Municipal Bonds. 
      </td>
      </tr>
      <tr>
          <td>Municipal (General) Fund</td>
          <td>General operating fund of a ULB. It is used to account for all financial resources except those related to any special or trust funds. General Fund is the main operating fund for the City. It accounts for sources and uses of resources that (primarily) are discretionary to the City Council in the provision of activities, programs and services deemed necessary and desirable by the community.

          </td>
      </tr>
      <tr>
          <td>Non-Tax Revenue</td>
          <td>Revenue collected from sources other than compulsory tax levies. Includes those collected in exchange for direct services rendered by government agencies to the public, or those arising from the government’s regulatory and investment activities, e.g.  User Charges, Municipal Fees, Sale & Hire Charges, Lease amounts, Income from Interest, dividend, fees, fines, etc.

          </td>
      </tr>
      <tr>
          <td>Operation & Maintenance</td>
          <td>The reasonable and necessary costs incurred on a day-to-day basis in operating, maintaining, administering and repairing a ULB's plant or system, including Power & Fuel, Bulk Purchases, Stores, Hire Charges, Repairs & Expenditure.

          </td>
      </tr>
      <tr>
          <td>Own Revenue</td>
          <td>"Revenue a government raises by means of its own legislation or other action, as opposed to grants-in-aid or transfers from another government. 
            "
            
          </td>
      </tr>
      <tr>
          <td>Per Capita Revenue / Expenditure</td>
          <td>Revenue or expenditure accruing to each individual within municipal limits. Calculated as total revenue or expenditure divided by the population residing within the municipal area.

          </td>
      </tr>
      <tr>
          <td>Prepaid Expenses</td>
          <td>Payment for expense in an accounting period, the benefit for which will accrue in the subsequent accounting period(s).
        </td>
      </tr>
      <tr>
          <td>Provisions</td>
          <td>Provisions represent funds set aside by a ULB to cover anticipated losses in the future

          </td>
      </tr>
      <tr>
          <td>Provision for Expenses</td>
          <td>An amount written off or retained by way of providing for depreciation or diminution in value of assets or retained by way of providing for any known liability the amount of which cannot be determined with substantial accuracy

          </td>
      </tr>
      <tr>
          <td>Public Private Partnership (PPP)</td>
          <td>Describes a government service or private business venture which is funded and operated through a partnership of government and one or more private sector companies. PPP involves a contract between a public-sector authority and a private party, in which the private party provides a public service or project and assumes substantial financial, technical and operational risk in the project. 

          </td>
      </tr>
      <tr>
          <td>Receipts & Payments Statement</td>
          <td>A financial statement prepared for an accounting period to depict the changes in the financial position and to present the cash received in and paid out in whatever form (cash, cheques, etc.) under certain headings. All non-cash related transactions are ignored while preparing this Statement.

          </td>
      </tr>
      <tr>
          <td>Report of Municipal Chief Auditor</td>
          <td>The formal expression of opinion by the Municipal Chief Auditor on the Financial Statements, books of accounts and transactions of the ULB
        </td>
      </tr>
      <tr>
          <td>Revenue Expenditure</td>
          <td>"The operating costs incurred by the authority during the financial year in providing its day to day services. It generally comprises of establishment, operation and maintenance and other
            expenses. 
            "
            
          </td>
      </tr>
      <tr>
          <td>State Finance Commission</td>
          <td>A constitutionally mandated body under Articles 243I and 243Y to review the financial position of Panchayati Raj Institutions (PRI’s) and Urban Local Bodies (ULB’s) and to make recommendations to the governor as to (a) the principles which should govern (1) the distribution between the state and the local governments (PRI’s and ULBs) of the net proceeds of taxes, duties, tolls and fees leviable by the state and the inter se allocation between different PRIs and ULBs; (2) the determination of taxes, duties, tolls and fees which may be assigned to or appropriated by the local governments; (3) the grants-in-aid from the consolidated fund of the state to local governments (LGs); (b) the measures needed to improve the financial position of PRIs and ULBs; (c) any other matter referred to the commission by the governor in the interests of sound finance of PRIs and ULBs.

           </td>
      </tr>
      <tr>
          <td>Surplus</td>
          <td>The excess of income over expenditure of the ULB for an Accounting Period under consideration

          </td>
      </tr>
      <tr>
          <td>Tax Revenue</td>
          <td> Sum total of income through ULB's own taxation streams, such as, Property Tax, Advertisement Tax, Professional Tax, Entertainment Tax, Tax on Animals, Vacant Land Tax, Taxes on Carriages and Carts etc., noted under Own Revenue.

          </td>
      </tr>
      <tr>
          <td>Total Property tax collection</td>
          <td>The total amount of property tax collected by the ULB, noted under Own (Tax) Revenue.

          </td>
      </tr>
      <tr>
          <td>Total Revenue</td>
          <td>The sum total of tax revenues, non-tax revenues, assigned (shared) revenues, grants-in-aid, loans, and other receipts.

          </td>
      </tr>
      <tr>
          <td>Total Property</td>
          <td>Sum of all properties, assessed and un-assessed within municipal limits. 

          </td>
      </tr>
      <tr>
          <td>Un-assessed Property</td>
          <td>Sum of exempted properties and unrecorded properties within municipal limits.</td>
      </tr>
    </tbody>
  </table>
</div>