<div class="w-100">
    <div class="container-fluid car-bg">
        <!-- Carousel -->
        <div class="carousel slide" data-bs-ride="carousel" data-in style="position: relative;" #carousel
            id="myCarousel">
            <div class="row g-0">
                <div class="col-sm-12">
                    <div class="carousel-inner LinearG">
                        <div class="carousel-item active img-container">
                            <!-- <img src="../../../assets/M FIGMA/laurentiu-morariu-8XZTZIfuNrM-unsplash 1.jpg" class="d-block w-100"> -->
                            <img src="../../../assets/M FIGMA/slider-1.png" class="d-block w-100 bn-h">
                            <div class="row g-0 hero d-flex justify-content-center header-Pos">
                                <div class="col-sm-12">
                                    <h1 id="title-hd">City Finance <br> Rankings 2022</h1>
                                </div>
                                <div class="col-sm-12 mt-2 text-center">
                                    <span id="title-p">Celebrating the best financially performing cities of
                                        India.</span>
                                </div>
                                <div class="col-sm-12 text-center mt-4">
                                    <div class="li1 ms-4" *ngFor="let item of iconresult">
                                        <img src="{{item.imageurl | toStorageUrl}}" class="bg-light p-3 tp-i-r">
                                        <span class="ms-3 icon-txt">
                                            <span class="icon-p">{{item.text}}</span>
                                            <br>
                                            <span class="icon-t">{{item.title}}</span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="row g-0 hero d-flex justify-content-center header-Pos-btm">
                                <div class="col-sm-12 mb-4 justify-content-center text-center" *ngIf="!isLoggedIn">
                                    <button type="button" class="btn login-btn" routerLink="/rankings/login">Login for
                                        Rankings 2022</button>
                                </div>
                                <div class="col-sm-12 btm-h-t">
                                    <div class="h-pos">
                                        The rankings aim to evaluate, recognize and reward India’s
                                        cities on the basis of their quality of current financial health and performance
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/M FIGMA/CFR Portal Banner.jpg" class="d-block w-100 bn-h">
                        </div>
                        <div class="carousel-item">

                            <img src="../../../assets/M FIGMA/2.jpeg" class="d-block w-100 bn-h">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/M FIGMA/3.jpeg" class="d-block w-100 bn-h">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/M FIGMA/4.jpeg" class="d-block w-100 bn-h">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/M FIGMA/5.jpeg" class="d-block w-100 bn-h">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row g-0 justify-content-center text-center header-Pos-ic">
                <div class="col-sm-12 iconsection">
                    <div class="d-flex justify-content-center h-pos">
                        <div class="card cd-2" *ngFor="let item of fqCardData">
                            <div class="row g-0 al-c my-auto">
                                <div class="col-sm-3 w-n">
                                    <div class="circle" *ngIf="item?.key !== 'video'">
                                        <img src="{{item?.image }}" class="bg-light tp-i-r-b">
                                    </div>
                                    <div class="circle-v" *ngIf="item?.key === 'video'">
                                        <svg class="tp-i-r-video" xmlns="http://www.w3.org/2000/svg" height="28px"
                                            viewBox="0 0 24 24" width="28px" fill="#7A7AF8">
                                            <path d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M21 3H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h5v2h8v-2h5c1.1 0 1.99-.9 1.99-2L23 5c0-1.1-.9-2-2-2zm0 14H3V5h18v12zm-2-9H8v2h11V8zm0 4H8v2h11v-2zM7 8H5v2h2V8zm0 4H5v2h2v-2z" />
                                        </svg>
                                        <!-- <img src={{item?.image}} class="bg-light tp-i-r-video" > -->
                                    </div>
                                </div>
                                <div class="col-sm-9 text-start w-t">
                                    <div class="card-body fq-c">
                                        <div class="cd-2-tl">{{item?.title}}</div>
                                        <div class="cd-2-dn" *ngIf="item?.key !== 'video'">
                                            <a class="fq-d-t" (click)="downloadClick(item)">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        enable-background="new 0 0 24 24" height="24px"
                                                        viewBox="0 0 24 24" width="24px" fill="#E67E15">
                                                        <g>
                                                            <rect fill="none" height="24" width="24" />
                                                        </g>
                                                        <g>
                                                            <path
                                                                d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z" />
                                                        </g>
                                                    </svg>
                                                </span>
                                                <span class="ms-2 dn-btn">Download</span>
                                            </a>
                                        </div>
                                        <div class="cd-2-dn" *ngIf="item?.key === 'video'">
                                            <a class="fq-d-t" (click)="downloadClick(item)">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                        viewBox="0 0 24 24" width="24px" fill="#E67E15">
                                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                                        <path d="M10 8.64L15.27 12 10 15.36V8.64M8 5v14l11-7L8 5z" />
                                                    </svg>
                                                </span>
                                                <span class="ms-2 dn-btn">Play video</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel -->
    <div class="container-fluid p-0 m-0">
        <div class="cont">
            <div class="row g-0 d-flex justify-content-center">
                <!-- <div class="card col-md-4 mx-3 shadow CardHover"  id="CardSize">
                    <div class="row justify-content-between g-0 a-i-c my-auto">
                        <div class="col-4 col-sm-4 wd-4">
                            <img src="../../../assets/M FIGMA/sh_narendra_modi_27.09 1.png" class="img-fluid rounded-start pm-img" >
                        </div>
                        <div class="col-8 col-sm-8 wd-6">
                            <div class="card-body">
                                <div class="ShowDetails my-auto">
                                    <div class="card-title title-m-h mb-1">Narendra Modi</div>
                                    <p class="card-text head-m-h">Hon’ble Prime Minister of India.</p>
                                </div>
                                <div class="HidePara">
                                    <div class="row">
                                        <div class="col-sm-12">

                                            “There is a need to promote healthy competition amongst ULBs, and encourage them to improve municipal finances, so that they can realize their cities' potential as engines of growth and development.”
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- card2 -->
                <div class="card col-md-4 mx-3 shadow CardHover" id="CardSize" style="display: none;">
                    <div class="row justify-content-between a-i-c g-0">
                        <div class="col-4 col-sm-4 wd-4">
                            <img src="../../../assets/M FIGMA/Hardeep_Puri-480x480-removebg-preview 1.png"
                                class="img-fluid rounded-start m-img">
                        </div>
                        <div class="col-8 col-sm-8 wd-6">
                            <div class="card-body">
                                <div class="ShowDetails">
                                    <div class="card-title title-m-h">Hardeep Singh Puri</div>
                                    <p class="card-text head-m-h">Hon’ble Union Minister of Housing and Urban Affairs.
                                    </p>
                                </div>
                                <div class="HidePara">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            “I hope this initiative will provide the necessary nudge to ULBs to
                                            undertake reforms for improving their financial health, for making their
                                            cities financially transparent and sustainable.”
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cards4-loop -->
        <div class="container mr-t-b">
            <!-- heading-->
            <div class="h-p justify-content-center text-center">
                <div class="heading-obj">
                    <span>Why Cities should participate?</span>
                </div>
            </div>

            <div class="row d-flex justify-content-center cards-loop p-3">
                <div class="col-md-4 col-lg-3 col-sm-5" *ngFor="let item of objresult">
                    <div class="card p-3 m-1 shadow cardB">
                        <img src="{{item.imageurl | toStorageUrl}}" class="card-img-top" style="height: 100px; width: 100px;
                      margin-left:18px;">
                        <div class="card-body ps-0 pe-0">
                            <div class="objectives-t mb-4">{{item.title}}</div>
                            <div class="card-text objectives-p">{{item.text}}</div>
                        </div>
                        <!-- <div class="hidden-text1 btn-d1 pt-5 text-center">
                        <button class="btn btn-view1">
                            Know More
                        </button>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- cards3-loop -->
        <div class="container-fluid cards-loop2 mr-t-b">
            <div class="container mt-2 mb-2 pd25">
                <div class="row assessment-h pt-3 pb-3 g-0">
                    <div class="col-sm-12">Assessment Parameters</div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 col-lg-4 col-sm-4 py-3 " *ngFor="let data of assresult; let ind= index">
                        <div class="card shadow h-c-s" *ngIf="!data.bakePage">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="{{data.imageurl | toStorageUrl}}" class="card-img-top"
                                            style="height:113px; width:113px;">
                                    </div>
                                    <div class="col-sm-12 mt-5">
                                        <div class="title-assess">{{data.title}}</div>
                                    </div>
                                    <div class="col-sm-12 mt-3">
                                        <div class="p-assess" [innerHTML]="truncateChar(data.text)">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mt-3">
                                        <a class="btn-read" (click)="readMore(data, ind)">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow h-c-s" style="justify-content: center;" *ngIf="data.bakePage">
                            <div class="card-body p-4">
                                <a class="btn-read" (click)="readLess(data, ind)">
                                    <img src="../../../assets/circle/west_black_24dp.svg" alt="">
                                </a>
                                <div class="mt-3">
                                    <span class="title-assess">{{data.title}}</span>
                                    <p class="sub-back">{{data.text}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- image and ULB -->
        <div class="container-fluid mr-t-b">
            <div class="h-p2 text-center mb3">
                <h2 class="h-sl">How it works</h2>
            </div>
            <div class="row d-flex justify-content-center align-items-center mt-4 g-0 mb-4" #highlightContainer>
                <div class="img-ulb col-md-5">
                    <img src="../../../assets/M FIGMA/travel-nomades-8W-iJDxE96k-unsplash 1.png" class="rounded">
                </div>
                <div class="col-md-5 ps-3">
                    <ul class="autoplay-items">
                        <li [ngClass]="{'active': highlightNo === 1, 'done' : highlightNo > 1}"
                            (click)="highlightNo = 1">
                            <h3 class="sl-text">Urban Local Bodies to Upload Data</h3>
                            <div class="sl-sub-text">All ULBs are required to submit their key financial data and upload
                                their financial documents on the <a
                                    href="https://cityfinance.in/home">www.cityfinance.in</a> platform.</div>
                        </li>
                        <li [ngClass]="{'active': highlightNo === 2, 'done' : highlightNo > 2 }"
                            (click)="highlightNo = 2">
                            <h3 class="sl-text">Independent PMU Team Verifies Data</h3>
                            <div class="sl-sub-text">Independent Project Management Unit team reviews, verifies and
                                approves data.</div>
                        </li>
                        <li [ngClass]="{'active': highlightNo === 3, 'done' : highlightNo > 3 }"
                            (click)="highlightNo = 3">
                            <h3 class="sl-text">Computation of Scores</h3>
                            <div class="sl-sub-text">Computation of scores and ranks based on assessment indicators and
                                scoring methodology.
                            </div>
                        </li>
                        <li [ngClass]="{'active': highlightNo === 4, 'done' : highlightNo > 4 }"
                            (click)="highlightNo = 4">
                            <h3 class="sl-text">Final Ranking Published</h3>
                            <!-- <div class="sl-sub-text">City Finance Ranking 2022 will be published on <a href="https://cityfinance.in/home">www.cityfinance.in</a> result dashboard. -->
                            <div class="sl-sub-text">Final results (scores and ranks) will be published on <a
                                    href="https://cityfinance.in/home">www.cityfinance.in</a> results dashboard, powered
                                by advanced data analytics and visualization tools.</div>
                            <!-- </div> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- salient features -->
        <div class="w-100 mr-t-b" style="background-color: #1E5492;">
            <div class="container sl-cnt">
                <div class="row g-0">
                    <div class="col-sm-12 ms-3">
                        <div class="h-p3">Salient Features</div>
                    </div>
                </div>
                <div class="row mt-4 g-0">
                    <div class="col-sm-4" *ngFor="let data of salientresult">
                        <div class="card ms-3 cd-sl">
                            <div class="card-body salient-p">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-md-9 sailent-t">
                                        <span>{{data.title}}</span>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="{{data.imageurl | toStorageUrl}}" class="card-img-top img-fluid"
                                            style="height: 60px; width: 60px;">
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-sm-12">
                                        <div class="" [innerHTML]="data.text"></div>
                                    </div>
                                </div>
                                <!-- <p class="card-text" ></p> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- Ranking -->
        <div class="fluid mr-t-b p-4">
            <div class="h-p4 justify-content-center text-center mb-3">
                <span>Ranking Categories </span>
            </div>
            <div class="row d-flex justify-content-center text-center p-3 g-0">
                <div class="col-md-3" *ngFor="let data of rankresult">
                    <div><img class="img-fluid r-icon" height="20px" src="{{data.imageurl | toStorageUrl}}"></div>
                    <div class="body title-sp mt-2">
                        <span>{{data.title}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mr-t-b mb-0">
            <div class="row d-flex justify-content-center m-0 p-0 g-0">
                <div class="col-md-6 lst-d">
                    <div class="p-5">
                        <div class="h-p5">
                            <span class="">About
                                <span class="cf">
                                    <span class="c">city</span>
                                    <span class="f">finance.in</span>
                                </span>
                            </span>
                        </div>
                        <div class="last-p">
                            The City Finance platform serves as a national framework of standardized, timely and
                            credible financial information on India’s cities (urban local bodies).<br> The platform
                            hosts more than 8,400 audited annual accounts of nearly
                            3,000 municipalities (ULBs) in a standardized and comparable format.
                        </div>
                        <a class="btn btn-exp" href="https://cityfinance.in/home" target="_blank">Explore</a>
                    </div>
                </div>

                <div class="col-md-6 m-0 p-0">
                    <img src="../../../assets/M FIGMA/laptop 1.png" style="width: 100%;">
                </div>
            </div>
        </div>

        <div class="fluid mt-3 mb-3">
            <div class="row d-flex text-center g-0">
                <div class="col-sm-12">
                    <div class="initiative">An Initiative by
                        <img src="../../../assets/M FIGMA/GOI.png" alt="" class="m-3"> supported by its knowledge
                        partner
                        <img src="../../../assets/M FIGMA/janagraha 1.png" alt="" class="m-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- </section> -->