<app-header [participatedUlbCount]="data.participatedUlbCount"></app-header>
<app-union-ministor></app-union-ministor>
<app-ulbs-in-india [data]="data"></app-ulbs-in-india>
<app-assessment-parameters (onGuidelinesPopup)="guidelinesPopup()"></app-assessment-parameters>
<app-ranking-categories></app-ranking-categories>
<app-guidelines-brochure-video (onGuidelinesPopup)="guidelinesPopup()"
    (onVideosPopup)="videosPopup()"></app-guidelines-brochure-video>
<div class="container">
    <div class="yellow-divider"></div>
</div>
<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>