<p [innerHTML]="data.message"></p>

@if (!data.buttons) {
<button style="float: right; margin-top: 5px; outline: none" type="button" class="close1 btn btn-primary"
  (click)="onButtonClick('ok')">
  OK
</button>
}

@if (data.buttons) {
<div class="buttonWrapper">
  @if (data.buttons.confirm) {
  <button style="outline: none" type="button" class="close1 btn btn-primary" (click)="onButtonClick('confirm')">
    {{ data.buttons.confirm.text }}
  </button>
  }
  @if (data.buttons['signup']) {
  <button style="outline: none" type="button" class="close1 btn btn-primary" (click)="onButtonClick('signup')">
    {{ data.buttons['signup'].text }}
  </button>
  }
  @if (data.buttons.cancel) {
  <button style="outline: none" type="button" class="close1 btn btn-primary" (click)="onButtonClick('cancel')">
    {{ data.buttons.cancel.text }}
  </button>
  }
</div>
}