.deSelected{
    color: #8B92A8;
    background-color: white;
    border-color: #8B92A8;
}

.selected{
    color: #E57504;
    background-color: #FFF1E3;
    border-color: #F2991F;
}

.selected:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem #FADAAD;
}
@media screen and (max-width: 800px) {
    .customClass {
        margin-top:4%;
    }
    .customButtonClass{
        margin:1%;
        margin-left: 0% !important;
        width: inherit;
    }
}
