* {
  box-sizing: border-box;
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
}

p {
  margin: 0;
}

mat-paginator {
  font-family: var(--ff-base);
}

// Add scroll bar to the table.
.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
}

.mat-mdc-table .mat-mdc-header-cell {
  background: var(--clr-secondary) !important;
  font-size: 1.125rem;
  font-weight: var(--fw-bold) !important;
  text-align: center;
  color: white;
  border: 1px solid rgba(219, 219, 219, 1);
}

.mat-mdc-table .mdc-data-table__cell {
  font-size: 1rem;
  border: 1px solid rgba(219, 219, 219, 1);
}

.form-status {
  font-size: 12px;
}

.block {
  height: 9rem;
}