* {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
}

mat-icon {
  font-family: 'material icons';
}

.mat-mdc-table .mat-mdc-header-cell {
  background: rgba(25, 51, 105, 1) !important;
  font-size: 1.125rem;
  font-weight: 600 !important;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(219, 219, 219, 1);
}

.mat-mdc-table .mdc-data-table__cell {
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid rgba(219, 219, 219, 1);
}
.form-status {
  font-size: 0.75rem;
}

.reset {
  color: rgba(230, 126, 21, 1);
  font-size: 18px;
  border: 0;
  background: none;
}

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  // max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
