<div class="container-fluid py-2" style="max-width: 94%; min-height: 60vh">
    <h4 class="fw-bold my-4">{{loggedInUserDetails.stateName}}</h4>
    <h4 class="fw-bold my-4" *ngIf="loggedInUserDetails.role == 'XVIFC'">XVI FC</h4>
    <!-- <div class="d-flex align-items-center justify-content-center mb-4">
        <div class="w-75 d-flex gap-3 mb-3 flex-column flex-md-row align-items-center justify-content-center">
            <div class="block shadow p-2 rounded w-50 d-flex flex-column align-items-center justify-content-center">
                <p class="fs-5 fw-bold mb-0">4800</p>
                <p class="mb-0 text-center"><small>Total </small></p>
            </div>
            <div
                class="block shadow p-2 rounded w-100 w-md-50 d-flex flex-row align-items-center justify-content-center">
                <div class="w-50 d-flex flex-column align-items-center justify-content-center border-end">
                    <p class="fs-5 fw-bold mb-0">3360</p>
                    <p class="mb-0 text-center"><small>Forms Received</small></p>
                </div>
                <div class="w-50 d-flex flex-column align-items-center justify-content-center">block 2</div>
            </div>
            <div
                class="block shadow p-2 rounded w-100 w-md-50 d-flex flex-row align-items-center justify-content-center">
                <div class="w-50 d-flex flex-column align-items-center justify-content-center border-end">
                    <p class="fs-5 fw-bold mb-0">1440</p>
                    <p class="mb-0 text-center"><small>Forms Returned to ULBs</small></p>
                </div>
                <div class="w-50 d-flex flex-column align-items-center justify-content-center">block 2</div>
            </div>
        </div>
    </div> -->

    <mat-divider></mat-divider>

    <div class="dashboard-table mt-4">

        <div class="d-flex justify-content-between align-items-center">
            <h5 class="fw-bold me-auto my-3">Review XVI FC Data Collection Forms</h5>
            <!-- <div> -->
            <button type="button" class="btn btn-outline-success me-2 py-2" matTooltip="Approve All"
                (click)="onReview('approve')">
                <i class="bi bi-check2"></i><span class="ms-2 d-none d-md-inline fw-bold">Approve All</span>
            </button>
            <button type="button" class="btn btn-outline-danger me-2 py-2" matTooltip="Reject All"
                (click)="onReview('reject')">
                <i class="bi bi-x-lg"></i><span class="ms-2 d-none d-md-inline fw-bold">Reject All</span>
            </button>

            <div class="btn-group" dropdown>
                <!-- @if (currentUserRole == 'XVIFC_STATE') {
                <button type="button" class="primary-btn-2 fw-bold" matTooltip="Progress Report"
                    (click)="download($event)"><i class="bi bi-download"></i></button>
                } -->
                <!-- @if (currentUserRole == 'XVIFC') { -->
                <button id="button-split" type="button" dropdownToggle class="primary-btn-2"
                    aria-controls="dropdown-split">
                    <i class="bi bi-download"></i>
                </button>
                <ul id="dropdown-split" *dropdownMenu class="dropdown-menu mt-1" role="menu"
                    aria-labelledby="button-split">
                    <li role="menuitem"><a class="dropdown-item" (click)="download($event)">Progress Report</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="downloadDump($event)">Data Dump</a></li>
                </ul>
                <!-- } -->
            </div>

            @if (isLoader1 ) {
            <div class="example-loading-shade">
                @if (isLoader1) {
                <mat-spinner></mat-spinner>
                }
            </div>
            }
        </div>
        <!-- Filter -->
        <fieldset class="border rounded-3 px-3">
            <legend class="float-none w-auto px-3">Filter By:</legend>
            <div class="d-flex gap-3 justify-content-end" id="flex-container">
                @if (currentUserRole === 'XVIFC') {
                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <mat-select [(ngModel)]="state" panelWidth="300" (selectionChange)="filter()">
                        <mat-option value="">All</mat-option>
                        @for (state of stateList; track $index) {
                        <mat-divider></mat-divider>
                        <mat-option [value]="state.name">{{ state.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>ULB Category</mat-label>
                    <mat-select [(ngModel)]="formId" panelWidth="300" (selectionChange)="filter()">
                        <mat-option value="">All</mat-option>
                        @for (category of ulbCategories; track $index) {
                        <mat-divider></mat-divider>
                        <mat-option [value]="category.id">{{category.label}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                }

                <mat-form-field appearance="outline">
                    <mat-label>Form Status</mat-label>
                    <mat-select [(ngModel)]="formStatus" panelWidth="300" (selectionChange)="filter()">
                        <mat-option value="">All</mat-option>
                        @for (option of formStatuses; track $index; let last = $last) {
                        <mat-divider></mat-divider>
                        <mat-option [value]="option.key">{{option.label}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>ULB</mat-label>
                    <mat-icon matPrefix (click)="filter()">search</mat-icon>
                    <input matInput placeholder="Search" [(ngModel)]="ulbName" (keydown.enter)="filter()">
                    @if (ulbName) {
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="ulbName='';filter()">
                        <mat-icon>close</mat-icon>
                    </button>
                    }
                </mat-form-field>

                <div class="wmx-2 mt-1">
                    <button class="primary-btn-2" (click)="filter(true)">Reset</button>
                </div>

            </div>
        </fieldset>
        <div class="mat-elevation-z8 my-4 pb-2 position-relative">
            @if (isLoader ) {
            <div class="example-loading-shade">
                @if (isLoader) {
                <mat-spinner></mat-spinner>
                }
            </div>
            }
            <div class="example-table-container">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
                    [matSortActive]="sort.active" [matSortDirection]="sort.direction">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> S. No. </th>
                        <td mat-cell *matCellDef="let element; let i=index;" class="text-end">{{i + (skip *limit) +
                            1}}.</td>
                    </ng-container>

                    <!-- State Name -->
                    <ng-container matColumnDef="stateName" *ngIf="currentUserRole === 'XVIFC'">
                        <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="stateName">State
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element">{{element?.stateName}}</td>
                    </ng-container>

                    <!-- ULB Name -->
                    <ng-container matColumnDef="ulbName">
                        <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="ulbName">ULB Name
                        </th>
                        <td mat-cell *matCellDef="let element">{{element?.ulbName | titlecase }}</td>
                    </ng-container>

                    <!-- Census Code -->
                    <ng-container matColumnDef="censusCode">
                        <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="censusCode">
                            Census
                            Code</th>
                        <td mat-cell *matCellDef="let element" class="text-end">{{element?.censusCode}}</td>
                    </ng-container>

                    <!-- Category -->
                    <ng-container matColumnDef="ulbCategory" *ngIf="currentUserRole === 'XVIFC'">
                        <th mat-header-cell *matHeaderCellDef class="text-center" mat-sort-header="ulbCategory">
                            Category
                        </th>
                        <td mat-cell *matCellDef="let element">{{element?.ulbCategory}}</td>
                    </ng-container>

                    <!-- Form Status -->
                    <ng-container matColumnDef="formStatus">
                        <th mat-header-cell *matHeaderCellDef>Form Status</th>
                        <td mat-cell *matCellDef="let element" class="text-center" style="white-space: nowrap;">
                            <p [ngClass]="getStatusClass(element?.formStatus)"
                                class="form-status alert rounded-pill fw-bold p-1 m-0">{{element?.formStatus |
                                replaceUnderscore}}</p>
                        </td>
                    </ng-container>


                    <!-- Data Submitted -->
                    <ng-container matColumnDef="dataSubmitted">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Data Submitted(%)&nbsp;<i
                                class="bi bi-info-circle fs-7 me-1"
                                matTooltip="Percentage of Data Submitted is calculated as the average of percentage completion of all Individual sections in the form"></i>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-end">{{element?.dataSubmitted}}</td>
                    </ng-container>

                    <!-- Actions -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <button class="primary-btn-2" [routerLink]="'/admin/xvi-fc-review/ulb/'+element.ulbId"
                                [disabled]="element?.formStatus === 'NOT_STARTED'">
                                {{element?.action}}
                            </button>
                        </td>
                    </ng-container>

                    <!-- Approve & Reject -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" [disabled]="row.action !== 'Review'"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row;let i=index; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell fw-bold p-4 fs-5" align="center" [attr.colspan]="displayedColumns.length">
                            No results found for the applied filter.
                        </td>
                    </tr>
                </table>

                <mat-paginator (page)="pageChanged($event)" [pageSize]="limit" [pageSizeOptions]="[5, 10, 20, 50]"
                    [pageIndex]="skip" [length]="totalForms" showFirstLastButtons
                    aria-label="Select page of dashboard elements">
                </mat-paginator>
            </div>
        </div>


    </div>
</div>