<div class="container-fluid py-2" style="max-width: 94%; min-height: 60vh">
    <!-- <h3 class="fw-bold pb-3 ps-3 mt-3">Karnataka State</h3>
    <div class="dashboard-status">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-3">
                    <div class="card text-center rounded card-custom">
                        <div class="card-body">
                            <h3>456</h3>
                            <p>ULBs in State</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center rounded card-custom">
                        <div class="card-body">
                            <h3>456</h3>
                            <p>ULBs in State</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center rounded card-custom">
                        <div class="card-body">
                            <h3 class="mb-1">456</h3>
                            <p>ULBs in State</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center rounded card-custom">
                        <div class="card-body">
                            <h3>456</h3>
                            <p>ULBs in State</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="dashboard-table">
        <h3 class="fw-bold pb-3 ps-3 mt-3">Review XVI FC Data Collection Forms</h3>
        <div class="dashboard-filter rounded border mb-3">
            <div class="row">
                <div class="col-2 mt-3">
                    <span class="fw-bold">Filter by :</span>
                </div>
                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Form Status</mat-label>
                                <mat-select>
                                  <mat-option value="option">All</mat-option>
                                  <mat-option value="option">Approved</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label"></label>
                        </div>
                        <div class="col-auto">                            
                            <mat-form-field appearance="outline">
                                <mat-label>ULB</mat-label>
                                <mat-icon matPrefix>search</mat-icon>
                                <input matInput placeholder="Search">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="float-end  mt-3">
                        <button class="reset fw-bold">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z8 mb-4 pb-2">

            <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> S. No. </th>
                    <td mat-cell *matCellDef="let element; let i=index;" class="text-center"> {{i + (skip *limit) + 1}} </td>
                </ng-container>

                <!-- ULB Name -->
                <ng-container matColumnDef="ulbName">
                    <th mat-header-cell *matHeaderCellDef class="text-start"> ULB Name </th>
                    <td mat-cell *matCellDef="let element"> {{element?.ulbName}} </td>
                </ng-container>

                <!-- Census Code -->
                <ng-container matColumnDef="censusCode">
                    <th mat-header-cell *matHeaderCellDef> Census Code </th>
                    <td mat-cell *matCellDef="let element" class="text-end"> {{element?.censusCode}} </td>
                </ng-container>

                <!-- Form Status -->
                <ng-container matColumnDef="formStatus">
                    <th mat-header-cell *matHeaderCellDef> Form Status </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> <span
                            [ngClass]="getStatusClass(element?.formStatus)"
                            class="form-status">{{element?.formStatus}}</span> </td>
                    <!-- <td mat-cell *matCellDef="let element" class="text-center"> <span
                            
                            class="form-status in-progress">{{element?.formStatus}}</span> </td> -->
                </ng-container>

                <!-- Data Submitted -->
                <ng-container matColumnDef="dataSubmitted">
                    <th mat-header-cell *matHeaderCellDef> Data Submitted (%) </th>
                    <td mat-cell *matCellDef="let element" class="text-end"> {{element?.dataSubmitted}} </td>
                </ng-container>

                <!-- Actions -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        <!-- <a href="#" class="action-link btn btn-disabled" [disabled]="">{{element?.action}}</a> -->
                        <button class="ms-2 primary-btn-1" [disabled]="element?.formStatus === 'NOT_STARTED'">View</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row;let i=index; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator (page)="pageChanged($event)" [pageSize]="limit" [pageSizeOptions]="[5, 10, 20, 50]" [length]="totalForms" showFirstLastButtons
                aria-label="Select page of dashboard elements">
            </mat-paginator>
        </div>


    </div>
</div>