.summary-tile {
  min-width: 160px;
  flex: 1 1 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.summary-tile-emphasized {
    border-width: 2px;
    border-color: var(--bs-primary);
    background-color: var(--bs-primary-bg-subtle);

  }

  .summary-tile-value {
    font-size: 1.3rem;
  }
}