<div class="container-fluid py-2" style="max-width: 94%; min-height: 60vh">
    <!-- <form [formGroup]="form"> -->
    <app-loader class="p-3" *ngIf="isLoader"></app-loader>
    <h3 class="fw-bold fs-4 m-1 mb-4">{{ loggedInUserDetails.name }}</h3>
    <!-- {{selectedIndex}}----- -->
    <mat-stepper *ngIf="!isLoader && tabs" linear="false" labelPosition="bottom" id="stepper"
        [(selectedIndex)]="selectedStepIndex" #stepper>
        <mat-step state="state" *ngFor="let tab of tabs; index as i">
            <!-- {{tab.key}} ----------<br> -->
            <ng-template matStepLabel>
                <p class="fw-bold d-inline" [title]="tab?.label">
                    {{ (tab?.label).split( " " )[0] }}
                    {{ (tab?.label).split(" ")[1] }}<br />
                    {{ (tab?.label).split(" ")[2] }}
                </p>
            </ng-template>

            <!-- <div class="border-top border-secondary"></div> -->
            <mat-divider></mat-divider>

            <div class="container mt-4" [ngClass]="tab.class">
                <!-- <div class="container mt-4" [formArrayName]="tab.key"> -->
                <div class="text-bg-light border rounded mt-3 mb-3 p-3" *ngIf="tab.key !== 'reviewSubmit'">
                    <p class="text-muted pb-2">Section {{tab.displayPriority}}/ {{tabs.length}}</p>
                    <h4 class="fw-bold">{{tab.label}}</h4>
                </div>
                <div class="overflow-container">
                    <!-- <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p> -->
                    @if (tab.key === 'uploadDoc') {
                    <app-yearwise-files [field]="tab" [group]="getTabGroup(tab.key)"></app-yearwise-files>
                    }
                    @else if (tab.key === 'accountPractice') {
                    <app-accounting-practice [field]="tab" [group]="getTabGroup(tab.key)"></app-accounting-practice>
                    }
                    @else if (tab.key === 'reviewSubmit') {
                    <app-review-submit [fields]="tabs" [group]="form" [stepper]="stepper"></app-review-submit>
                    }
                    @else if (tab.key === 'demographicData') {
                    <mat-card>
                        <mat-card-content class="p-4">
                            <ng-container *ngFor="let field of tab?.data;let i = index;">
                                <div class="row m-1">
                                    <app-dynamic-form [field]="field" [group]="getFG(tab.key,i)">
                                    </app-dynamic-form>
                                </div>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                    }
                    @else if (tab.key === 'financialData' || tab.key === 'serviceLevelBenchmark') {
                    <ng-container *ngFor="let field of tab?.data;let i = index;">
                        <div class="row mt-4">
                            <app-dynamic-form [field]="field" [group]="getFG(tab.key,i)">
                            </app-dynamic-form>
                        </div>
                    </ng-container>
                    }
                </div>
                <div class="mt-4">
                    <div class="float-start" *ngIf="selectedStepIndex !==0">
                        <button class="ms-2 primary-btn-2" matStepperPrevious>Back</button>
                    </div>
                    @if (tab.key === 'reviewSubmit') {
                    <div class="float-end">
                        <button class="ms-2 primary-btn-1" (click)="saveAs('draft')">Submit</button>
                    </div>
                    } @else {
                    <div class="float-end">
                        <button class="ms-2 primary-btn-2" (click)="saveAs('draft')">Save as Draft</button>
                        <button class="ms-2 primary-btn-1" (click)="saveAs('draft')">Continue to Next Section</button>
                    </div>
                    }

                </div>
            </div>
            <!-- <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button> -->
            <!-- <div class="mt-4 float-end">
                    <button class="my-btn primary-btn-2 me-2">Save as Draft</button>
                    <button matStepperNext class="my-btn primary-btn-1">Continue to Next Section</button>
                    <button matStepperBack class="my-btn primary-btn-1">Back</button>
                </div> -->
        </mat-step>

        <!-- <ng-template matStepperIcon="state"><span class="material-icons n-circle">circle</span></ng-template>
            <ng-template matStepperIcon="edit"><span class="material-icons n-circle">circle</span></ng-template>
            <ng-template matStepperIcon="done"><span class="material-icons">check_circle</span></ng-template> -->
    </mat-stepper>

    <!-- </form> -->
    <!-- <div class="form-row">
            <button type="submit" [disabled]="!form.valid">Save</button>
        </div> -->
    <!-- </form> -->

    <div class="margin-top">
        <!-- <pre>  {{ this.form.getRawValue() | json }} </pre> -->
    </div>
</div>