<div class="container-fluid py-2" style="max-width: 94%; min-height: 60vh">
    <!-- <form class="dynamic-form" [formGroup]="form" (submit)="onSubmit($event)"> -->
    <form [formGroup]="form">

        <!-- <div *ngFor="let field of fields" class="form-row"> -->

        <!-- <app-question [question]="question" [form]="form"></app-question> -->
        <!-- </div> -->

        <mat-stepper *ngIf="!isLoader && fields" linear="false" labelPosition="bottom" id="stepper" #stepper>
            <mat-step state="state" *ngFor="let tab of fields; index as i">
                <!-- {{tab.key}} ----------<br> -->
                <ng-template matStepLabel>
                    <span class="st-title com-style" [title]="tab?.label">{{ (tab?.label).split( " " )[0]
                        }}
                        {{ (tab?.label).split(" ")[1] }}<br />
                        {{ (tab?.label).split(" ")[2] }}</span>
                </ng-template>

                <div class="container mt-4">
                    <!-- <div class="container mt-4" [formArrayName]="tab.key"> -->
                    <div class="text-bg-light border rounded mt-3 mb-3">
                        <p class="text-muted small pt-3 pb-2 ps-3">Section 1/ 4</p>
                        <h4 class="fw-bold pb-3 ps-3">{{tab.label}}</h4>
                    </div>
                    @if (tab.key === 'auditedAnnualFySt') {
                    <app-yearwise-files [field]="tab" [group]="getTabGroup(tab.key)"></app-yearwise-files>
                    }
                    @else if (tab.key === 'accountPractice') {
                    <app-accounting-practice [field]="tab" [group]="getFG(tab.key,i)"></app-accounting-practice>
                    }
                    @else if (tab.key === 'reviewSubmit') {
                    <app-review-submit></app-review-submit>
                    }
                    @else {
                    <ng-container *ngFor="let field of tab?.formArrays;let i = index;">
                        <div class="row mt-4">
                            <app-dynamic-form [field]="field" [group]="getFG(tab.key,i)">
                            </app-dynamic-form>
                        </div>
                    </ng-container>
                    }
                    <div class="mt-4">
                        <div class="float-start">
                            <button class="ms-2 primary-btn-2" matStepperPrevious>Back</button>
                        </div>
                        <div class="float-end">
                            <button   matStepperNext class="ms-2 primary-btn-2">Save as Draft</button>
                            <button  matStepperNext class="ms-2 primary-btn-1">Continue to Next
                                Section</button>

                        </div>
                    </div>
                </div>
                <!-- <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button> -->
                <!-- <div class="mt-4 float-end">
                    <button class="my-btn primary-btn-2 me-2">Save as Draft</button>
                    <button matStepperNext class="my-btn primary-btn-1">Continue to Next Section</button>
                    <button matStepperBack class="my-btn primary-btn-1">Back</button>
                </div> -->
            </mat-step>

            <ng-template matStepperIcon="state"><span class="material-icons n-circle">circle</span></ng-template>
            <ng-template matStepperIcon="edit"><span class="material-icons n-circle">circle</span></ng-template>
            <ng-template matStepperIcon="done"><span class="material-icons">check_circle</span></ng-template>
        </mat-stepper>

        <!-- </form> -->
        <!-- <div class="form-row">
            <button type="submit" [disabled]="!form.valid">Save</button>
        </div> -->
    </form>

    <div class="margin-top">
        <!-- <pre>  {{ this.form.getRawValue() | json }} </pre> -->
    </div>
</div>