.nav {
  justify-content: center;
  flex-wrap: nowrap;
}

.nav-item {
  background: #f7f8ff 0% 0% no-repeat padding-box;
  border: 1px solid #d9dce6;
  text-align: center;
}

.nav-item:first-child {
  background: #f7f8ff 0% 0% no-repeat padding-box;
  border: 1px solid #d9dce6;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nav-item:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

li > a.active,
li > a.active:active {
  background-color: #e67e15 !important;
  color: #fff;
}

.popActive {
  background-color: #e67e15 !important;
  color: #fff;
}

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: inherit;
}

.nav > li > a {
  padding: 0.8rem 2.5rem;
}

.filterBtn {
  border: 1px solid #9299b2;
  border-radius: 6px;
  font: normal normal 500 14px/15px "Archivo";
  letter-spacing: 0px;
  color: #8b92ab;
  background-color: #fff;
  padding: 5px 12px;
  margin-right: 1rem;
}

.t-rev,
.filterBtn:hover {
  background: #fff1e3 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 8px #fadaad;
  border: 1px solid #f2991f;
  border-radius: 6px;
  font: normal normal 500 14px/15px "Archivo";
  letter-spacing: 0px;
  color: #e57504;
}

// .nav-sbu-l {
//     padding: 0.4rem 2rem;
//     width: 12rem !important;
// }
.form-select {
  //  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  font: normal normal 600 13px/14px "Archivo";
  letter-spacing: 0px;
  padding: 0.6rem 0.75rem;
}

.res-filter {
  border: 1px solid #d9dce6;
  border-radius: 8px;
}

.fl-input {
  width: 100%;
  //  height: 3rem;
  border: none;
}

.fl-input:focus-visible,
.fl-input:focus {
  border: none;
  outline: none;
  outline-color: transparent;
  box-shadow: none;
}

.btnFilter {
  background: #e67e15 0% 0% no-repeat padding-box;
  border-radius: 0px 8px 8px 0px;
  opacity: 1;
  //   height: 3rem;
  width: 100%;
  //  padding: 12px 24px;
  color: #fff;
  border: none;
}

.btnTableView {
  background: #f7f8ff 0% 0% no-repeat padding-box;
  border: 1px solid #d9dce6;
  font: normal normal 500 10px/13px "Montserrat";
  letter-spacing: 0px;
  color: #6e7281;
  padding: 5px;
  padding-right: 5px;
}

.btnTableView:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.btnTableView:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e4e4e4;
  border-radius: 5px 5px 0px 0px;
}

.table > :not(:first-child) {
  border-top: none;
}

thead > tr > th {
  border-right: 1px solid #e4e4e4;
  background: #f7f9ff 0% 0% no-repeat padding-box;
  font: normal normal 600 14px/14px "Archivo";
  letter-spacing: 0px;
  color: #0f1f40;
}

.table > tbody > tr:first-child {
  border-right: 1px solid #e4e4e4;
  // border-bottom: 1px solid #e4e4e4;
  background: #ffffff;
  font: normal normal 600 14px/14px "Archivo";
  letter-spacing: 0px;
  color: #0f1f40;
}

.table > tbody > tr > td {
  border: none;
  border-right: 1px solid #e4e4e4;
  font: normal normal 500 14px/15px "Archivo";
  letter-spacing: 0px;
  color: #0f1f40;
}

th,
td {
  padding: 15px 20px !important;
}

.tb-active {
  background: #0b3c8b 0% 0% no-repeat padding-box;
  color: #fff;
}

.tb_svg {
  fill: #6e7281;
}

.tb_svg-ac {
  fill: #fff;
}

.barCon {
  background: #fffbef 0% 0% no-repeat padding-box;
  border-radius: 12px;
}

.chart-l {
  font: normal normal 600 12px/14px "Archivo";
  letter-spacing: 0px;
  color: #0f1f40;
}

.pd-s {
  padding-left: 1.5rem;
}

@media screen and (max-width: 768px) {
  .form-select {
    margin-bottom: 1rem;
  }
  .btnTableView {
    margin-bottom: 1rem;
  }
  .pd-s {
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 428px) {
  .table-con > .table > thead > tr > th:first-child,
  .table-con > .table > tbody > tr > td:first-child {
    position: sticky;
    left: 0;
    z-index: 99;
    background-color: #f7f9ff;
  }
}
@media screen and (max-width: 800px) {
  .table > thead > tr > th:first-child {
    position: sticky;
    left: 0;
    z-index: 99;
    background-color: #f7f9ff;
  }
  .table > tbody > tr > td:first-child {
    position: sticky;
    left: 0;
    z-index: 99;
    background-color: white;
  }
  .bottomDownloadButton {
    margin-top: 6%;
  }
  .scrollable {
    overflow-x: scroll;
  }
  .wrapperCanvas{
    width: 647px !important;
    // overflow-x: scroll !important;
  }
}

.bottomDownloadButton {
  border: 1px solid #f2991f;
  color: #f2991f;
  border-radius: 6px;
  background-color: white;
  margin-left: 10px;
}

.searchButton {
  border: none;
  padding: 6px;
  // padding-left: 2px;
  // padding-right: 2px;
  width: auto;
  font-size: 1em;
  border-radius: 5px;
  background-color: #e67e15;
  border: 1px solid #e67e15;
  color: #ffffff;
  cursor: pointer;
}

.all_ulbs{
  font-size:14px !important;
  font-weight: bold !important;
}
