.container-cnt {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    overflow: auto;
}
.noData{
    color:#1E44AD;
}
