<div class="container">
    <div class="row wrap-card">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="new-card-text">
                <!-- Removed the count and changed the text now -->
                <!-- <h3 class="w-new">What’s New ({{ whatNewData.length }})</h3> -->
                <h3 class="w-new">In the Spotlight</h3>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="card-d">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                    (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let item of whatNewData" class="slide card-img">
                        <div style="height: 200px">
                            <img [src]="item.imageUrl" alt="" class="image" width="50%" height="100%" />
                        </div>
                        <a class="card-text new-card-l" href="{{ item.downloadUrl}}" target="_blank">{{ item.name
                            }}</a>
                    </div>
                </ngx-slick-carousel>
                <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
                    (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    @for (slide of slides; track slide.img) {
                    <div ngxSlickItem class="slide">
                        <img src="{{ slide.img }}" alt="" width="100%">
                    </div>
                    }
                </ngx-slick-carousel> -->
            </div>
        </div>
    </div>
</div>