@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
// ----- Default setting ----- //
* {
	font-family: "Montserrat", sans-serif;
	--ff-base: "Montserrat", sans-serif;
}

::ng-deep p,
::ng-deep h1,
::ng-deep h2,
::ng-deep h3,
::ng-deep h4,
::ng-deep h5,
::ng-deep td,
::ng-deep li,
::ng-deep label,
::ng-deep input,
::ng-deep mat-select {
	margin: 0;
	padding: 0;
	font-family: var(--ff-base) !important;
	font-size: 1rem !important;
	font-weight: var(--fw-medium) !important;
}
.material-icons {
    font-family: 'Material Icons';
}
// ----- Stepper ----- //
::ng-deep .mat-step-icon {
	border-radius: 25% !important;
	width: 2rem !important;
	height: 2rem !important;
	font-family: var(--ff-base) !important;
}


// ----- Expansion pannel ----- //
// When collapsed
::ng-deep mat-expansion-panel-header {
	font-family: var(--ff-base) !important;
	font-weight: var(--fw-bold) !important;
	font-size: 1rem !important;
	color: $white !important;
	height: 3.5rem !important;
	background: linear-gradient(90deg, #193369 0%, #FFFFFF 100%) !important;
	transition: background 0.3s ease, box-shadow 0.3s ease;

	::ng-deep .mat-expansion-panel-header-title {
		color: $white !important;
	}
}

// On hover and click
::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
	background: linear-gradient(90deg, #162b56 0%, #e0e0e0 100%) !important; // Slightly darker background
	height: 3.6rem !important;
}

::ng-deep .mat-mdc-form-field-infix {
	width: 100px !important;
}
.bd-callout {
    --bs-link-color-rgb: var(--bd-callout-link);
    --bs-code-color: var(--bd-callout-code-color);
    padding: 1.25rem;
    margin-top: 1rem;
    color: var(--bd-callout-color, inherit);
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}
.bd-callout-info {
    --bd-callout-color: var(--bs-info-text-emphasis);
    --bd-callout-bg: var(--bs-info-bg-subtle);
    --bd-callout-border: var(--bs-info-border-subtle);
}
// ----- Verify and reject block ----- //
.verified-info {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(54, 160, 4, 1);
    background: rgba(227, 249, 217, 1);
    margin-top: 20px;
}

.verified-info-reject {
    border: 1px solid rgba(255, 0, 0, 1);
    background: rgba(255, 242, 242, 1);
}

// ----- Responsive Table -----//
.table-container {
    position: relative;
    overflow-x: auto;
    max-width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.table th,
.table td {
    min-width: 8rem !important;
    vertical-align: middle;
    // text-align: right;
    border: none;
    padding-top: 1rem;
    min-height: 3rem !important;
}

.table th.first-col,
.table td.first-col {
    min-width: 15rem !important;
    min-height: 3rem !important;
    vertical-align: middle;
    text-align: left;
    position: sticky;
    left: 0;
    background: rgba(255, 255, 255, 0.723);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.table thead th {
    position: sticky;
    top: 0px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 3;
    border-bottom: 2px solid #dee2e6;
}

@page {
    size: landscape;
  }
  
  @media print {
    /* General print styles */
    body {
      font-size: 8pt !important;
    }
    
    /* Ensure the content fits well in landscape mode */
    .container {
      width: 150% !important;
    }
    .table th,
.table td {
    min-width: 3rem !important;
    font-size: 8pt !important;
}

.table th.first-col,
.table td.first-col {
    min-width: 4rem !important;
    font-size: 8pt !important;
}
  }
  @media print {
    .no-print,.footer-wrappper {
      display: none;
    }
  }