@for (tab of fields; track tab.key;  let  i = $index) {

<div class="container mt-4 ">
    <div class="text-bg-light border rounded mt-3 mb-3 section-box clearfix" *ngIf="tab.key !== 'reviewSubmit'">
        <div class="float-start">
            <p class="text-muted">Section {{tab.displayPriority}}/ {{fields.length}}</p>
            <h4 class="fw-bold">{{tab.label}}</h4>
        </div>
        <div class="float-end">
            <button matStepperNext class="ms-2 me-2 mt-1 btn-edit" (click)="editStep(i)"><mat-icon>edit</mat-icon>
                Edit</button>
        </div>
    </div>

    @if (tab.key === 'demographicData') {
    <mat-card>
        <mat-card-content>
            <table class="table review-table">
                <tr *ngFor="let field of tab?.data;let i = index;">
                    <td>{{field.label}}</td>
                    <td class="fw-bold">{{field.value}}</td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>

    }
    @else if (tab.key === 'financialData' || tab.key === 'serviceLevelBenchmark') {
    <ng-container *ngFor="let field of tab?.data;let i = index;">
        <mat-expansion-panel [expanded]="panelOpenState" class="mt-3">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{field.label}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="year-table mt-2">
                <table class="table review-table">
                    <tbody>
                        <tr *ngFor="let row of field.data;let i = index;">
                            <td class="first-col">{{row.position ? row.position+'. ':''}}{{row.label}}
                                <span class="text-danger" *ngIf="row.required">*</span>
                            </td>
                            <td class="fw-bold" *ngFor="let col of row.year;let j = index;">
                                {{col.value}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </mat-expansion-panel>
    </ng-container>
    }
    @else if (tab.key === 'uploadDoc') {
    <mat-expansion-panel [expanded]="panelOpenState" class="mt-3">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Copy of Audited Annual Financial Statements
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="audited-statement-block">
            <div class="statement-block-row" *ngFor="let year of tab.data[0].year; index as i">
                <h5>{{year.label}}</h5>
                @if (year.isPdfAvailable) {
                <div class="uploaded-files">
                    <div class="uploaded-block already-availabe">
                        <!-- <div class="uploaded-files-label">Already available on City Finance</div>
                             -->
                        <div class="media">
                            <div class="media-body">
                                <div class="upload-doc-label"><mat-icon class="pdf"
                                        style="color:red">picture_as_pdf</mat-icon> Already available on City
                                    Finance</div>
                                <!-- <p class="file-size">1.5 MB</p> -->
                            </div>
                            <div class="align-self-center delete-doc-icon">
                                <button class="ms-2 primary-btn-2">View</button>
                            </div>
                        </div>
                    </div>
                    <!-- verified by ulb -->
                    @if(year.isVerifiedStatus === 2) {
                    <div class="verified-info">
                        <div class="media">
                            <div class="align-self-center upload-doc-icon">
                                <mat-icon class="material-icons-round">
                                    verified
                                </mat-icon>
                            </div>
                            <div class="media-body">
                                <div class="upload-doc-label">You have successfully verified the document already
                                    available on City Finance and accepted it.</div>
                            </div>
                        </div>
                    </div>
                    }

                    @else if (year.isVerifiedStatus === 3) {
                    <!-- rejected by ulb -->
                    <div class="verified-info verified-info-reject">
                        <div class="media">
                            <div class="align-self-center upload-doc-icon">
                                <mat-icon>verified</mat-icon>
                            </div>
                            <div class="media-body">
                                <div class="upload-doc-label">You have rejected the document already available on
                                    City Finance, re-uploaded another file, and provided the following reason:
                                    <strong>Files are in correct</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uploaded-files">
                        <div class="uploaded-files-label">Uploaded Files</div>
                        <div class="media uploaded-block">
                            <div class="align-self-center upload-doc-icon">
                                <mat-icon class="pdf">picture_as_pdf</mat-icon>
                            </div>
                            <div class="media-body">
                                <div class="upload-doc-label">financial document 2022-23.pdf</div>
                                <p class="file-size">1.5 MB</p>
                            </div>
                            <div class="align-self-center delete-doc-icon">
                                <mat-icon>delete_forever</mat-icon>
                            </div>
                        </div>
                    </div>
                    }


                </div>
                } @else {
                <!-- <app-file [field]="year" [group]="getFileGroup(year.key,i)"></app-file> -->
                }
            </div>

        </div>
    </mat-expansion-panel>
    }
    @else if (tab.key === 'accountPractice') {
    <mat-expansion-panel [expanded]="panelOpenState" class="mt-3" *ngFor="let field of tab.data">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{field.label}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let question of field.data">
            <label class="pt-3 pb-1 fw-bold" for="{{question.key}}">
                {{question.position}}.
                {{question.label}}
            </label>
            @if (question.formFieldType === 'radio') {
            <div class="form-check pt-1" *ngFor="let optionValue of question.options; index as i">
                <label class="form-check-label" [attr.for]="question.key+i">
                    {{optionValue.label ? optionValue.label: optionValue }}
                </label>
                @if (optionValue.showInputBox) {
                <input class="form-control" type="text" [value]="question.inputBoxValue" />
                }
            </div>
            } @else if (question.formFieldType === 'number') {
            <input class="form-control" [type]="question.formFieldType" [value]="question.value" />
            }
        </ng-container>
    </mat-expansion-panel>
    }
</div>

}