<div class="container-fluid">
  <div class="row">
    <!--   <div class="col-sm-12"> -->
    <app-front-panel [cardData]="revenueData" [data]="frontPanelData" [componentName]="component_name"
      style="padding: 0"></app-front-panel>
  </div>
  <!--  </div> -->
  <!-- <div> -->
  <div class="row pt-3">
    <div class="col-sm-12">
      <h1 class="text-center">Dashboard</h1>
      <div class="d-a mx-auto mb-3" [ngClass]="{ stickyClass: checkStickyValue === true }"
        *ngIf="selectedFilterTab==='Data Availability'">
        <!-- <span class="d-t"> -->
        Data Availability - {{ nationalDataAvailability }}%
        <!-- </span> -->
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- <div class="row">
        <app-dashboard-tabs [data]="dashboardTabData"></app-dashboard-tabs>
    </div> -->
  <!-- <app-tab-about-filter [cordsValue]="cords" [tabIndex]="tabIndex" [data]="tabAboutData"
    (nationalDataAvailabilityValue)="getAvailValue($event)"></app-tab-about-filter> -->
</div>