* {
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
  // font-family: Archivo;
}

.input-box-style {
  border: none;
  padding: 0.5rem 1rem;
  background: #f8f9ff;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  // box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
  width: 100%;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.explore-data-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 767px) {
  .explore-data-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

::ng-deep .multiline-tooltip {
  white-space: pre-line;
}
