<div class="container-fluid">
  <div class="text-center">
    <div class="expo">Explore</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 d-flex flex-column">
      <div class="flex-grow-1 position-relative" style="min-height: 500px;">
        <app-map #map [stateCode]="selectedStateCode" (stateCodeChange)="selectedStateCodeChange($event)"></app-map>
      </div>
      <!-- {{selectedStateCode}} {{selected_state}} {{cid}} -->
      @if (selectedStateCode) {
      <button class="btn p-0 m-0 border-0 bg-transparent text-cfPrimary fw-bold" (click)="resetMap()">Reset Map to
        India</button>
      }
      <!-- @if (!nationalLevelMap) {
      <div class="skeletonWrapper container-fluid spinner_overlay d-flex justify-content-center align-items-center"
        style="z-index: 1000">
        @if (isLoading) {
        <mat-spinner></mat-spinner>
        }
      </div>
      }
      @if (isMapOnMiniMapMode) {
      <div class="map-reset w-100 text-center mb-3 mt-3" style="z-index: 10000"> -->
      <!-- <a type="button" style="text-decoration: none" (click)="onSelectingStateFromDropDown(national)">Reset
          Map To
        India</a> -->
      <!-- </div>
      } -->

      <!-- <div class="col-sm-12" id="districtMapContainer" [ngStyle]="{ visibility:  ? 'visible' : 'hidden' }"
    style="height: 100%">


  </div>
  <div class="stateMap analytics-map" [id]="'mapidd'"
    style="background-image: url('../../../../assets/Layer\ 1.png') !important;">
  </div> -->
    </div>
    <div class="col-md-12 col-lg-6 col-sm-12">
      <div class="expo-sub">
        Select a state or city to know more about its key municipal financial and operational information
      </div>
      <div class="row expo-drp expo-pd">
        <div class="col-md-6 col-sm-12">
          <div class="input-group">
            <form [formGroup]="myForm" class="w-100">
              <input type="text" placeholder="Search for State" matInput formControlName="stateId"
                [matAutocomplete]="auto"
                class="rounded border border-1 border-secondary-subtle bg-body-tertiary p-1 w-100 px-2" />
              <mat-autocomplete #auto="matAutocomplete">
                @for (option of filteredStates | async; track $index) {
                <mat-option [value]="option?.name" (onSelectionChange)="onSelectingStateFromDropDown(option)">
                  <span>{{ option?.name }}</span>
                </mat-option>
                }
              </mat-autocomplete>
            </form>
          </div>
        </div>
        <!-- city-dropdown inp-grp -->
        @if (selectedStateCode) {
        <div class="col-md-6 col-sm-12 m-m">
          <form [formGroup]="myForm">
            <input type="text" class="rounded border border-1 border-secondary-subtle bg-body-tertiary p-1 w-100 px-2"
              placeholder="Search for ULBs" matInput formControlName="ulb" [matAutocomplete]="auto" />

            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              @if (filteredUlbs) {
              @for (option of filteredUlbs | async; track $index) {
              <mat-option [value]="option?.name" (click)="dashboardNav(option.code)">
                <small>{{ option?.name }}</small>
                <!-- <small class="text-secondary">
                  |
                  {{
                  option.type === 'ulb'
                  ? option.ulbType.name
                  : (option.type | titlecase)
                  }}
                </small> -->
              </mat-option>
              }

              @if (noDataFound) {
              <mat-option class="text-muted" disabled>
                No results found for your search.
              </mat-option>
              }
              }
            </mat-autocomplete>
          </form>
        </div>
        }

        <!-- <div class="col-md-6 col-sm-12">

  <div class="input-group inp-grp selected-list" *ngIf="(selected_state != 'India')">
    <select class="c-btn expo-drp-in  border-0" id="inputGroupSelect01"
      (change)="selectCity($event.target.value)">
      <option value="null" selected>{{cityData.length>0 ?  'Select City' : 'Loading...' }}</option>

      <option [selected]="selectedDistrictCode == item.code" value="1" *ngFor="let item of cityData"
        [value]="item.code">{{item.name}}
      </option>
    </select>
  </div>
</div> -->
      </div>
      <div class="expo-pd">
        @if (!cid) {
        <div class="vl ps-1"></div>
        }
        <div class="c-n ps-0">
          <span class="pointer" [ngClass]="{ dim: stateDim }" (click)="stateLevelData()">
            {{ selected_state ? selected_state : 'India' }}
          </span>
        </div>
        <div class="c-n ps-0">
          @if (cid) {
          <span class="vl ms-3 ps-1">
            @if (cityName !== '' && selected_state !== 'India') {
            <span (click)="cityLevelData()" class="pointer" [ngClass]="{ dim: !stateDim }">
              {{ cityName }}</span>
            }
          </span>
          }
        </div>
        @if (!dataForVisualization.loading) {
        <div class="row mt-4">
          <div class="col-sm-6 col-md-4 col-6 pe-xl-5 mt-2">
            @if (!stateDim) {
            <div class="num-data">
              {{ dataForVisualization.coveredUlbCount || 0 | inrCurrency: { currencyTypeInUser: 0 } }}
            </div>
            }
            @if (stateDim) {
            <div class="num-data">
              {{ cityInfo?.population ? (cityInfo?.population / 1000 | number: "1.0-0") : 0 }}k
            </div>
            }
            @if (!stateDim) {
            <div class="num-text my-1">
              <!-- ULBs With Financial Data -->
              ULBs with atleast 1 Year of Financial Data
            </div>
            }
            @if (stateDim) {
            <div class="num-text my-1">Population</div>
            }
          </div>
          <div class="col-sm-6 col-md-4 col-6 pe-xl-5 mt-2">
            @if (!stateDim) {
            <div class="num-data">
              {{ dataForVisualization.financialStatements || 0 | inrCurrency: { currencyTypeInUser: 0
              } }}
              <span mat-raised-button [matTooltip]="dataAvailTooltip" matTooltipClass="my-tooltip"
                aria-label="Button that displays a tooltip with a custom message"><img
                  src="../../../../assets/images/ticks/info_black_18dp.svg" alt="tick"></span>
            </div>
            }
            @if (stateDim) {
            <div class="num-data">
              {{ cityInfo?.area ? (cityInfo?.area | number: "1.0-0") : 0 }} Sq KM
            </div>
            }
            @if (!stateDim) {
            <span class="data-point-name num-text my-1">
              Financial Statements for FYs
              <span class="num-text my-1" [ngClass]="{ 'loading-value': !financialYearTexts }">
                {{ financialYearTexts?.min || "2015-16" }}
              </span> to
              <span class="num-text my-1" [ngClass]="{ 'loading-value': !financialYearTexts }">
                {{ financialYearTexts?.max || "15-16" }}
              </span>
            </span>
            }
            @if (stateDim) {
            <div class="num-text my-1">Area</div>
            }
          </div>
          <div class="col-sm-6 col-md-4 col-6 pe-xl-5 mt-2" style="padding-right: 2rem !important">
            @if (!stateDim) {
            <div class="num-data">
              {{ stateselected && creditRating ? creditRating[stateselected.name] || 0 :
              creditRating['total'] }}
            </div>
            }
            @if (stateDim) {
            <div class="num-data">
              {{ cityInfo?.area > 0 ? (cityInfo?.population / cityInfo?.area | number: "1.0-0") : 0 }}/ Sq
              KM
            </div>
            }
            @if (!stateDim) {
            <div class="num-text my-1">
              ULBs Credit Rating Reports
            </div>
            }
            @if (stateDim) {
            <div class="num-text my-1">Population Density</div>
            }
          </div>
          <div class="col-sm-6 col-md-4 col-6 pe-xl-5 mt-4">
            @if (!stateDim) {
            <div class="num-data">
              {{ creditRatingAboveBBB_Minus | inrCurrency: { currencyTypeInUser: 0 } }}
            </div>
            }
            @if (stateDim) {
            <div class="num-data">
              {{ cityInfo?.wards ? cityInfo?.wards : 0 }}
            </div>
            }
            @if (!stateDim) {
            <div class="num-text my-1">
              ULBs With Investment Grade Rating
            </div>
            }
            @if (stateDim) {
            <div class="num-text my-1">Wards</div>
            }
          </div>
          <div class="col-sm-6 col-md-4 col-6 pe-xl-5 mt-4">
            @if (!stateDim) {
            <div class="num-data">
              {{ highestDataAvailability }}%
            </div>
            }
            @if (stateDim) {
            <div class="num-data">
              {{ cityInfo?.dataAvailable }}
            </div>
            }
            @if (!stateDim) {
            <div class="num-text my-1">
              Highest Financial Data Availability is in FY {{highestYear}}
            </div>
            }
            @if (stateDim) {
            <div class="num-text my-1">
              Years of Financial Statements
            </div>
            }
          </div>
          <div class="col-sm-6 col-md-4 col-6 pe-xl-5 mt-4">
            @if (!stateDim) {
            <div class="num-data">
              {{ dataForVisualization.totalMunicipalBonds || 0 | inrCurrency: { currencyTypeInUser: 0
              } }}
            </div>
            }
            @if (!stateDim) {
            <div class="num-text my-1">
              Municipal Bond Issuances Of Rs. {{ bondIssueAmount | inrCurrency: { currencyTypeInUser: 0
              } }} Cr With
              Details
            </div>
            }
          </div>
        </div>
        }
        @if (dataForVisualization.loading) {
        <div class="preloader-wrapper">
          <app-pre-loader></app-pre-loader>
        </div>
        }
      </div>
      <div class="expo-pd py-0">
        <div class="row" style="align-items: baseline">
          <div class="col-sm-8">
            @if (!selected_state) {
            <div class="info-drill mt-1">
              <img src="../../../../assets/images/ticks/info_black_18dp.svg" class="info-icon" alt="" />
              Click on
              the map or
              use the drop down to drill down to a state or city
            </div>
            }
            @if (!stateDim && selectedStateCode) {
            <button class="btn view-ds-btn" (click)="viewDashboard()">
              View State Dashboard
            </button>
            }
            @if (stateDim) {
            <button class="btn view-ds-btn" (click)="viewCityDashboard()">
              View City Dashboard
            </button>
            }
            <!-- <button class="btn view-ds-btn" (click)="openStateDashboard($event.target)" *ngIf="(selected_state != 'India')">View State Dashboard</button> -->
          </div>
          <div class="col-sm-4">
            <div class="up-text pt-4">
              Last updated on: {{ date | date: "short" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <p
class="text-center national-map-click-guide"
*ngIf="!currentStateInView && nationalLevelMap"
>
Click on any state to view state and ULB related data
</p> -->