.explore-data-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 767px) {
  .explore-data-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

::ng-deep .multiline-tooltip {
  white-space: pre-line;
}