<div class="container container-cnt" *ngIf="isCardShow && !showIframe">
  <div class="row" style="margin: 1rem auto 1rem auto">
    <div class="col-sm-12" style="display: flex">
      <a (click)="openScorePer(item)" *ngFor="let item of cardData">
        <div class="card">
          <img [src]="item?.imgUrl" class="card-img-top" [alt]="item.label" />
          <div class="card-body">
            <p class="card-text">
              {{ item?.label }}
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div *ngIf="showIframe">
  <iframe
    src="https://janaagraha-space.ispring.com/s/embed_player/18b16350-8f00-11ec-9496-cef1e7d8875f"
    width="560"
    height="315"
    frameborder="0"
    border="0"
    scrolling="auto"
    allowtransparency="true"
    allowfullscreen="1"
    style="border: none; background-color: transparent"
  ></iframe>
</div>

<div *ngIf="!isCardShow && !showIframe">
  <div class="row">
    <div class="col-sm-12 mt-3">
      <a
        class="h-a"
        style="text-decoration: none"
        routerLink="/resources-dashboard/learning-center/toolkits/introduction"
      >
        <span class="heading"> Property Tax Toolkit</span>
      </a>
    </div>
  </div>
  <p class="text-center my-2">Supported by the <a style="color: #3F48CC;" class="fw-bold" target="_blank" href="https://www.worldbank.org/en/programs/the-global-tax-program">Global Tax Program</a> of the World Bank</p>
  <div class="container container-cnt mb-3">
    <div class="tabs" style="margin: 0.5rem auto">
      <ul role="tablist" class="nav nav-pills" aria-label="Tabs">
        <li class="nav-item" *ngFor="let item of subTabData; let i = index">
          <a
            [routerLink]="item?.link"
            routerLinkActive="active"
            role="tab"
            class="nav-link"
            [id]="'id_' + i"
          >
            <span>{{ item?.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <router-outlet></router-outlet>
  <!-- <app-score-per></app-score-per> -->
</div>
