<div class="container-fluid">
    <div class="container-cnt bg-white" style="justify-content: center" *ngIf="data.length > 0">
        <!-- <div class="row">
      <div
        *ngIf="sticky == true"
        class="col-sm-12"
        style="
          position: fixed;
          top: 0;
          background-color: white;
          z-index: 200;
          width: 100vw;
        "
      >
        <div
          class="px-4"
          style="
            background-color: #e5fff1;
            color: #0fa755;
            text-align: center;
            width: 22rem;
            margin: 0 auto;
            border-radius: 6px;
            font-size: 0.8rem;
            margin-top: 10px;
            margin-bottom: 10px;
          "
        >
          {{ stateName }} Data Availability - {{ percentValue?.toFixed(2) }}%
          (2020-2021)
        </div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li
            *ngFor="let tab of data; let i = index"
            class="nav-item"
            role="presentation"
          >
            <button
              [ngClass]="{
                roundEdge: i == 0,
                roundEdge2: i == data.length - 1,
                active: i == 0
              }"
              class="nav-link pd"
              [id]="tab.name"
              data-bs-toggle="pill"
              [data-bs-target]="tab"
              type="button"
              role="tab"
              [aria-controls]="tab"
              (click)="changeTab($event)"
              value="{{ tab | json }}"
            >
              {{ tab.name }}
            </button>
          </li>
        </ul>
      </div>
    </div> -->
        <div class="row">
            <div class="col-sm-12">
                <div [ngClass]="{ stickyClass: sticky == true }">
                    <!-- <div id="nav" class="col-sm-12"> -->
                    <div [ngSwitch]="DashBoardType" [ngClass]="{ stickyClass: sticky == true }">
                        <div class="d-flex justify-content-center" *ngSwitchCase="'state'">
                            <div class="px-4 dataAvailabiltyTab">
                                {{ stateName }} Data Availability - {{ percentValue?.toFixed(2) }}% ({{ selectedValue
                                }})
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-pills mb-3 smallScreenPosition" id="pills-tab" role="tablist"
                        style="margin-top: 20px;">
                        <li *ngFor="let tab of data; let i = index" class="nav-item bg-white" role="presentation">
                            <button [ngClass]="{
                  roundEdge: i === 0,
                  roundEdge2: i === data.length - 1,
                  active: i === 0
                }" class="nav-link pd" [id]="tab.name" data-bs-toggle="pill" [attr.data-bs-target]="tab" type="button"
                                role="tab" [attr.aria-controls]="tab" (click)="changeTab($event)"
                                value="{{ tab | json }}">
                                {{ tab.name }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-cnt tab-content" *ngIf="activeFilter.length > 0 && !noDataFound" id="pills-tabContent"
        style="padding: 0; margin-left: 32px">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills2 mb-3" id="pills-tab" role="tablist">
                    <li *ngFor="let tab of activeFilter; let i = index" class="nav-item pl-1" role="presentation">
                        <!-- <button class="nav-link2 pd2" [ngClass]="{ active: i === 0 }" [id]="tab.name"
                            data-bs-toggle="pill" [data-bs-target]="tab.name" type="button" role="tab" [aria-controls]="tab.name"
                            (click)="changeTab($event, true)" value="{{ tab | json }}">
                            {{ tab.name }}
                        </button> -->
                        <button class="nav-link2 pd2" [ngClass]="{ active: i === 0 }" [id]="tab.name"
                            data-bs-toggle="pill" [attr.data-bs-target]="'#' + tab.id" type="button" role="tab"
                            [attr.aria-controls]="tab.id" (click)="changeTab($event, true)" [value]="tab | json">
                            {{ tab.name }}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div [ngSwitch]="activeHeader">
            <div *ngSwitchCase="'Financial Indicators'">
                <div [ngSwitch]="DashBoardType">
                    <div *ngSwitchCase="'city'">
                        <app-filter-data [yearListForDropDown]="yearListForDropDown" [mySelectedYears]="mySelectedYears"
                            [currentUlb]="cityId" [data]="innerActiveTab"></app-filter-data>
                    </div>
                    <!-- <div *ngSwitchCase="'state'">
                        <app-state-filter-data (valueSelected)="onValueSelected($event)" [selectedStateId]="stateId"
                            [data]="innerActiveTab">
                        </app-state-filter-data>
                    </div> -->
                </div>
            </div>
            <div *ngSwitchCase="'Service Level Benchmark'">
                <div [ngSwitch]="DashBoardType">
                    <div *ngSwitchCase="'city'">
                        <!-- <app-slb-charts [year]="mySelectedYears[0]" [cityId]="cityId" [data]="innerActiveTab">
                        </app-slb-charts> -->
                    </div>
                    <!-- <div *ngSwitchCase="'state'">
                        <app-state-filter-data [data]="innerActiveTab" [stateServiceLabel]="true"
                            [selectedStateId]="stateId"></app-state-filter-data>
                    </div> -->
                </div>
            </div>
            <div *ngSwitchCase="'Balance Sheet & Income Statement'">
                <div class="" *ngIf="!noDataFound">
                    <!-- <app-balance-table [cityId]="cityId" [data]="innerActiveTab"
                        [cityName]="cityName"></app-balance-table> -->
                </div>
                <div *ngIf="noDataFound" style="" class="no-data">
                    <img src="../../../../assets/images/sad.svg" height="82px" width="89px" alt="sad" />
                    <div style="" class="t-1">
                        No Data Found for chosen options
                    </div>
                    <p style="" class="t-2">
                        Please refer Resources section for Raw files uploaded by ULB.
                    </p>
                </div>
            </div>
            <div *ngSwitchCase="'innerTab5'">
                <h1>Balance Sheet and tax</h1>
            </div>
            <div *ngSwitchCase="'Borrowing & Credit Rating'">
                <div *ngIf="innerActiveTab.name === 'Borrowing'">
                    <div [ngSwitch]="DashBoardType">
                        <div *ngSwitchCase="'city'">
                            <!-- <app-accordion-to-table [value]="'city'"></app-accordion-to-table> -->
                        </div>
                        <div *ngSwitchCase="'state'">

                            <!-- <app-accordion-to-table [value]="'state'"></app-accordion-to-table> -->
                        </div>
                    </div>
                </div>
                <div *ngIf="innerActiveTab.name === 'Credit Rating'">
                    <!-- <div [ngSwitch]="DashBoardType">
            <div *ngSwitchCase="'city'"> -->
                    <div [ngSwitch]="DashBoardType">
                        <div *ngSwitchCase="'state'">
                            <!-- <app-new-credit-rating></app-new-credit-rating> -->
                        </div>
                        <div *ngSwitchCase="'city'">
                            <!-- <app-new-city-credit-rating></app-new-city-credit-rating> -->
                        </div>
                    </div>
                    <!-- </div>

          </div> -->
                </div>
            </div>
            <div *ngSwitchCase="'Infrastructure & Borrowing'">
                <div [ngSwitch]="DashBoardType">
                    <div *ngSwitchCase="'state'">
                        <p>inf bororowing</p>
                        <div *ngIf="innerActiveTab.name === 'Borrowing'">
                            <!-- <app-accordion-to-table></app-accordion-to-table> -->
                        </div>
                        <div *ngIf="innerActiveTab.name === 'Credit Rating'">
                            <!-- <app-new-credit-rating></app-new-credit-rating> -->
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'Infrastructure Projects'">
                <div [ngSwitch]="DashBoardType">
                    <div *ngSwitchCase="'city'">
                        <!-- <app-municipality-bonds [cityId]="cityId" (changeTab)="onChangeTab($event)" [isUA]="isUA"
                            [mouTabDescription]="tabDesc">
                        </app-municipality-bonds> -->

                        <!-- <app-pdf-card-viewer [cityId]="cityId" [tabDescription]="tabDesc"></app-pdf-card-viewer> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

    <!-- Displaying Table on click of borrowing and credit tab -->
    <!-- <app-accordion-to-table ></app-accordion-to-table> -->
</div>