<!-- <div class="d-flex justify-content-center mt-3" *ngIf="show">
    <div class="spinner-grow me-2" [ngClass]="'text-' + colorSequence[i]" role="status" *ngFor="let item of [].constructor(dots);let i = index;">
        <span class="sr-only">Loading...</span>
    </div>
</div> -->
<!-- <div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
    <div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-gray-100"></div>
</div> -->
<div class="loading">Loading&#8230;</div>