@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.hero {
    width: 100%;
    padding: 6.5rem 0;
    // height: 70vh;
    /* background: transparent url('../../../../assets/new_dashBord_ftr_hdr/slb/slb-dashboard-assets/bg_cover@2x.jpg') 0% 0% no-repeat padding-box;
    opacity: 1; */
    background: url("../../../../assets/new_dashBord_ftr_hdr/slb/slb-dashboard-assets/bg_cover@2x.jpg") no-repeat center;
}

.resetButton {
    background-color: white;
    border-radius: 7px;
    border: 1px solid lightgray;
    height: 37px;
    width: 5rem;
    opacity: 0.8;
    color: #E67E15;
    border-color: #E67E15;
}

button.resetButton:hover {
    background-color: rgb(226, 245, 246);
}

.title {
    // padding-top: 7.5rem;
    color: #ffffff;
    font-size: $font-size-base * 2;
    font-family: "Archivo";
    font-weight: 600;
}

@media only screen and (max-width: 800px) {
    .table>thead>tr>th:first-child {
        position: sticky;
        left: 0;
        z-index: 99;
        background-color: #f7f9ff;
    }

    .table>tbody>tr>td:first-child {
        position: sticky;
        left: 0;
        z-index: 99;
        background-color: white;
    }

    .responsiveHeading {
        text-align: center;
    }

    .customText {
        padding-bottom: 10%;
    }

    .stateMap {
        border-radius: inherit;
        position: absolute;
        bottom: 0px;
        background: #f8f9ff !important;
        z-index: 8;
        display: inline-block;
        height: 100%;
        max-height: 100%;
        transition: all 0.8s;
        padding-top: 2%;
        width: 100% !important;
    }
}

.logo {
    margin-top: 2.25rem;
}

.sec-splash {
    width: 100%;
    height: 100%;
    background: url("../../../../assets/new_dashBord_ftr_hdr/slb/slb-dashboard-assets/splash@2x.jpg") no-repeat center;
}

.splash-title {
    padding-top: 3.75rem;
    font-family: "Montserrat";
    font-weight: 700;
    color: #0f1f40;
    font-size: $font-size-base * 2.5;
}

.splash-subTitle {
    padding-top: 0.625rem;
    font-family: "Archivo";
    font-weight: 600;
    color: #070707;
    font-size: $font-size-base * 2.5;
}

.sc {
    padding-top: 1.625rem;
    font-size: $font-size-base * 1;
    font-family: "Archivo";
    font-weight: 500;
    color: #070707;
}

.sbd-Title {
    padding-top: 1.625rem;
    font-size: $font-size-base * 1.875;
    font-family: "Archivo";
    font-weight: 800;
    color: #0f1f40;
}

.sbd-content {
    padding-top: 2.5rem;
    font-size: $font-size-base * 1;
    font-family: "Archivo";
    font-weight: 400;
    color: #6e7281;
}

.sbd-national {
    margin-top: 2rem !important;
}

.nav-item {
    background: #f7f8ff 0% 0% no-repeat padding-box;
    border: 1px solid #d9dce6;
    text-align: center;
}

.nav-item:first-child {
    background: #f7f8ff 0% 0% no-repeat padding-box;
    border: 1px solid #d9dce6;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nav-item:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

// .d-tableCont {
//   padding-top: 4rem;
//   padding-left: 6rem;
// }
// map section styles start
::ng-deep .tooltip-custom-1 {
    transform: translateY(-4000px);
}

::ng-deep .tooltip-custom {
    background: white;
    border: 1px solid black;
    color: black;
    position: absolute;
}

.stateMap {
    border-radius: inherit;
    position: absolute;
    //  left: 5px;
    bottom: 0px;
    background: #f8f9ff !important;
    z-index: 8;
    display: inline-block;
    width: 98%;
    height: 100%;
    max-height: 100%;
    transition: all 0.8s;
    padding-top: 2%;

    @media screen and (max-width: 768px) {
        width: 99vw;
    }

    // border-left: inherit;
}

.stateMapContainer {
    padding: 0px;
    position: relative;
    min-height: 530px;

    @media (max-width: 600px) {
        min-height: 550px;
        //  margin-left: 10px;
    }

    // border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    background: white;
}

div.miniMap {
    position: absolute !important;
    background: transparent;
    transform-origin: 0 100%;
    transform: scale(0.2) !important;
    bottom: 10% !important;
    left: 1% !important;
    z-index: 999;
    display: none;
}

::ng-deep.miniMapOverlay {
    background: transparent;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    z-index: 9999;
}

#districtMapContainer {
    padding: 0px;
    width: 100%;
    // margin-top: 1%;
    position: absolute;
    top: 0%;
    height: 100%;

    @media (max-width: 768px) {
        margin-top: 0%;
        // height: 100%;
    }

    // position: absolute;
    border-radius: inherit;
    border-left: inherit;
    // transform: translateY(9%);
}

::ng-deep div.preLoaderWrapper[_ngcontent-c7] {
    padding: 0% 1%;
}

.skeletonWrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ulbSelectDropdown {
    z-index: 9;
    position: absolute;
    right: -3.5%;
    top: 11%;
    width: 50%;
    background: transparent;
    max-width: 259.199px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.regionalDetails {
    min-width: 197px;
    width: 92%;
    background: white;
    border: 0.1px solid rgb(134, 134, 134);
    border-radius: 5px;
    position: absolute;
    right: 65%;
    padding: 1% 1%;
    box-shadow: 1px 4px 5px 3px #e4e0e0;
    transition: 1s all;
    z-index: 1;
}

.regionalDetails2 {
    width: fit-content;
    display: flex;
    margin-top: 2%;
    transform: scale(0.8);
}

.ulbDetails {
    transform: scale(0.8);
    margin-top: -10%;

    &>span {
        display: block;
    }
}

.selectedEntity {
    position: absolute;
    z-index: 999;
    padding-left: 2%;
    text-decoration: underline;
    font-weight: 500;
    display: inherit;
    margin-top: 3.8rem;
    width: 100%;
    top: 0;
    left: 0;

    @media screen and (max-width: 768px) {
        margin-top: 0.5rem;
    }
}

.bold {
    font-weight: 600;
}

#details>p {
    background: white;
}

.overlay {
    display: block;
    position: absolute;
    width: 200px;
    height: 600px;
    bottom: 50px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    // z-index: 9;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progress {
    width: 100px;
    height: 100px;
    background: none;
    position: relative;
    display: flex;
    font-size: 0.6em;
    align-items: center;
    justify-content: center;
    transform: scale(0.5);
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    position: relative;
    top: 0;
    left: 0;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #ffc500;
}

::ng-deep.unfilled circle {
    stroke: rgba(180, 180, 180, 0.247) !important;
}

.colorText {
    color: #8bd2f0;
}

// ::ng-deep .mat-option-text {
//   font-size: 1.2rem;
// }
// ::ng-deep .mat-optgroup-label {
//   font-size: 1.5rem;
// }
::ng-deep .leaflet-zoom-animated svg g {
    transform: translateX(-5%) !important;
}

// ::ng-deep mat-option.mat-option {
//   height: 40px;
// }
// ::ng-deep label.mat-optgroup-label {
//   height: 38px;
// }
// ::ng-deep input.mat-input-element {
//   font-size: 1.7rem;
// }
::ng-deep div#cdk-overlay-0.cdk-overlay-pane {
    min-width: 200.1px !important;
}

::ng-deep .analytics-map {
    .leaflet-bottom {
        transform: scale(0.55);
        width: 155px;
        font-size: 0.7vw;
    }

    .leaflet-control {
        width: fit-content;
        transform: scale(1.6) translateY(-50%);
        position: absolute;
        bottom: 0px;
        background: transparent;

        @media screen and (max-width: 1024px) and (min-width: 560px) {
            font-size: $font-size-base * 0.75;
        }

        @media screen and (max-width: 551px) {
            font-size: 10px;
            width: 100%;
            margin: 0 0;
            left: -68px;
            padding: 0;
            margin-left: 0 !important;
        }

        @media screen and (min-width: 410px) and (max-width: 415px) {
            width: 65%;
            left: -40px;
        }

        @media screen and (max-width: 405px) and (min-width: 320px) {
            font-size: $font-size-base * 0.5;
            width: 51%;
        }

        @media screen and (max-width: 319px) {
            display: none;
        }
    }
}

::ng-deep {
    .leaflet-control-attribution {
        display: none;
    }

    // .mat-form-field-flex {
    //   border: 1.2px solid #3a3939;
    //   border-radius: 0px;
    // }
    .cuppa-dropdown {
        position: relative;
        margin-top: -2px;
    }

    .map-click-guide {
        position: absolute;
        bottom: 3vh;
    }

    .national-map-click-guide {
        margin-left: 13%;
        width: fit-content;
        margin-top: 2%;
        bottom: 1px;
        font-size: 1vw;

        @media screen and (max-width: 1024px) and (min-width: 560px) {
            font-size: $font-size-base * 0.75;
        }

        @media screen and (max-width: 551px) {
            font-size: $font-size-base * 0.75;
            margin: auto;
        }
    }

    .state-map-click-guide {
        text-align: center;
        left: 18%;
        margin: 2% auto;
        position: absolute;
        bottom: 1px;
        font-size: 0.8vw;

        @media screen and (max-width: 768px) {
            font-size: 2.8vw;
        }
    }

    .map-click-guide {
        right: 5vw;
    }
}

.customDropdown {
    min-height: 70.84px;
}

// @media (max-width: 777px) {
//   .national-map-click-guide {
//     color: yellow;
//   }
// }
// @media (min-width: 777px) {
//   .national-map-click-guide {
//     color: green;
//   }
// }
// @media (min-width: 1024px) {
//   .national-map-click-guide {
//     color: red;
//   }
// }
@media screen and (max-width: 768px) {
    ::ng-deep .mat-option-text {
        white-space: nowrap;
    }
}

:ng-deep {
    .leaflet-control-container {
        .leaflet-top.leaflet-left {
            left: 10% !important;
            top: 5% !important;
        }
    }
}

::ng-deep .leaflet-pane>svg path.leaflet-interactive {
    // stroke: #ffffff !important;
    stroke: #9f9d9d !important;
    stroke-width: 2px;
}

::ng-deep #districtMapId .leaflet-pane>svg path.leaflet-interactive {
    filter: drop-shadow(0px 1px 0px #1e3571) drop-shadow(0px 2px 0px #1e3571) drop-shadow(0px 3px 0px #1e3571) drop-shadow(0px 4px 0px #1e3571) drop-shadow(0px 5px 0px #1e3571) drop-shadow(0px 6px 0px #1e3571) drop-shadow(0px 7px 0px #1e3571);
    stroke-width: 0 !important;
}

// css for new changes.............
::ng-deep .selected-list {
    border-radius: 8px !important;
    // width: 80%;
    // background-color: #E9ECF7;
}

::ng-deep .c-remove,
::ng-deep .clear-all {
    display: none;
}

@media screen and (max-width: 520px) {
    .inp-grp {
        margin-top: 0.8rem;
    }
}

.heading {
    font: normal normal 600 26px/28px "Archivo";
    letter-spacing: 0px;
    color: #0f1f40;
}

.form-select {
    // background: #FFFFFF 0% 0% no-repeat padding-box;
    // border: 1px solid #FFCF8E;
    // border-radius: 6px 6px 0px 0px;
    border: 1px solid #999;
    border-radius: 6px;
    font: normal normal 600 13px/14px "Archivo";
    letter-spacing: 0px;
    color: #000000;
    padding: 0.75rem 2.25rem 0.75rem 0.75rem;
}

.nav {
    justify-content: center;
    flex-wrap: nowrap;
}

// .nav-item {
//   background: #f7f8ff 0% 0% no-repeat padding-box;
//   border: 1px solid #d9dce6;
//   text-align: center;
// }
// .nav-item:first-child {
//   background: #f7f8ff 0% 0% no-repeat padding-box;
//   border: 1px solid #d9dce6;
//   border-top-left-radius: 8px;
//   border-bottom-left-radius: 8px;
// }
// .nav-item:last-child {
//   border-top-right-radius: 8px;
//   border-bottom-right-radius: 8px;
// }
li>a.active,
li>a.active:active {
    background-color: #e67e15 !important;
    color: #fff;
}

.popActive {
    background-color: #e67e15 !important;
    color: #fff;
}

.nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: inherit;
}

.nav>li>a {
    padding: 0.8rem 2.5rem;
}

.table {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e4e4e4;
    border-radius: 5px 5px 0px 0px;
}

.table> :not(:first-child) {
    border-top: none;
}

thead>tr>th {
    border-right: 1px solid #e4e4e4;
    background: #f7f9ff 0% 0% no-repeat padding-box;
    font: normal normal 600 14px/14px "Archivo";
    letter-spacing: 0px;
    color: #0f1f40;
}

.table>tbody>tr:first-child {
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background: #ffffff;
    font: normal normal 600 14px/14px "Archivo";
    letter-spacing: 0px;
    color: #0f1f40;
}

.table>tbody>tr>td {
    // border: none;
    border-right: 1px solid #e4e4e4;
    font: normal normal 500 14px/15px "Archivo";
    letter-spacing: 0px;
    color: #0f1f40;
}

th,
td {
    padding: 15px 20px !important;
}

@media screen and (max-width: 428px) {

    .table-con>.table>thead>tr>th:first-child,
    .table-con>.table>tbody>tr>td:first-child {
        position: sticky;
        left: 0;
        z-index: 99;
        background-color: #f7f9ff;
    }
}

.inp-grp {
    // width: 40%;
    display: inline-flex;
}

.expo-drp-in {
    //  background: #E9ECF7 !important;
    border-radius: 8px !important;
    font: normal normal 600 14px/15px "Archivo";
    letter-spacing: 0px;
    color: #000000;
}

.map-reset {
    font: normal normal bold 14px/15px "Archivo";
    letter-spacing: 0px;
    color: #e67e15;
}

@media screen and (max-width: 800px) {

    // .heading {
    //       text-align: center;
    // }
    .form-select {
        margin-top: 0rem;
    }
}

.nav-pills2 .nav-link2 {
    border: 1px solid #d9dce6;
    margin: 0.5rem;
    height: auto;
    text-align: center;
    // border: 1px solid #9299b2;
    border-radius: 6px;
    width: max-content;
    font: normal normal 400 14px/15px "Archivo";
    letter-spacing: 0px;
    color: #8b92a8;
    background-color: #fff;
}

.nav-link2 {
    border: 1px solid #d9dce6;
    border-radius: 0px;
    min-width: 4rem;
    min-height: 2.5rem;
    text-align: center;
    letter-spacing: 0px;
    color: #8b92a8;
    opacity: 1;
    background-color: #ffffff;
}

.nav-link2.active {
    border: 1px solid #f2991f !important;
    color: #e57504 !important;
    background-color: #fff1e3 !important;
    box-shadow: 0px 2px 8px #fadaad !important;
}

.background-color {
    background-color: #f1f8ff;
}

.back-nav {
    padding-left: .2rem;
    color: #3e5db1;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.table-column-left-align {
    text-align: left;
    padding-left: 40px !important;
}

.table-column-right-align {
    text-align: right;
    padding-right: 50px !important;
}

h1 {
    font: normal normal 800 30px/32px "Archivo";
    letter-spacing: 0px;
    color: #0f1f40;
}

.d-a {
    background: #e5fff1 0% 0% no-repeat padding-box;
    border-radius: 6px;
    width: max-content;
    font: normal normal 500 14px/15px "Archivo";
    letter-spacing: 0px;
    color: #0fa755;
    padding: 10px 15px;
    text-align: center;
}