<div class="verify-header">
    <h2 class="verify-title">FY 2021-22</h2>
    <p>Already available on City Finance</p>
    <!-- <span class="verify-modal-close" (click)="closeDialog()"><img src="../../../assets/images/modal-close.png" -->
    <span class="verify-modal-close" (click)="onNoClick()"><mat-icon>close</mat-icon></span>
</div>
<mat-dialog-content>
    <div class="indro-block intro-box-in-modal">
        <p>Instructions:</p>
        <ol>
            <li>Annual Financial Statement should include: Income and Expenditure Statement, Balance Sheet,
                Schedules to IES and BS, Auditor's Report and if available Receipts & Payments Statement.</li>
            <li>All documents pertaining to a specific financial year should be combined into a single PDF
                before uploading & should not exceed 20 MB.</li>
            <li>Please use the following format for naming the documents to be uploaded:
                nameofthedocument_FY_ULB Name. <strong>Example: Annual accounts_15-16_Jaipur municipal
                    corporation</strong></li>
        </ol>
    </div>
    <div class="statement-block-row block-row-in-modal">
        <h5>FY 2021-22</h5>
        <div class="uploaded-files">
            <div class="uploaded-block already-availabe">
                <!-- <div class="media media-in-modal">
                    <div class="align-self-center upload-doc-icon">
                        <mat-icon class="pdf">picture_as_pdf</mat-icon>
                    </div>
                    <div class="media-body">
                        <div class="upload-doc-label">financial document 2022-23.pdf</div>
                        <p class="file-size">1.5 MB</p>
                    </div>
                    <div class="align-self-center delete-doc-icon">
                        <button class="primary-btn-2">
                            <mat-icon>cloud_download</mat-icon> Download</button>
                    </div>
                </div>
                <div class="media media-in-modal">
                    <div class="align-self-center upload-doc-icon">
                        <mat-icon class="pdf">picture_as_pdf</mat-icon>
                    </div>
                    <div class="media-body">
                        <div class="upload-doc-label">financial document 2022-23.pdf</div>
                        <p class="file-size">1.5 MB</p>
                    </div>
                    <div class="align-self-center delete-doc-icon">
                        <button class="primary-btn-2">
                            <mat-icon>cloud_download</mat-icon> Download</button>
                    </div>
                </div> -->
                <div class="media media-in-modal" *ngFor="let file of data.year.fileAlreadyOnCf">
                    <div class="align-self-center upload-doc-icon">
                        <mat-icon class="pdf">picture_as_pdf</mat-icon>
                    </div>
                    <div class="media-body">
                        <div class="upload-doc-label">{{file.name}}</div>
                        <p class="file-size">{{file.size}}</p>
                    </div>
                    <div class="align-self-center delete-doc-icon">
                        <a class="ms-2 primary-btn-2" style="text-decoration: none;" [href]="file.url"
                            download><mat-icon>cloud_download</mat-icon> Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accept-return-block">
        <div class="info">
            If you feel the documents are correct, select the "Accept Existing Document" option and proceed with
            acceptance. If the existing documents require corrections or do not meet your requirements, please
            select the return option and provide a reason for the return.
        </div>
        <!-- <div class="radio-group">
            <label class="radio-inline">
                <input type="radio" name="options" value="option1" checked>
                <span class="radio-custom"></span>
                Accept Existing Document
            </label>
            <label class="radio-inline">
                <input type="radio" name="options" value="option2">
                <span class="radio-custom"></span>
                Accept Existing Document
            </label>
        </div> -->
        <div class="d-flex justify-content-center">

            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="Accept">Accept Existing Document</mat-radio-button>
                <mat-radio-button value="Reject">Reject Existing Document</mat-radio-button>
            </mat-radio-group>
            <!-- <app-radiobutton [field]="data.year" [group]="data.group"></app-radiobutton> -->
        </div>
        <div>
            <app-file [field]="data.year" [group]="data.group"></app-file>
        </div>
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary">Accept</button>
        </div>
    </div>
</mat-dialog-content>