.custom-snackbar-success {
  --mdc-snackbar-container-color: green;
  --mat-mdc-snack-bar-button-color: white;
}
.mdc-button .mdc-button__label{
    color: #fff;
}
.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper{
  padding: 0 5px !important;
}
.mat-mdc-form-field-hint-wrapper {
  position: relative !important;
  top: -20px !important;
}
// .custom-snackbar-success {
// 	background-color: #4caf50; /* Green */
// 	color: white;
//   }
  
//   .custom-snackbar-error {
// 	background-color: #f44336; /* Red */
// 	color: white;
//   }
  
//   .custom-snackbar-info {
// 	background-color: #2196f3; /* Blue */
// 	color: white;
//   }