.custom-snackbar-success {
  --mat-snackbar-container-color: green;
  --mat-mdc-snack-bar-button-color: white;
}

.mdc-button .mdc-button__label {
  color: #fff;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0 5px !important;
}

.mat-mdc-form-field-hint-wrapper {
  position: relative !important;
  top: -20px !important;
}

.mat-mdc-tab-header {
  --mat-tab-label-text-font: var(--ff-base);
  --mat-tab-label-text-size: 14px;
  --mat-tab-label-text-tracking: 0.0892857143em;
  --mat-tab-label-text-line-height: 36px;
  --mat-tab-label-text-weight: 500;
}