:host {
  display: block;
  min-height: 100%;
  overflow-x: clip;
}

.component-shell {
  position: relative;
  background-color: var(--color-primary-accent);
}

.component-menu-col {
  flex: 0 0 auto;
  min-width: 0;
  background-color: var(--color-primary);
}

.component-menu {
  display: block;
  position: sticky;
  top: 68px;
  z-index: 2;
}
