.card {
    .card-header {
        padding: 12px;
        font-size: 30px;
        background-color: white;
    }

    .card-body {}
}

section .container {
    background-image: url('/assets/fiscal-rankings/performance-four-m-bg.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 50%;
}