<div fxLayout="column" fxLayoutAlign="center stretch">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ field.label }}
      </mat-card-title>
    </mat-card-header>
    dfgdfg 123
    @for (arrGroup of getSubItems(field.name); track arrGroup; let i = $index) {
      <div class="wrapper">
        <!-- ----{{field | json}}----------- -->
        @for (field of field?.formArrays[i]; track field; let idx = $index) {
          <div>
            <!-- <div [className]="(idx==0)?'box1':'box2'" dynamicField [field]="field" [group]="arrGroup">
          </div> -->
          <!-- {{field | json}}-----  -->
          <!-- {{arrGroup}}----- -->
          @switch (field.type) {
            <!--
            @case ('input') {
              <app-input [field]="field" [group]="arrGroup"></app-input>
            }
            @case ('select') {
              <app-select [field]="field" [group]="arrGroup"></app-select>
            }
            @case ('date') {
              <app-date [field]="field" [group]="arrGroup"></app-date>
              } -->
            }
          </div>
        }
      </div>
    }
  </mat-card>
</div>
