.card {
    display: inline-flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px #4E4E4E29;
    border: 1px solid #F4F4F4;
    border-radius: 12px;
    height: 16rem;
    padding: 10px;
    margin: 0 10px;
    width: 18rem;
}

.nav {
    justify-content: center;
    flex-wrap: nowrap;
    width: max-content;
}

.nav-item {
    border: 1px solid #9299B2;
    border-radius: 6px;
    opacity: 1;
    margin: 0 0.5rem;
    text-align: center;
}

.nav>li>a {
    padding: 5px 15px;
}

.nav-pills .nav-link.active {
    background: #3E5DB1 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 8px #BACBFA;
    border: 1px solid #3E5DB1;
    border-radius: 6px;
    opacity: 1;
}

.container-cnt {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    overflow: auto;
}

.heading {
    font: normal normal bold 22px/24px 'Archivo';
    letter-spacing: 0px;
    color: #0F1F40;
}

.h-a:hover {
    .heading {
        color: #E67E15;
    }
}